---
import UnitLayout from '../../layouts/UnitLayout.astro';

import ActivityBlock from '../../components/ActivityBlock.astro';
import FormattedText from '../../components/FormattedText.astro';
import PageBlock from '../../components/PageBlock.astro';
import ShortcutList from '../../components/ShortcutList.astro';
import UnitByline from '../../components/UnitByline.astro';
import UnitDay from '../../components/UnitDay.astro';
import UnitQuestions from '../../components/UnitQuestions.astro';
import UnitStrip from '../../components/UnitStrip.astro';
import UnitTitle from '../../components/UnitTitle.astro';
import MediaList from "../../components/MediaList.astro";

const number = 1;
const title = "Soil as Substrate (Or “the Matter of Soil”)";
---
<UnitLayout
    number={number}
    title={title}
>
    <UnitStrip unit={number} imageSrc="/images/unit-1/header.jpg" alt="Illustrations" />
    <UnitTitle
        unit={number}
        title={title}
    />
    <UnitByline
        authors={[
            "Cynthia Browne",
            "Johannes Lehmann",
        ]}
    />

    <PageBlock>
        <ShortcutList
            unit={number}
            links={[
                "Who cares about (and for) soil?",
                "Assessing soil’s properties and uses",
                "Soil organic matter (not humus) and the metabolic life of soil: What are we getting wrong?",
                "Approaching soil as a repository of historical metabolism",
                "Materializing future horizons through soil",
            ]}
        />
        <FormattedText>
            <p class="large">
                In this unit, we approach soil as an active material that contributes to composing (and decomposing!) our
                lifeworlds. To do so asks us to consider how the composition of soil is linked to flows of energy and materials
                and dynamically intertwined with perception and response of various living and non-living processes. We
                borrow Tim Ingold’s notion of the “ecology of material” to help us think through soil as “matter that is
                always already historical” and how its material properties become a matter of concern for present communities
                and future generations. This unit seeks to answer these questions through 1)  introductory overview to the
                material composition of soil and its relation to use, 2) a review of the “metabolic” turn in soil studies to
                3) an exercise to think through the composition of soil as a form of material memory that shapes future growth.
            </p>
        </FormattedText>

        <UnitDay
            unit={number}
            day={1}
            headline="Who cares about (and for) soil?"
        >
            <FormattedText unit={number}>
                <p class="large">
                    To serve as a broad introduction to the course, today’s readings and activities aim to orient us towards
                    seeing soil as a material always in relation to its user and thus shaped by how it is cared for or neglected with
                    that use in mind.
                </p>
            </FormattedText>

            <ActivityBlock
                unit={number}
                headline="Beginning Exercise"
            >
                <FormattedText unit={number}>
                    <p>
                        Can you think of a community or group involved with improving or caring for soil?
                        What activities do they undertake with that soil? To what extent are those activities also interventions aimed
                        at altering or affecting the composition of soil? Does this investment into creating soil also map onto generating
                        new possibilities of growth? How is the ecology of soil linked with an ecology of social relationships and
                        hopes for the future? How are soil and ideas of care linked?
                    </p>
                </FormattedText>
            </ActivityBlock>

            <FormattedText unit={number}>
                <h3>Recommended Reading</h3>
                <MediaList>
                    <li>
                        Ingold, Tim. “Toward an Ecology of Materials” Annual Review of Anthropology.
                    </li>
                    <li>
                        Puig de la Bellacasa, Maria. “<a href="https://wrap.warwick.ac.uk/id/eprint/114796/" target="_blank" rel="noopener noreferrer">Re-Animating Soils: Transforming Human–Soil Affections through Science, Culture and Community</a>.” <i>The Sociological Review</i> 67, no. 2 (March 1, 2019): 391–407.
                    </li>
                </MediaList>

                <h3>Recommended Viewing</h3>
                <MediaList>
                    <li>
                        <a href="https://www.youtube.com/watch?v=XgiTOC9oGrM" target="_blank" rel="noopener noreferrer">Ruderal Ecologies- Radical Care Practices</a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/watch?v=x-I6qpvflfA" target="_blank" rel="noopener noreferrer">Re-Enchantment: Environmental Law and Ruderal Ecologies</a>
                    </li>
                </MediaList>
            </FormattedText>
        </UnitDay>

        <UnitDay
            unit={number}
            day={2}
            headline="Assessing soil’s properties and uses"
        >
            <FormattedText unit={number}>
                <p class="large">
                    Soil is a substrate viewed and evaluated in different ways depending on who is using it for what: it might be a
                    source of medicine, a media for growing crops, a place to store carbon, a filtration system for water, or where
                    to obtain clay for bricks, adobe or pottery, among many others. Soil is weathered from rock, influenced by plants,
                    soil biota and climate over time. Its properties depend on the interplay of all these factors in a way that it
                    is difficult to say whether the soil determines the plant or microbial community or vice versa. Rock-derived minerals
                    such as phyllosilicates (smectite, vermiculite, etc.) or quartz are the inorganic building blocks of soil that
                    are separated by size classes (texture) into rocks (&gt;2mm), sand (0.02-2mm), silt (0.002-0.02mm) and clay (&lt;0.002mm),
                    organic matter is mostly composed of decomposition products of plant and animal residues remaining from the
                    activity of soil biota, and the resulting soil structure distinguishes soil from other substrates. Soil structure is
                    the formation of aggregates as organic matter, especially from microbial products, glues together clay-, silt- and
                    sand-sized minerals. Most plant nutrients are released by weathering rock, except for nitrogen that evolutionarily
                    is a result of microbial fixation of atmospheric N<sub>2</sub> gas.
                </p>
            </FormattedText>

            <ActivityBlock
                unit={number}
                headline="Activity"
            >
                <FormattedText unit={number}>
                    <p>
                        How can we assess certain properties of soil in our own neighborhood, garden or park? There are some very easy
                        field methods for learning some basic properties of your soil quickly.
                    </p>
                    <ol>
                        <li>
                            Use this <a href="https://ahdb.org.uk/knowledge-library/how-to-determine-soil-texture" target="_blank" rel="noopener noreferrer">flow chart</a>
                            to assess soil texture. Once you know what your soil texture category is, you can look it up to learn more about its particular qualities.
                        </li>
                        <li>
                            Here are <a href="https://www.youtube.com/watch?v=7OYq6-_GW5Q" target="_blank" rel="noopener noreferrer">two</a>
                            <a href="https://www.youtube.com/watch?v=CEOyC_tGH64" target="_blank" rel="noopener noreferrer">videos</a> that
                            explain how to assess aggregation.
                        </li>
                    </ol>
                    <p>
                        Based on these tests, do you think the soil is “good” or “bad” and whose judgements are you using to determine this?
                    </p>
                    <p>
                        These videos and classification systems are made by soil scientists but who else uses the substrate and for what purposes beyond what you discussed in day one?
                    </p>
                    <p>
                        How might they assess the soil differently?
                    </p>
                    <p>
                        What processes does the substrate need to undergo for these different uses? I.e.  what Ingold calls a “gestural dance with the modulation
                        of the material.”(p 434). For example, here is a <a href="https://www.youtube.com/watch?v=y5ueGQvZNmk" target="_blank" rel="noopener noreferrer">video</a>
                        that shows the process in Ghana for making pottery from soil you might use as a starting point for discussion.
                    </p>
                </FormattedText>
            </ActivityBlock>
        </UnitDay>

        <UnitDay
            unit={number}
            day={3}
            headline="Soil organic matter (not humus) and the metabolic life of soil: What are we getting wrong?"
        >
            <FormattedText unit={number}>
                <p class="large">
                    Historically, organic matter in soil has been called humus. Humic substances were understood to be created
                    by microorganisms through humification, a process where recalcitrant material such as dead leaves and roots
                    break down and become part of the soil. The level of organic matter is often seen as a barometer for soil
                    health and the “fuel” feeding soil’s fertility. Organic matter tends to make up about 2-10% of soil but it
                    determines its ability to retain moisture, sequester carbon, decompose pollutants and retain nutrients. A
                    quick look online reveals it is easy to buy a bag of “humus” to improve your garden’s soil. However, when
                    scientists use the term humic substances (HSs) they are referring to something more specific: a particular
                    transformed substance that for centuries now has been theorized as fundamentally different from what it was
                    derived from. More recently, soil scientists have moved away from such a model and towards understanding
                    soil organic matter through a soil continuum model. In this model, plant residues are decomposed and the
                    microbial residues of this decomposition persist in soil longer than predicted from their molecular properties,
                    because they exist within and even interact with a complex soil architecture. This also means that plant
                    materials that decompose more rapidly generate more persistent organic matter if they generate more microbial
                    matter.
                </p>
                <p>
                    Metabolomics, or the science of what substances microorganisms produce, can tell us more about whether greater
                    diversity of metabolites in a given soil lead to persistence and whether decomposition generates a more diverse
                    molecular composition. In this feedback loop, fast decomposition of organic matter creates more diverse metabolites
                    and which then in turn slows decomposition. For example, if a microorganism requires a different enzyme to
                    eat each different organic compound around it, then it has to make a choice whether it is worth making that
                    costly enzyme to eat that one compound. Imagine you have to have a different spoon for each food item on your
                    plate, and making those spoons cost you more energy than the food contains that you can eat with it, what
                    would you do?  More organic carbon therefore accrues not by accumulation of what cannot be decomposed because
                    it is inedible, but by accumulation of what is produced as a result of decomposition. These materials are
                    eminently edible, but are not eaten for a variety of reasons, including spatial heterogeneity (because the
                    microbe cannot invest the energy to swim around the corner in the hope to find some food), temporal variability
                    (because getting used to cold or warm, wet or dry conditions takes time, and if conditions change very quickly
                    and every day, microbes that could eat organic carbon cannot adapt) and molecular diversity (as explained above)
                    that also affect how molecules interact with mineral surfaces (e.g., organic matter adsorbed to clay minerals
                    are more difficult to eat by microorganisms) and whether they are located in aggregates (e.g., organic matter
                    within aggregates are not reachable by microorganisms), both of which that makes them less accessible to
                    microorganisms that would eat these molecules to produce carbon dioxide.
                </p>
            </FormattedText>
            <ActivityBlock
                unit={number}
                headline="Lesson Plan"
            >
                <FormattedText unit={number}>
                    <p>
                        <span class="highlight-tag">Directions:</span> Take a spoon and dig up the first 5 cm (2 inches) of soil on your way
                        in the morning, place it on a white sheet of paper, take a photo and share where it is from; what can you see, what
                        do you recognize? Beyond our previous assessments of texture and aggregation, this exercise helps us consider all of
                        the different components of soil in their various states – some perhaps recognizable while much might seem homogenous
                        to the naked eye.  What about under a microscope? You might not be able to do that, but you can look at a lot of images of
                        <a href="https://www.botanicgardens.org/blog/microscopic-world-soil" target="_blank" rel="noopener noreferrer">soil under a microscope online</a>
                        (a general google search will also bring up plenty more!). While one of the primary reasons why scientists might be
                        interested in putting soil under the microscope is to consider the relationship between its microbial life and organic matter,
                        soil has also been home to our most important antibiotics and the <a href="https://imb.uq.edu.au/blog/2022/01/under-microscope-unearthing-soils-science-gallery" target="_blank" rel="noopener noreferrer">search for more is ongoing</a>.
                    </p>
                </FormattedText>
            </ActivityBlock>
            <FormattedText unit={number}>
                <h3>Readings/other media</h3>
                <MediaList>
                    <li>
                        <a href="https://pubmed.ncbi.nlm.nih.gov/30951127/" target="_blank" rel="noopener noreferrer">History of Humification (e.g., Kleber and Lehmann, 2019)</a>
                    </li>
                    <li>
                        For a historical example of trying to understand soil: Darwin’s obsession with earth worms:
                        <a href="https://www.nypl.org/blog/2012/04/19/earthworms-darwins-last-manuscript" target="_blank" rel="noopener noreferrer">The Importance of Earthworms: Darwin’s Lasat Manuscript</a>
                    </li>
                    <li>
                        Or listen a bit more about worms: <a href="https://www.podchaser.com/podcasts/soil-stories-with-nic-and-lean-1136307" target="_blank" rel="noopener noreferrer">Soil Stories with Nic and Leanna</a>
                    </li>
                </MediaList>

                <UnitQuestions
                    unit={number}
                    questions={[
                        "How does being aware of the vast array of living and non-living things that constitute soil change your view of it?",
                        "How does your thinking about soil change if the durability of organic matter is the interplay of biota and environment and that, perhaps counter-intuitiviely eating results in preserving? What is lost or gained in this shift away from humus as a particular substance?",
                        `Is such a view of soil carbon cycles more in line with <a href="https://www.e-flux.com/journal/75/67125/tentacular-thinking-anthropocene-capitalocene-chthulucene/" target="_blank" rel="noopener noreferrer">Donna Haraway’s thinking</a> ` +
                        `about <a href="https://tillwell.ca/embracing-humus-donna-haraway-vision/" target="_blank" rel="noopener noreferrer">humus</a> as a ` +
                        `substrate to inspire humans’ <a href="https://monoskop.org/images/9/9f/Franklin_Sarah_2017_Staying_with_the_Manifesto_An_Interview_with_Donna_Haraway.pdf" target="_blank" rel="noopener noreferrer">being in the world</a>?`,
                        "Why might the idea (and metaphor) of humus be such a hard one to abandon despite science that suggests it might be outdated?",
                    ]}
                />
            </FormattedText>
        </UnitDay>

        <UnitDay
            unit={number}
            day={4}
            headline="Approaching soil as a repository of historical metabolism"
        >
            <FormattedText unit={number}>
                <p class="large">
                    The turn towards a metabolic understanding of soil compositions also opens up possibilities for thinking about
                    the metabolic flows shaping soil in relation to human history, in particular due to technological changes and
                    industrial processes. Alterations in the material world following the emergence of synthetic chemistry and
                    its manufacture of new chemical compounds, as well as the adaptive re-use of industrial by-products (i.e “waste”)
                    are but a few ways these anthropogenic histories show up in the properties and make-up of soil. As knowledge
                    systems change, so do the assessment of the dangers and harm these histories entail, generating new regulations
                    that unequally affect communities and users of soil.
                </p>
            </FormattedText>
            <ActivityBlock
                unit={number}
                headline="Lesson Plan: PFAS in agricultural soil in the United States"
            >
                <FormattedText unit={number}>
                    <p>
                        <span class="highlight-tag">Introduction:</span> Short for Per- and polyfluoroalkyl substances, PFAS stands for a large,
                        complex group of synthetic chemicals that have been used in consumer products around the world since about the 1950s. Used
                        in a wide range of products, including preventing food from sticking to packaging or cookware, or to manufacture carpets
                        resistant to stains, they contain a chain of linked carbon and fluorine atoms that prevent them from being degraded. This
                        resistance to degradation has lent them the moniker of “forever chemicals” that means that they continue to cycle
                        through biochemical processes, migrating out of industry into soil, land, and water as part of a “metabolic history
                        of manufacturing waste.” (Landecker 2019). There are many places currently confronting the immense clean up
                        problems of dealing with PFAS in the environment and one of the most dramatic examples is Maine. The state of
                        Maine previously supported the re-use of wastewater sludge as fertilizer for rural farmsteads, but new forms of
                        detection and knowledge concerning the harmful effects of exposure to PFAS for human health (see also <a href="/units/3-soil-as-health">Unit #3</a>)
                        has resulted in new environmental regulations.
                    </p>
                    <p>
                        These regulations, which designate the soil as contaminated, are generating a crisis for rural farmers and landowners who use that soil.
                    </p>
                    <h4>
                        To read and discuss
                    </h4>
                    <ul>
                        <li>
                            Landecker, Hannah. 2019. A metabolic history of manufacturing waste: food commodities and their outsides. Food, Culture, and Society.
                        </li>
                        <li>
                            Sharon Lerner, “<a href="https://www.newyorker.com/magazine/2024/05/27/3m-forever-chemicals-pfas-pfos-toxic" target="_blank" rel="noopener noreferrer">How 3M Discovered, Then Concealed, the Dangers of Forever Chemicals</a>,” <i>The New Yorker</i>.
                        </li>
                        <li>
                            Zoë Schlanger, “<a href="" target="_blank" rel="noopener noreferrer">Maine Is a Warning for America’s PFAS Future</a>,” <i>The Atlantic</i>.
                        </li>
                        <li>
                            Watch: <a href="https://www.youtube.com/watch?v=qMBhBuPtEfI" target="_blank" rel="noopener noreferrer">Toxic disaster of PFAS contamination a nightmare for Maine farmers</a>
                        </li>
                    </ul>
                </FormattedText>
            </ActivityBlock>
        </UnitDay>

        <UnitDay
            unit={number}
            day={5}
            headline="Materializing future horizons through soil"
        >
            <FormattedText unit={number}>
                <p class="large">
                    The problem of industrial metabolites and synthetic compounds in soil as an historical remainder and reminder
                    of globalized industry and science leads to different kinds of practices of problem-solving depending on the
                    sites of the soil. In some cases, the proposed solutions may involve remediation practices, removal and containment
                    strategies, manufactured ignorance, or a combination of approaches. These histories and approaches generate
                    what (following Tsing et. al) we might call “patches” in the landscape. They also shape the kinds of designed
                    interventions and regulatory frameworks put in place for the future. Particular regulatory frameworks that
                    differ by nation or state may delimit what sorts of uses are now safe, or designate particular clean-up strategies
                    that may involve new approaches to landscape’s substrate that harness the metabolic properties of certain plants
                    to help “clean” that soil.
                </p>
                <h3>
                    Readings to Discuss
                </h3>
                <MediaList>
                    <li>
                        Kirkwood, Niall. 2001. <i>Manufactured Sites: Rethinking the Post-Industrial Landscape</i>. London; New York: Spon Press.
                    </li>
                    <li>
                        Kennen, Kate, and Niall Kirkwood. 2015. “<a href="https://doi.org/10.4324/9781315746661-5" target="_blank" rel="noopener noreferrer">Site Programs and Land Use</a>.” In <i>Phyto</i>, 1st ed., 247–98. United Kingdom: Routledge.
                    </li>
                </MediaList>
                <h3>
                    Additional Material
                </h3>
                <MediaList>
                    <li>
                        Film: Irene Lustzig, <a href="https://richlandfilm.com/screenings/" target="_blank" rel="noopener noreferrer"><i>Richland</i></a>
                    </li>
                    <li>
                        Art Installation: Mel Chin, <a href="https://melchin.org/oeuvre/revival-field/" target="_blank" rel="noopener noreferrer"><i>Revival Field</i></a>
                        <ul>
                            <li>
                                <a href="https://art21.org/read/mel-chin-revival-field/" target="_blank" rel="noopener noreferrer">Interview with Mel Chin</a>, Art21
                            </li>
                            <li>
                                Mike Curran, <a href="" target="_blank" rel="noopener noreferrer">What Can’t Be Buried: Unearthing <i>Revival Field</i></a>, Mn Artists, Walker Art Center
                            </li>
                        </ul>
                    </li>
                </MediaList>
            </FormattedText>
            <ActivityBlock
                    unit={number}
                    headline="Assignment"
            >
                <FormattedText unit={number}>
                    <h4>Step 1.</h4>

                    <p>
                        Read section 1.1 of “<a href="https://rgs-ibg.onlinelibrary.wiley.com/doi/epdf/10.1111/geoj.12558" target="_blank" rel="noopener noreferrer">Farming the Patchy Anthropocene</a>” and consider what a “patch” is.
                    </p>
                    <p>
                        You can also listen to this to learn a bit more about patches: Anna Tsing, "<a href="https://www.youtube.com/watch?v=gsaCmwHT1Xc&t=360s" target="_blank" rel="noopener noreferrer">Anthropocene Patches—Space, Time and Position</a>“ (discussion of patches starts at minute 6:00)
                    </p>
                    <p>
                        Identify and attune yourself with a landscape patch to discern how its qualities relate to its soil substrate. If possible,
                        make studied observations of the substrate’s material qualities and properties using tools from Day 1.
                        Experiment with drawing visible attributes of the patch in an exercise of “landscape ethnography” (Recommended Reading: Mathews, Andrew S. 2018. “<a href="https://doi.org/10.14506/ca33.3.05" target="_blank" rel="noopener noreferrer">Landscapes and Throughscapes in Italian Forest Worlds: Thinking Dramatically about the Anthropocene</a>.” Cultural Anthropology 33 (3): 386–414.)
                    </p>
                    <p>
                        If you cannot find a good landscape patch to examine, you might think about postindustrial parks and their attempts at
                        remaking polluted spaces into public parks. Here is an example: <a href="https://www.historylink.org/File/20978#:~:text=designed%20the%20masterplan" target="_blank" rel="noopener noreferrer">Gas Works Park</a>
                        and more generally: <a href="https://landezine.com/palimpsestous-landscapes-post-industrial-parks/" target="_blank" rel="noopener noreferrer">Palimpsestous Landscapes: Post-Industrial Parks</a>.
                    </p>

                    <h4>Step 2.</h4>

                    <p>
                        Couple these observations and  drawings with internet research to see if you can discern its ecological qualities and
                        potentialities. What sorts of vegetation and growth does this patch support? How might its material qualities and
                        properties be related to histories of use?
                    </p>

                    <h4>Step 3.</h4>

                    <p>
                        What sort of use is possible in the future? Would you wish for the soil of this patch to be different and if, so,
                        what sort of changes or “cleaning” does it require based on desired uses and the regulatory framework in place and
                        whom does it most affect? (Hint: Part of the strategy of dealing with the PFAS crisis is the removal of soil containing
                        PFAS to landfills. However, a critical environmental justice question to then ask is: what communities live in
                        proximity to those landfills?
                    </p>

                    <h4>Step 4.</h4>

                    <p>
                        What do these practices of remediation soil tell us about what it means to “clean” the soil? (Reading: Cram, Shannon. 2023.
                        “Trespassing.” in <i>Unmaking the Bomb</i>. Berkeley: University of California Press, 107-119.
                        Alternately, if you cannot access the article: Shannon Cram, “<a href="https://mosslit.com/Shannon-Cram-Here-in-the-Plutonium" target="_blank" rel="noopener noreferrer">Here, in the Plutonium</a>,” <i>Moss.</i>. For additional reading
                        on how people learn to live within frameworks of toxic risk, see Chloe Ahmann, “<a href="https://somatosphere.com/2020/toxic-disavowal.html" target="_blank" rel="noopener noreferrer">Toxic Disavowal</a>.”)
                    </p>
                </FormattedText>
            </ActivityBlock>
        </UnitDay>
    </PageBlock>
</UnitLayout>