---
import UnitLayout from '../../layouts/UnitLayout.astro';

import ActivityBlock from '../../components/ActivityBlock.astro';
import FormattedText from '../../components/FormattedText.astro';
import PageBlock from '../../components/PageBlock.astro';
import ShortcutList from '../../components/ShortcutList.astro';
import UnitByline from '../../components/UnitByline.astro';
import UnitDay from '../../components/UnitDay.astro';
import UnitHeader from '../../components/UnitHeader.astro';
import UnitQuestions from '../../components/UnitQuestions.astro';
import UnitStrip from '../../components/UnitStrip.astro';
import UnitTitle from '../../components/UnitTitle.astro';

const number = 3;
const title = "Soil as Health";
---
<UnitLayout
        number={number}
        title={title}
>
    <UnitHeader />
    <UnitStrip unit={number} imageSrc="/images/unit-x/unit-X-strip.jpeg" alt="Illustrations" />
    <UnitTitle
            unit={number}
            title={title}
    />
    <UnitByline
            authors={[
                "Tamar Novick",
                "Lulu Tessua",
                "Emily Brownell",
            ]}
    />

    <PageBlock>
        <ShortcutList
            unit={number}
            links={[
                "Dust",
                "Forms of care for the soil (interventions)",
                "Intimacies of the soil and the body",
                "The labors of the body (politic)",
            ]}
        />
        <FormattedText unit={number}>
            <p class="large">
                What is a healthy soil? Across time and cultures, soil health has often been used as a barometer for societal health.
                The now predictable argument is that if civilizations do not tend to the health and fertility of their own soil, they
                will eventually fall. The geologist David Montgomery’s book, <a href="https://www.google.co.uk/books/edition/Dirt/HSu8r15-nnoC?hl=en" target="_blank" rel="noopener noreferrer"><i>Dirt: The Erosion of Civilizations</i></a>
                tracks this argument from Mesopotamia to the present while also providing a history of how  scientists have come to
                understand the importance of soil as the “skin of the earth”. And yet, the question remains: what is a healthy soil, who
                gets to decide such things in any given place and time and what measures of coercion or freedom are taken to cultivate “healthy”
                soil? We might look back and in retrospect see what was considered healthy was actually harming. Thus, health is a historically
                and culturally constructed judgement of soil that is never without debate. This unit aims to construct a more nuanced conversation
                about how human health and soil health have been intertwined at different historical moments. We argue that societies have defined
                and intervened in soil health in a variety of ways and that we are now living out the legacies of these various definitions. The
                unit starts by considering how we evaluate soil, building on some of the readings and exercises from <a href="/units/1-soil-as-substrate">Unit 1</a>. We then
                look at how humans intervene to change soil health, and how soil health changes human health. The final day considers how soil is often seen as a
                reflection not just of individual bodies, but of the body politic, mirroring some of the topics discussed in the fourth and final unit
                on soil and belonging.
            </p>
        </FormattedText>

        <UnitDay
            unit={number}
            day={1}
            headline="Dust"
        >
            <FormattedText unit={number}>
                <p class="large">
                    People in a variety of historical and social contexts have developed different judgments and methods to understand
                    what a healthy or good soil might be. Often, it is only after soil becomes infertile that communities are left
                    to grapple with how the value of the soil relates to one’s own well being as well as the quality of other
                    life forms or products. Today’s activities and readings will consider how people determine and intervene
                    in soil when it mostly shows up as dust, revealing histories of erosion or pollution. How do people and
                    communities deal with dust when they deem it unhealthy and unruly, and how have these assessments
                    changed over time?
                </p>
            </FormattedText>
            <ActivityBlock
                unit={number}
                headline="Opening Activity"
            >
                <FormattedText unit={number}>
                    <p>
                        Interview a friend/family member (gardner, wine lover, compost producer, etc.) about how they evaluate a good soil.
                    </p>
                    <UnitQuestions
                        unit={number}
                        questions={[
                            "What senses and means do they use to understand their soil?",
                            "Where do judgments of soil come from? Or have they developed over time?",
                            "If they don’t think they know the difference between good or bad soil, what information do they feel they lack to make that judgment?",
                        ]}
                    />
                </FormattedText>
            </ActivityBlock>
            <ActivityBlock
                unit={number}
                headline="Activity: Experiencing the Dust Bowl, USA"
            >
                <FormattedText unit={number}>
                    <p>
                        The Dust Bowl was a series of dust storms, which destroyed farmlands in the Great Plains throughout the 1930s.
                        It is often considered the worst man-made ecological disaster in American history.
                    </p>
                    <p>
                        Read the <a href="/resources/excerpt-of-letter-of-caroline-henderson-oklahoma-farmer">excerpt</a> from the letter of
                        <a href="https://www.theatlantic.com/magazine/archive/1936/05/letters-from-the-dust-bowl/308897/" target="_blank" rel="noopener noreferrer">Caroline A. Henderson, a farmer in Oklahoma</a>,
                        to her friend in Maryland during the dust bowl, from 30 June 1935. Consider the following questions:
                    </p>
                    <UnitQuestions
                        unit={number}
                        questions={[
                            "How did Henderson understand the state of her soil?",
                            "How did these environmental circumstances affect people’s lives, well-being, and choices?",
                            "Does Henderson seem to wrestle with what caused these problems?",
                        ]}
                    />
                </FormattedText>
            </ActivityBlock>
            <ActivityBlock
                unit={number}
                headline="Activity 2: Soil Erosion, Soil Conservation, and Settler Colonialism"
            >
                <FormattedText unit={number}>
                    <p>
                        Soil conservationists of the 1930s and 1940s were deeply concerned with the problem of soil erosion, particularly
                        in colonial contexts. Much of their research was dedicated to historicizing global processes of desertification
                        during periods in which European powers were attempting to strengthen their hold onto arid and semi-arid territories.
                    </p>
                    <p>
                        Read the following excerpts from soil conservationists and answer the following questions:
                    </p>
                    <UnitQuestions
                        unit={number}
                        questions={[
                            "How did soil experts understand the state of the soil?",
                            "How did soil erosion relate to people’s lives, behavior, and choices?",
                            "Who is considered responsible for the state of the soil, and what are the solutions to environmental problems?",
                            "What sort of relationship between states and citizens (or colonial subjects) emerge around soil interventions?",
                        ]}
                    />
                    <p>
                        1. G. V. Jacks and R. O. Whyte, <a href="https://archive.org/details/rapeofearth0000gvja/page/10/mode/2up" target="_blank" rel="noopener noreferrer"><i>The Rape of the Earth: A World Survey of Soil Erosion</i></a>
                        (London: Faber and Faber Ltd., 1939), p. 26:
                    </p>
                    <blockquote>
                        “Erosion is a modern symptom of maladjustment between human society and its environment. It is a warning that Nature is
                        in full revolt against the sudden incursion of an exotic civilization into her ordered domains. Men are
                        permitted to dominate Nature on precisely the same condition as trees and plants, namely on conditions that they
                        improve the soil and leave it a little better for their posterity than they found it.”
                    </blockquote>
                    <p>
                        2. G. N. Sale, the Conservator of Forests of the British Government in Palestine, “Afforestation and Soil Conservation,”
                        lecture at the <i>Palestine Economic Society</i>, 28 December 1942, Israel State Archives/M-3/4188, 3-10:
                    </p>
                    <blockquote>
                        “In our conservation work we have to ally ourselves with nature…nature herself is anxious to avoid such phenomenon,
                        and we can count on her assistance in our effort…we must not only prevent further damage to land still capable
                        of production, but we must take steps to repair the ravages of past neglect, and to restore the fertility
                        of land which has been ruined by erosion.”
                    </blockquote>

                    <h4>Readings / Other Media</h4>
                    <ul>
                        <li>
                            Diana K Davis. “Introduction: Imperialism, Orientalism, and the Environment in the Middle East History,
                            Policy, Power, and Practice.” In <a href="https://library.oapen.org/bitstream/handle/20.500.12657/51086/1/external_content.pdf" target="_blank" rel="noopener noreferrer"><i>Environmental
                            Imaginaries of the Middle East and North Africa</i></a>, 1st ed. Ohio University Press, 2011.
                        </li>
                        <li>
                            Jumana Manna, <a href="https://www.e-flux.com/journal/113/360006/where-nature-ends-and-settlements-begin/" target="_blank" rel="noopener noreferrer">Where Nature Ends and Settlements Begin</a>
                        </li>
                        <li>
                            Arvind Dalawar, <a href="https://jacobin.com/2024/03/israel-afforestation-jnf-naqab-displacement" target="_blank" rel="noopener noreferrer">How Israel Weaponizes Tree Planting to Displace Palestinians</a>
                        </li>
                        <li>
                            Dotan Halevy, <a href="https://whitehorsepress.blog/2023/02/23/sands-lupines-and-the-ecology-of-the-uncultivable/" target="_blank" rel="noopener noreferrer">Sands, Lupines and the Ecology of the Uncultivable</a>
                        </li>
                        <li>
                            Sarah Smarsh, <a href="https://orionmagazine.org/article/prairie-grassland-restoration-north-america/">Protecting the Prairie</a>
                        </li>
                    </ul>
                </FormattedText>
            </ActivityBlock>
            <ActivityBlock
                unit={number}
                headline="Activity 3: Seeing Contaminated Soil - Mining Waste, South-Africa"
            >
                <FormattedText unit={number}>
                    <p>
                        South-Africa’s long-lasting gold and uranium mining industries left a wide-scale disastrous mark on the soil and on people’s bodies.
                    </p>
                    <ul>
                        <li>
                            Read Chapter 1: “You Can See Apartheid from Space”, pp. 19–46 (particularly pp. 19-23) in Gabrielle Hecht’s
                            <a href="https://library.oapen.org/handle/20.500.12657/85660" target="_blank" rel="noopener noreferrer"><i>Residual Governance: How South Africa Foretells Planetary Futures</i></a>
                            (Duke University Press, 2023).
                        </li>
                        <li>
                            Hannah le Roux and Gabrielle Hecht, <a href="https://www.e-flux.com/architecture/accumulation/345106/bad-earth/" target="_blank" rel="noopener noreferrer">Accumulation</a>
                        </li>
                    </ul>
                    <UnitQuestions
                        unit={number}
                        questions={[
                            "How is the contaminated soil experienced and evaluated?",
                            "How is unhealthy soil related to human life trajectories?",
                            "Who is considered responsible for the state of the soil and for mine workers’ health?",
                        ]}
                    />
                </FormattedText>
            </ActivityBlock>
        </UnitDay>

        <UnitDay
            unit={number}
            day={2}
            headline="Forms of care for the soil (interventions)"
        >
            <FormattedText unit={number}>
                <p class="large">
                    Caring for soil is a practice contingent on the diverse ways in which people relate to land. Care for soil is
                    related to care for bodies, about practices that variously connect humans to “tradition” or “modernity”. These
                    interventions can draw on or erase historical relations to the soil as well as determine futures. When things
                    fail – financially, ecologically – this can provoke changing regimes of care. In some cases this leads to
                    quick fix solutions such as the use of agrochemicals to revitalize the dying land. In other cases, this has
                    been a call to abandon agrochemicals and “return” to older traditions of stewarding soil.  Caring for soil
                    therefore ranges from composting to applying toxins, all forms being the reflection of a relationship an
                    individual or community has with soil as well as the capitalist pressures facing these actors.
                </p>
                <p>
                    For example, farmers in Pare, Tanzania use pesticides and agrochemicals to treat infertile soil in the rice
                    farms while natural manure is used outside the project for ginger farming. The demands of the crops and the
                    history of those crops command different ways of caring for the soil as well as for the crops, and thus different
                    relationships between different farmers and soil emerge.
                </p>
                <UnitQuestions
                        unit={number}
                        questions={[
                            "What can be done to take care of (un) healthy soil?",
                            "What makes the methods of caring for soil so diverse?",
                        ]}
                />
            </FormattedText>
            <ActivityBlock
                unit={number}
                headline="Lesson Plan"
            >
                <FormattedText unit={number}>
                    <blockquote>
                        “In response to an agrarian crisis, small-scale farmers in South India are experimenting with the application of
                        agricultural ferments to their degraded soils” <cite>(Munster, 2021)</cite>
                    </blockquote>
                    <p>
                        Think of any plant of your choice and find out what type of soil it grows in.  Research information about
                        how it grows best and determine how you would take care of the plant and the surrounding soil.
                    </p>
                    <h4>Readings / other media</h4>
                    <ul>
                        <li>
                            Watch <a href="https://www.youtube.com/watch?v=1-CR5t_9kBg&t=360s" target="_blank" rel="noopener noreferrer">Daniel Munster’s lecture</a> on agrarian crisis
                            in India and different forms of care for the soil employed by farmers (there’s transcript as well).
                            Start video around 6 minute mark.
                            <ul>
                                <li>
                                    Or read Munster’s article on “<a href="https://www.journals.uchicago.edu/doi/10.1086/715477" target="_blank" rel="noopener noreferrer">Nectar of Life:
                                    Fermentation, Soil Health, and Bionativism in Indian Natural Farming</a>”
                                </li>
                            </ul>
                        </li>
                        <li>
                            <b>Further Information:</b> GV Ramanjaneyulu, “<a href="https://www.youtube.com/watch?v=XJc5wqj06DY" target="_blank" rel="noopener noreferrer">The Imminent Crisis of Indian Agriculture</a>“
                            <ul>
                                <li>
                                    How does the way we choose to use land and soil lead to a series of other events and effects?  How we choose
                                    to use and care for land and soil can lead to a series of other events and effects e.g. Hyderabad India
                                    chooses to grow paddy In a once dry and useless land. They built a dam and investment in rice,
                                    greenhouse emissions from rice and pesticide dependency have triggered many other environmental,
                                    political and social issues in India.
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <p>
                        Read also <i>The Government of Beans</i> (2020) by Kregg Hetherington to consider how the imposition of capitalist
                        agricultural systems (monocrops) particularly since the “Green Revolution” have equated soil care with pesticide
                        use and fertilizer inputs.  These have,paradoxically, often destroyed soil health as well as imperiled human
                        health and then sought solutions to the problems they have created rather than avoided the problems
                        in the first place:
                    </p>
                    <ul>
                        <li>
                            Hetherington, Kregg. <a href="https://doi.org/10.1215/9781478007487" target="_blank" rel="noopener noreferrer"><i>The Government
                            of Beans: Regulating Life in the Age of Monocrops</i></a>. Durham: Duke University Press Books, 2020.
                            (Might focus on Chapter 2, Chapter 10, Chapter 13, and Chapter 16, all short.)
                        </li>
                        <li>
                            Or listen to this podcast: “<a href="https://www.greendreamer.com/podcast/kregg-hetherington-government-of-beans" target="_blank" rel="noopener noreferrer">Kregg Hetherington:
                            The paradox of destroying lands in the name of social welfare</a>,“ episode 348, Green Dreamer
                        </li>
                        <li>
                            Or read this short essay: <a href="https://culanth.org/fieldsights/when-plants-farm-themselves" target="_blank" rel="noopener noreferrer">When Plants Farm Themselves</a>
                        </li>
                    </ul>
                    <h4>Further reading:</h4>
                    <ul>
                        <li>
                            Agard Jones, Vanessa, “<a href="https://somatosphere.com/2014/spray.html/" target="_blank" rel="noopener noreferrer">Spray</a>”
                        </li>
                        <li>
                            Nash, Linda. “The Fruits of Ill-Health: Pesticides and Workers’ Bodies in Post-World War II California.” <i>Osiris</i> 19 (2004): 203–19.
                        </li>
                        <li>
                            “<a href="https://www.theguardian.com/global-development/gallery/2014/may/05/india-cotton-suicides-farmer-deaths-gm-seeds" target="_blank" rel="noopener noreferrer">India's farmer suicides: are deaths linked to GM cotton?</a>,” <i>The Guardian</i>
                        </li>
                        <li>
                            New Books Network Podcast: <a href="https://newbooksnetwork.com/glyphosate-and-the-swirl" target="_blank" rel="noopener noreferrer">Vincanne Adams, “Glyphosate and the Swirl: An Agroindustrial Chemical on the Move”</a>
                        </li>
                        <li>
                            See essays on this website by Jayson Porter, Lulu Tessua, and Seth Denizen
                        </li>
                        <li>
                            This podcast from the University of Minnesota Extension office looks at the role of nitrogen in
                            farming: <a href="https://storyofn.transistor.fm/episodes" target="_blank" rel="noopener noreferrer">Story of Nitrogen</a>
                        </li>
                        <li>
                            For another historical example of the intertwined nature of soil and human health: Reed, Molly.
                            “<a href="https://doi.org/10.1093/envhis/emaa083." target="_blank" rel="noopener noreferrer">Morbidly Excited Soil: Sylvester Graham and the Environmental Ethos of Antebellum Reform</a>.”
                            <i>Environmental History</i>, no. emaa083 (January 31, 2021).
                        </li>
                        <li>
                            To consider the two fundamental choices that emerge when soil becomes degraded (improvement or migration), read Steven Stoll’s
                            <a href="https://www.google.co.uk/books/edition/Larding_the_Lean_Earth/qYqD2tj7kK8C?hl=en" target="_blank" rel="noopener noreferrer"><i>Larding the Lean Earth</i></a>
                            about 19th century American farmers in the northeast.
                        </li>
                    </ul>
                </FormattedText>
            </ActivityBlock>
            <ActivityBlock
                unit={number}
                headline="Assignment 2"
            >
                <FormattedText unit={number}>
                    <p>
                        Browse through this <a href="https://digital.sciencehistory.org/collections/mg74qm28w" target="_blank" rel="noopener noreferrer">collection of pesticide containers</a>
                        and take notes on the following for discussion:
                    </p>

                    <UnitQuestions
                        unit={number}
                        questions={[
                            "What are some of the design and language choices used for marketing pesticides?",
                            "Take note of dates: are there differences across time in how pesticides have been labeled and marketed?",
                            "Who are the companies making these products?",
                            "What else do you notice that surprises or intrigues you?",
                        ]}
                    />
                    <p>
                        In addition, read “Chapter 11: Beyond the Dreams of the Borgias” in Carson, Rachel. <i>Silent Spring</i>.
                        (Boston; Cambridge, Mass.: Houghton Mifflin Company, 1962). There are many places to find this online but
                        here’s <a href="https://www.fao.org/fileadmin/templates/library/pdf/Silent_spring.pdf" target="_blank" rel="noopener noreferrer">one</a>.
                    </p>
                </FormattedText>
            </ActivityBlock>
        </UnitDay>

        <UnitDay
            unit={number}
            day={3}
            headline="Intimacies of the soil and the body"
        >
            <FormattedText unit={number}>
                <p class="large">
                    This week we continue to look at how human health and soil health are intertwined, particularly through the
                    laboring body. Moving away from soil as a medium for agriculture (and its inputs), we look instead at
                    how soil also serves as a medium for parasitic life as well as a site of an immense amount of human
                    (and animal) manual labor. Indeed, microbial life constitutes soil inasmuch as soil is also a reservoir
                    for such life. Thus, working with soil is also exposing oneself – for better or worse – to the living
                    things it harbors. First, we will look at how hookworm epidemics have historically traced the contours of
                    capitalism’s expansion and in the process helped establish major institutions of public health. Such
                    campaigns against soil-based parasites also fit into a longer narrative of soil as unclean and regimes
                    of bodily hygiene. Proximity to soil (or dirt) and not being able to escape the toil of such labor has
                    often been a marker of class, race, and gender, marking such bodies as dirty and diseased. Shifting
                    our terms from soil to dirt in this section, dirt nearly always marks something or someone suspect and
                    malign, suggesting those who labor in it are also dirty or “soiled”.
                </p>
            </FormattedText>
            <ActivityBlock
                unit={number}
                headline="Lesson Plan: Soil, labor, and hookworm"
            >
                <FormattedText unit={number}>
                    <h4>
                        Watch
                    </h4>
                    <ul>
                        <li>
                            <a href="http://www.colonialfilm.org.uk/node/735" target="_blank" rel="noopener noreferrer"><i>Tropical Hookworm</i></a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/watch?v=OD-sDlSDrKk" target="_blank" rel="noopener noreferrer"><i>Unhooking the Hookworm</i></a>
                        </li>
                    </ul>
                    <UnitQuestions
                        unit={number}
                        questions={[
                            "If we understand each video as a public health message shown to a population vulnerable to hookworm, how do they address each of these audiences?",
                            "How does each video explain or otherwise show the cause of hookworm infection?",
                            "If you were to critically respond to these videos, what is left out of the story here?",
                        ]}
                    />
                    <h4>Read</h4>
                    <ul>
                        <li>
                            Rockefeller Archive Center:
                            <a href="https://resource.rockarch.org/story/public-health-how-the-fight-against-hookworm-helped-build-a-system/" target="_blank" rel="noopener noreferrer">Public Health: How the Fight Against Hookworm Helped Build a System</a>
                        </li>
                        <li>
                            Normal Stoll, “<a href="https://www.jstor.org/stable/pdf/3273613.pdf?refreqid=excelsior%3A57155c657a2fca917ed9c11bd68a789a&ab_segments=&origin=&acceptTC=1" target="_blank" rel="noopener noreferrer">This Wormy World</a>,”
                            <i>Journal of Parasitology</i>
                        </li>
                        <li>
                            Chapter 7 in Bhattacharya, Nandini. <a href="https://muse.jhu.edu/pub/105/oa_monograph/chapter/2493025" target="_blank" rel="noopener noreferrer"><i>Contagion and Enclaves: Tropical Medicine in Colonial India</i></a>.
                            Liverpool University Press, 2012.
                        </li>
                        <li>
                            Anderson, Warwick. “<a href="https://people.stfx.ca/rsemple/Courses%202019/Medicine,%20Belief%20and%20Identity/Readings/Anderson%20Excremental%20Imperialism.pdf" target="_blank" rel="noopener noreferrer">Excremental Colonialism: Public Health and the Poetics of Pollution</a>.”
                            <i>Critical Inquiry</i> 21, no. 3 (1995): 640–69.
                        </li>
                        <li>
                            P. Wenzel Geissler (1998) <a href="https://www.tandfonline.com/doi/abs/10.1080/13648470.1998.9964549" target="_blank" rel="noopener noreferrer">‘Worms are our life’, part I: Understandings of worms and the body among the Luo of western Kenya</a>, <i>Anthropology & Medicine</i>, 5:1, 63-79.
                        </li>
                        <li>
                            Jamie Lorimer, <a href="https://anthrosource.onlinelibrary.wiley.com/doi/full/10.1111/maq.12466" target="_blank" rel="noopener noreferrer">Hookworms Make Us Human: The Microbiome, Eco‐immunology, and a Probiotic Turn in Western Health Care</a>
                        </li>
                        <li>
                            Listen: “<a href="https://www.thisamericanlife.org/404/enemy-camp-2010/act-three-0" target="_blank" rel="noopener noreferrer">As The Worm Turns</a>,” This American Life
                        </li>
                    </ul>
                    <p>
                        Scientists in the late 19th century had seen the hookworm under a microscope and understood its lifecycle passing from
                        soil to humans. As you can see from the Rockefeller archive and Norman Stoll, by the early 20th century, the hookworm
                        was seen as a major obstacle to development and progress at the same time that we can see that it is precisely the
                        spaces of capitalist agricultural expansion (such as tea plantations) where hookworm most quickly reaches
                        epidemic levels. Indeed, many people have and continue to suffer from the effects of hookworm infections.
                    </p>
                    <UnitQuestions
                        unit={number}
                        questions={[
                            "How does hookworm and soil help us put labor and health in the same analytical frame?",
                            "Outside of a developmentalist framework, how do other cultures understand and live with worms?",
                            "How might western biomedicine also be coming around to hookworm as an essential companion species for humans? And does this challenge the normative assessment of soil as dirty and even dangerous to our health?",
                        ]}
                    />
                </FormattedText>
            </ActivityBlock>
        </UnitDay>

        <UnitDay
            unit={number}
            day={4}
            headline="The labors of the body (politic)"
        >
            <FormattedText unit={number}>
                <p class="large">
                    In the aftermath of slavery and Jim Crow in the United States and at the end of colonial rule in Africa, African
                    and African American communities often sought healing through restoring a relationship with land and soil on their
                    own terms. You can find this articulated at the level of the small rural community up to the scale of the new
                    nation state. To do so, became a claim to sovereignty and a way to honor an ancestry and who had shaped the
                    modern world through their knowledge and skills often only to be meted out with violence and historic erasure
                    in return. The soil and the field then became a site of both communal anguish and renewal, burial and rebirth.
                    Today we will take a look at some of the ways that the ambitions for a healthy body politic were often enunciated
                    as care for the soil.
                </p>
            </FormattedText>
            <ActivityBlock
                unit={number}
                headline="Assignment"
            >
                <FormattedText unit={number}>
                    <p>
                        Find and watch some videos about black farmers in the US. How do they situate themselves and their practice of gardening
                        or farming? How does history figure in their relationship with the land? Do they articulate a connection between land
                        and health? How do they articulate the benefits of farming beyond a food harvest?
                    </p>
                    <p>
                        Here are some videos to start you off:
                    </p>
                    <ul>
                        <li>
                            <a href="https://www.youtube.com/watch?v=n2ab8zdr0dU" target="_blank" rel="noopener noreferrer">A Black Farmer Preserving History</a>, Feed the People
                        </li>
                        <li>
                            Leah Penniman, <a href="https://www.youtube.com/watch?v=9QYDXtMiV80" target="_blank" rel="noopener noreferrer">Farming While Black</a>, TEDxBoston
                        </li>
                        <li>
                            <a href="https://www.youtube.com/watch?v=Cxbdwsy88V4" target="_blank" rel="noopener noreferrer">The Young Black Farmers Defying a Legacy of Discrimination</a>, VICE News
                        </li>
                        <li>
                            <a href="https://www.youtube.com/watch?v=D-P9SNhExmw" target="_blank" rel="noopener noreferrer">Marsh View Community Farm</a>, Bill Green’s Gullah Cooking
                        </li>
                    </ul>
                    <p>
                        And a supplemental reading:
                    </p>
                    <ul>
                        <li>
                            “<a href="https://www.nytimes.com/2021/10/26/special-series/black-gardeners-pandemic.html" target="_blank" rel="noopener noreferrer">Black Gardeners Find Refuge in the Soil</a>,” <i>The New York Times</i>
                        </li>
                        <li>
                            A <a href="https://x.com/Federation1967/status/1283109513248243714" target="_blank" rel="noopener noreferrer">brief Twitter thread</a> on the history of Black farming in the American South
                        </li>
                        <li>
                            Camille T. Dungy, <a href="https://camilledungy.com/soil/" target="_blank" rel="noopener noreferrer"><i>Soil: The Story of a Black Mother’s Garden</i></a>
                        </li>
                    </ul>
                    <p>
                        Or, to listen:
                    </p>
                    <ul>
                        <li>
                            <a href="https://www.christinriddick.org/podcast/episode/22443223/47-addressing-trauma-and-privilege-of-the-land-feat-camille-t-dungy" target="_blank" rel="noopener noreferrer">Interview with Camille T. Dungy</a>, The Afro Beets Podcast
                        </li>
                    </ul>
                </FormattedText>
            </ActivityBlock>
            <FormattedText unit={number}>
                <h3>
                    Reading and Discussion
                </h3>
                <ul>
                    <li>
                        Filipa César, <a href="https://www.buala.org/en/afroscreen/meteorisations-reading-amilcar-cabral-s-agronomy-of-liberation" target="_blank" rel="noopener noreferrer">METEORISATIONS Reading Amílcar Cabral’s agronomy of liberation</a>, BUALA
                    </li>
                    <li>
                        Filipe Carreira da Silva and Monica Brito Vieira, “<a href="https://eprints.whiterose.ac.uk/208359/8/carreira-da-silva-vieira-2024-amilcar-cabral-colonial-soil-and-the-politics-of-insubmission.pdf" target="_blank" rel="noopener noreferrer">Amílcar Cabral, Colonial Soil and the Politics of Insubmission</a>.” <i>Theory, Culture & Society</i>
                    </li>
                    <li>
                        Joe P. L. Davidson and Filipe Carreira da Silva, “<a href="https://journals.sagepub.com/doi/full/10.1177/02632764241242380" target="_blank" rel="noopener noreferrer">Decolonising the Earth: Anticolonial Environmentalism and the Soil of Empire</a>,” <i>Theory, Culture & Society</i>
                    </li>
                    <li>
                        Ankit Bhardwaj, “<a href="https://journals.sagepub.com/doi/full/10.1177/07352751231164999" target="_blank" rel="noopener noreferrer">The Soils of Black Folk: W.E.B. Du Bois’s Theories of Environmental Racialization</a>,” <i>Sociological Theory</i>
                    </li>
                    <li>
                        Monica M. White and LaDonna Redmond. <a href="https://uncpress.org/book/9781469643700/freedom-farmers/" target="_blank" rel="noopener noreferrer"><i>Freedom Farmers: Agricultural Resistance and the Black Freedom Movement</i></a>. The University of North Carolina Press, 2018.
                    </li>
                    <li>
                        Sarah L. Lincoln, “<a href="https://www.tandfonline.com/doi/full/10.1080/02533952.2018.1430476" target="_blank" rel="noopener noreferrer">Notes from Underground: Fugitive Ecology and the Ethics of Place</a>,” <i>Social Dynamics</i>
                    </li>
                    <li>
                        Priscilla McCutcheon, “<a href="https://onlinelibrary-wiley-com.eux.idm.oclc.org/doi/full/10.1111/anti.12500" target="_blank" rel="noopener noreferrer">Fannie Lou Hamer’s Freedom Farms and Black Agrarian Geographies</a>,” <i>Antipode</i>
                    </li>
                    <li>
                        “<a href="https://www.botanicalmind.online/podcasts/the-coloniality-of-planting" target="_blank" rel="noopener noreferrer">The Coloniality of Planting with Ros Gray & Shela Sheikh</a>,” The Botanical Mind, Camden Art Centre
                    </li>
                </ul>
                <p>
                    Finally, soil is also a place where the violence of the past can linger on. Here are a few examples of where artists and
                    communities are working with soil as a medium for healing from racial violence and dispossession. Why do you think soil
                    has emerged as such a popular medium for such work.
                </p>
                <ul>
                    <li>
                        Leanna First-Arai, “<a href="https://www.yesmagazine.org/issue/dirt/2019/02/27/remembering-our-history-of-racial-injustice-through-soil" target="_blank" rel="noopener noreferrer">How Soil Acts as a Living Witness to Racial Violence</a>,” YES!
                    </li>
                    <li>
                        Ama Codjoe, “<a href="https://orionmagazine.org/article/this-land-was-made/" target="_blank" rel="noopener noreferrer">This Land was Made</a>,” Orion Magazine
                    </li>
                    <li>
                        Hannah Hutchings-Georgiou, “<a href="https://elephant.art/daughters-of-the-dust-the-radical-soil-based-work-of-contemporary-women-artists/#:~:text=Hayv%20Kahraman's%20work%20speaks%20into,which%20are%20created%20on%20flax" target="_blank" rel="noopener noreferrer">Daughters of the Dust: The Radical Soil-Based Work of Contemporary Women Artists</a>,” Elephant
                    </li>
                    <li>
                        Nkhensani Mkhari, “<a href="https://editorial.latitudes.online/blog/posts/earthbound-soil-and-memory-in-contemporary-south-african-art/" target="_blank" rel="noopener noreferrer">Earthbound: Soil and Memory in Contemporary South African Art </a>,” Latitudes
                    </li>
                    <li>
                        “<a href="https://hirshhorn.si.edu/explore/at-home-on-art-and-soil-artist-talk-with-kiyan-williams/" target="_blank" rel="noopener noreferrer">On Art and Soil: Artist Talk with Kiyan Williams</a>,” At Home, Hirshhorn Museum and Sculpture Garden
                    </li>
                </ul>
            </FormattedText>
        </UnitDay>
    </PageBlock>

</UnitLayout>
