---
import UnitLayout from '../../layouts/UnitLayout.astro';

import ActivityBlock from '../../components/ActivityBlock.astro';
import FormattedText from '../../components/FormattedText.astro';
import PageBlock from '../../components/PageBlock.astro';
import ShortcutList from '../../components/ShortcutList.astro';
import UnitByline from '../../components/UnitByline.astro';
import UnitDay from '../../components/UnitDay.astro';
import UnitHeader from '../../components/UnitHeader.astro';
import UnitQuestions from '../../components/UnitQuestions.astro';
import UnitStrip from '../../components/UnitStrip.astro';
import UnitTitle from '../../components/UnitTitle.astro';

const number = 3;
const title = "Soil as Health";
---
<UnitLayout
        number={number}
        title={title}
>
    <UnitHeader />
    <UnitStrip unit={number} imageSrc="/images/unit-x/unit-X-strip.jpeg" alt="Illustrations" />
    <UnitTitle
            unit={number}
            title={title}
    />
    <UnitByline
            authors={[
                "Tamar Novick",
                "Lulu Tessua",
                "Emily Brownell",
            ]}
    />

    <PageBlock>
        <ShortcutList
            unit={number}
            links={[
                "Dust",
                "Forms of care for the soil (interventions)",
                "Intimacies of the soil and the body",
                "The labors of the body (politic)",
            ]}
        />
        <FormattedText>
            <p class="large">
                What is a healthy soil? Across time and cultures, soil health has often been used as a barometer for societal health.
                The now predictable argument is that if civilizations do not tend to the health and fertility of their own soil, they
                will eventually fall. The geologist David Montgomery’s book, <a href="" target="_blank" rel="noopener noreferrer"><i>Dirt: The Erosion of Civilizations</i></a>
                tracks this argument from Mesopotamia to the present while also providing a history of how  scientists have come to
                understand the importance of soil as the “skin of the earth”. And yet, the question remains: what is a healthy soil, who
                gets to decide such things in any given place and time and what measures of coercion or freedom are taken to cultivate “healthy”
                soil? We might look back and in retrospect see what was considered healthy was actually harming. Thus, health is a historically
                and culturally constructed judgement of soil that is never without debate. This unit aims to construct a more nuanced conversation
                about how human health and soil health have been intertwined at different historical moments. We argue that societies have defined
                and intervened in soil health in a variety of ways and that we are now living out the legacies of these various definitions. The
                unit starts by considering how we evaluate soil, building on some of the readings and exercises from <a href="/units/1-soil-as-substrate">Unit 1</a>. We then
                look at how humans intervene to change soil health, and how soil health changes human health. The final day considers how soil is often seen as a
                reflection not just of individual bodies, but of the body politic, mirroring some of the topics discussed in the fourth and final unit
                on soil and belonging.
            </p>
        </FormattedText>

        <UnitDay
            unit={number}
            day={1}
            headline="Dust"
        >

        </UnitDay>

        <UnitDay
            unit={number}
            day={2}
            headline="Forms of care for the soil (interventions)"
        >

        </UnitDay>

        <UnitDay
            unit={number}
            day={3}
            headline="Intimacies of the soil and the body"
        >

        </UnitDay>

        <UnitDay
            unit={number}
            day={4}
            headline="The labors of the body (politic)"
        >

        </UnitDay>
    </PageBlock>

</UnitLayout>
