---
import UnitLayout from '../../layouts/UnitLayout.astro';

import ActivityBlock from '../../components/ActivityBlock.astro';
import FormattedText from '../../components/FormattedText.astro';
import PageBlock from '../../components/PageBlock.astro';
import ShortcutList from '../../components/ShortcutList.astro';
import UnitByline from '../../components/UnitByline.astro';
import UnitDay from '../../components/UnitDay.astro';
import UnitHeader from '../../components/UnitHeader.astro';
import UnitQuestions from '../../components/UnitQuestions.astro';
import UnitStrip from '../../components/UnitStrip.astro';
import UnitTitle from '../../components/UnitTitle.astro';

const number = 4;
const title = "Soil as Belonging";
---
<UnitLayout
    number={number}
    title={title}
>

    <UnitHeader />
    <UnitStrip unit={number} imageSrc="/images/unit-x/unit-X-strip.jpeg" alt="Illustrations" />
    <UnitTitle
            unit={number}
            title={title}
    />
    <UnitByline
            authors={[
                "Dotan Halevy",
                "Paul Kurek",
                "Basil Ibrahim",
                "Steven Stoll",
            ]}
    />

    <PageBlock>
        <ShortcutList
            unit={number}
            links={[
                "Soil and Sense of Place",
                "Blood and Soil, Race and Nation",
                "Soil as property and the properties of soil",
                "Ashes to Ashes: Cemeteries and Burial Ground",
            ]}
        />
        <FormattedText>
            <p class="large">
                Soil underlies human activity and society in the very physical and biological sense. It’s the literal foundation
                for any kind of be(long)ing, because the cultivation of land feeds our bodies. However, human attachment to soil often
                includes a series of abstractions, transforming soils from a physical substrate into ownership (like property in land),
                or place (homeland, locality). Both senses relate to the words <i>belong</i> and <i>belonging</i>, which come from older Dutch
                and German words for demand, obtain, reach for, and long for. What is the circular feedback between the conception of
                land as an object of belonging and soil as a container and enabler of life? How do we grapple with the differences
                or similarities between feeling tied to a particular place on earth and a political project that aims to tie
                belonging to the soil through a rhetoric of blood, purity, and ultimately violence?
            </p>
        </FormattedText>

        <UnitDay
                unit={number}
                day={1}
                headline="Soil and Sense of Place"
        >
            <FormattedText>
                <p class="large">
                    Today’s focus is on thinking and reading about how soil and our sensorial experience of it  can often evoke a feeling of home.
                </p>
            </FormattedText>
            <UnitQuestions
                unit={number}
                questions={[
                    "Do you see soil somewhere around where you live?",
                    "Can you define what kind of soil it is? What is its texture? Smell? Taste?",
                    "Do you consider soil part of your sense of home?",
                ]}
            />
            <ActivityBlock
                unit={number}
                headline="Lesson plan: Get Down On the Ground"
            >
                <p>
                    We tend to avoid the ground. It’s fine to walk on and maybe to dig with a shovel, but most people who are not farmers
                    avoid contact with the soils that sustain all the grass, trees, and other plants all around us. While in Unit 1 we took a
                    more removed eye to assessing soil’s textures and components, now it’s time to use the other senses as well. What
                    does the smell or even taste of soil evoke for you?
                </p>
                <p>
                    <span class="highlight-tag">One of the members of our seminar had this experience:</span> I was on the ground playing
                    with my child when I smelled something deeply familiar. It was the soil, which I had known when I was her age.
                    Time and the growth of my body had distanced me from interacting with soil, its texture, its smell, all of its
                    properties, as intimately as I once did.
                </p>
                <p>
                    Understanding soil in all the ways expressed in this syllabus must begin with the stuff itself. It’s not an
                    idea–it’s a substance made up of living and non-living things. The first assignment is to smell it, taste it,
                    and feel it wherever you live.
                </p>
                <p>
                    Some examples of what engaging with soil in this way might evoke:
                </p>
                <p>
                    The artist Laura Parker suggests tasting soil and created an interactive-installation called
                    <a href="https://www.lauraparkerstudio.com/taste" target="_blank" rel="noopener noreferrer"><i>Taste of Place</i></a> in which
                    she held soil tastings with samples from eighty-six farms. Taste your soils and write a paragraph about the experience.
                </p>
                <p>
                    Or, read the first two pages of <a href="https://www.google.co.uk/books/edition/The_Known_World/CVS9a6lC5CwC?hl=en&gbpv=1&pg=PA1&printsec=frontcover" target="_blank" rel="noopener noreferrer"><i>The Known World</i></a>
                    here to consider the tangled ways tasting soil can evoke a lifetime of accrued knowledge of a place.
                </p>
                <p>
                    Here is another article that helps reconnect with what it is like to dig in the dirt:
                </p>
                <p>
                    Emma Marris, “<a href="https://emergencemagazine.org/essay/tending-soil/" target="_blank" rel="noopener noreferrer">Tending Soil</a>,” <i>Emergence Magazine</i>
                </p>
            </ActivityBlock>

            <ActivityBlock
                unit={number}
                headline="Assignment 2: Soils and Home"
            >
                <p>
                    How does soil type help to define your place in the world? It’s a strange question because you probably had no idea
                    what your local soil is called or what it’s made of but it certainly has played a role in what makes up the
                    ecology of your region.
                </p>
                <p>
                    Take a look at the <a href="https://soilexplorer.net/" target="_blank" rel="noopener noreferrer">World Soil Explorer</a>, which
                    allows you to see soil types in any country, city, and even locality. If you live in the United States, you can
                    look up your <a href="https://www.nrcs.usda.gov/resources/education-and-teaching-materials/state-soils" target="_blank" rel="noopener noreferrer">state’s official soil</a>: the soil most common in your state.
                </p>
                <p>
                    The American naturalist and philosopher Henry David Thoreau engaged in a kind of experiment in 1845. He built a
                    very small house and lived on the shore of Walden Pond for two years, two months, and two days. In <i>Walden</i>,
                    Thoreau writes about the entire environment of the pond. One of the things he did in those years was to grow
                    acres of beans for himself and to exchange for other locally-grown products.
                </p>
                <p>
                    <a href="https://www.gutenberg.org/files/205/205-h/205-h.htm" target="_blank" rel="noopener noreferrer">Read the first few pages of “The Beanfield” from <i>Walden</i></a>.
                    How does cultivating the soil’s of Concord, Massachusetts, deepen Thoreau’s relationship to his native town? Where would you live to be close to your soils and how do you think the experience would change you?
                </p>
                <p>
                    Where would you live to be close to your soils and how do you think the experience would change you?
                </p>
            </ActivityBlock>


        </UnitDay>

        <UnitDay
                unit={number}
                day={2}
                headline="Blood and Soil, Race and Nation"
        >
            <FormattedText>
                <p class="large">
                    Romantic illustrations of soil, landscapes, vegetation, forests, light, plants, flowers, crosses, and ruins encapsulate
                    the human longing for connecting to the land and nature as locus amoenus (idealized place) of their origin.
                    Cultivating the land in the agricultural sense but also recreationally, e.g. in the form of <i>Wandervereine</i>
                    (hiking organizations). This desire to connect to the land is prone to being manipulated to form a rigid
                    collective identity, as prominently happened during German fascism and its blood and soil fantasies that
                    fed off the emergence of race theory in the 19th century and its subsequent proliferation not only
                    in Europe but also in the rest of the world. Going back to the old Germanic tribes, National
                    Socialists claimed that their intimate connection to the farmland boosted the eugenic potency of their
                    blood and furthermore enabled them to ultimately dominate over soil. While the intimate relationship between
                    soil and people can be weaponized to put a racial claim on the land, the mobile and fluid nature of soil
                    can help us to deconstruct these claims.
                </p>
            </FormattedText>
            <UnitQuestions
                unit={number}
                questions={[
                    "How/when does soil become an object of collective identity?",
                    "What are the added layers of meaning attached to soil for it to become part of one’s identity formation?",
                    "What role does art—or other types of media—play in establishing this connection between blood and soil?",
                ]}
            />
            <ActivityBlock
                unit={number}
                headline="Assignment"
            >
                <p>
                    In 2024, the Alte Nationalgalerie in Berlin showcased an exhibit by famous romantic painter Caspar David Friedrich (1774-1840)
                    named <a href="https://www.smb.museum/en/exhibitions/detail/caspar-david-friedrich/" target="_blank" rel="noopener noreferrer">Infinite Landscapes</a>.
                    The painter, known for depictions of endless landscapes such as <a href="https://www.hamburger-kunsthalle.de/en/wanderer-travel" target="_blank" rel="noopener noreferrer">Wanderer Above the Sea Fog</a>,
                    continues to spark the imagination of today’s visitors and connection to a communal longing for nature.
                    At the same time, it was romantic painters like Friedrich who showed the beauty of the German landscape that the
                    Nazis then instrumentalized to illustrate the ideological connection between blood and soil. It helped them make
                    the case that the German soil had to be defended via bloodshed. First, take a look at the exhibition website
                    and write down your initial thoughts. How do these paintings make you feel about your place in nature and the world?
                    Then, in a second step, give us your thoughts about how you think idealizing nature as national territory distorts
                    or weaponizes the sentimental feeling nature might trigger for its own purpose?
                </p>
                <p>
                    These readings might be helpful to consider and explore:
                </p>
                <ul>
                    <li>
                        David Haney, <a href="https://www.google.co.uk/books/edition/_/POR9EAAAQBAJ?hl=en&gbpv=1" target="_blank" rel="noopener noreferrer"><i>Architecture and the Nazi Cultural Landscape: Blood, Soil, Building</i></a>
                    </li>
                    <li>
                        Peter Staudenmaeier, “Organic Farming in Nazi Germany: The Politics of Biodynamic Agriculture, 1933–1945,” <i>Environmental History</i>
                    </li>
                    <li>
                        Tiago Saraiva, <a href="https://mitpress.mit.edu/9780262536158/fascist-pigs/" target="_blank" rel="noopener noreferrer"><i>Fascist Pigs, Technoscientific Organisms and the History of Fascism</i></li>
                    </li>
                    <li>
                        Christy Wampole, <a href="https://press.uchicago.edu/ucp/books/book/chicago/R/bo22891000.html." target="_blank" rel="noopener noreferrer"><i>Rootedness: The Ramifications of a Metaphor</i></a>
                    </li>
                </ul>
            </ActivityBlock>
        </UnitDay>

        <UnitDay
                unit={number}
                day={3}
                headline="Soil as property and the properties of soil"
        >

        </UnitDay>

        <UnitDay
                unit={number}
                day={4}
                headline="Ashes to Ashes: Cemeteries and Burial Ground"
        >

        </UnitDay>
    </PageBlock>
</UnitLayout>