---
import Layout from "../../layouts/Layout.astro";

import EssayHeader from "../../components/EssayHeader.astro";
import EssayImage from "../../components/EssayImage.astro";
import LongFormContent from "../../components/LongFormContent.astro";
import PageContent from "../../components/PageContent.astro";
import PageHeader from "../../components/PageHeader.astro";

const locationTag = "Berlin, The Cosmos";
const title = "Blood over Soil. Albert Speer's Heavy Load-Bearing Cylinder, Glacial Till, and Racial Terra-Forming";
const byline = "Paul Kurek";
const authorSlug = "paul-kurek";
---

<Layout title={title}>
	<main>
		<PageContent>
			<PageHeader
				title="Essays"
				skipH1={true}
				linkTo="/essays"
			/>
			<EssayHeader
				locationTag={locationTag}
				title={title}
				byline={byline}
				authorSlug={authorSlug}
			/>
			<LongFormContent>
				<h2 class="visually-hidden">Essay</h2>
				<EssayImage
					fullImage="/kurek/fig1.jpg"
					fullWidth={848}
					fullHeight={596}
					alt="Photograph of a piece of glacial till collected by the German Society of Soil Mechanics in the context of Albert Speer’s Germania plans."
				>
					<b>Figure 1.</b> Glacial and interglacial soils in the area Berlin-Kolonnenbrücke: structure of glacial till, seen from the side, 1941,
					Degebo. Source: Karteiarchiv Degebo, no. AIIa3., Neg. Nr. 716.
				</EssayImage>
				<h3 class="essay-subhead">Geology</h3>
				<p>
					The above file card from the archives of the <i>Deutsche Gesellschaft für Bodenmechanik</i> (German Society for Soil Mechanics), short
					<i>Degebo</i>, depicts a piece of German soil (Figure 1). Or does it? Well, this piece of earth was, without a doubt, withdrawn within
					the aggressively expanding borders of the <i>Großdeutsches Reich</i> (Great German Empire) in 1941 by boring through a layer of sand into
					a depth of about eighteen metres (sixty feet).<sup class="note" id="note-ref-1"><a href="#note-1">1</a></sup> But, has it always been in
					that location or could you even argue it firmly ‘belongs’ there?
				</p>
				<p>
					Not quite, as the card details, it is a piece of <i>Geschiebemergel</i> (glacial till) and, as the prefix <i>Geschiebe</i>- (‘that which
					pushes or is being pushed’) suggests, it arrived at this location in Berlin’s glacial valley through the act of a glacier pushing it
					across Europe; or, better, it was forged by the friction between the glacier’s mass and the landscapes it was pushing through until it
					came to a halt at the end of the last ice age about 11,700 years ago. As a result, glacial till typically contains all grain sizes
					from fine sands to giant boulders.<sup class="note" id="note-ref-2"><a href="#note-2">2</a></sup> On 10 February 1940, Degebo member
					Heinz Muhs described the ‘violent’ creation of the traveling glacial soils as ‘mechanical disintegration through crevasse frost and
					reciprocal abrasion during the transport in the meltwater’.<sup class="note" id="note-ref-3"><a href="#note-3">3</a></sup> So, where
					does this little piece of land, forged by movement and friction, belong then?
				</p>
				<p>
					Obviously, soil as a material predates the category of <i>Germanness</i> into which it was later embedded in the context of fascist blood
					and soil ideology that drew a parallel between the purity of race and cultivation of soil. In <i>Das Bauen im Deutschen Reich</i>
					(Building in the German Empire) from 1938, Gerdy Troost, wife of fascist architect Paul Ludwig Troost, wrote: ‘People of German blood
					have transformed steppe and primeval forest into fertile fields and have always and everywhere in the world shaped the primeval landscape
					according to their inner predisposition … and are firmly rooted in the soil’.<sup class="note" id="note-ref-4"><a href="#note-4">4</a></sup>
					When looking at space, time and identity through the narrow lens of a human life span, soil can become a spatio-temporal-identitarian marker,
					as we all know.
				</p>
				<p>
					Sarah Ahmed described how the imaginary of a stable nation can trigger collective feelings against ‘the other’ as a threat to the ‘groundedness’
					of the nation as an object of love that requires a passionate defence against any contaminants that might disrupt its purity.<sup class="note" id="note-ref-5"><a href="#note-5">5</a></sup>
					Instability, hybridity, transformativity, ephemerality, etc., posed the greatest threats to the fascist narrative of supposed ‘eternity’.
					Roger Griffin proposed palingenesis, rebirth, ‘[t]he psychological profound longing for cleansing, for renewal through “creative destruction” …
					expressed in the regenerative myths … of a totally new society and the creation of a “new man”’ as lowest common denominator of all varieties
					of fascism.<sup class="note" id="note-ref-6"><a href="#note-6">6</a></sup>
				</p>
				<p>
					In this spirit of firmly grounding an overarching ‘racial renewal’ that promised an eternal sense of belonging, the reason soil was being
					examined here was because geotechnical engineers – in anticipation of their prominent client Albert Speer’s monumental building plans that
					featured history’s heaviest buildings as the ‘appropriate’ architectural backdrop for the ‘reborn’ static racial core of Germanness –
					wanted to test how much weight this particular geological layer could take without crumbling. I conceptualise this attempted narrative
					domination of the force of static blood over mobile soils as racial terra-forming.<sup class="note" id="note-ref-7"><a href="#note-7">7</a></sup>
				</p>
				<p>
					Concretely, the location where the piece of glacial till was withdrawn was chosen as the site of history’s largest Triumphal Arch,
					conceptualised as an ‘eternal erection’ that was to mark the triumph of ‘eternal’ German blood over the plasticity and plurality of spaces,
					times and identities – racially-based terra-forming. By carving an idealised – and static – concept of Germanness in stone these monuments
					were to signal the arrival of its purest and final form (see Figure 3). Todd Presner described German fascism as an ‘immobilization’ of
					Germanness, as it conceptualised the latter as a static, timeless and pure entity.<sup class="note" id="note-ref-8"><a href="#note-8">8</a></sup>
					The semantically multi-layered Berlin was being transformed to the monolithic world capital known as the Germania project, as Julia Hell put it:
				</p>
				<blockquote>
					What Hitler, Speer, and the entire army of National Socialist architects built was a weighty imperial structure with fortresses along its borders,
					and a heavy solid core in its metropolitan center … [that] promised unlimited expansion, but within a framework of extraordinary stability—a country
					made of stone.<sup class="note" id="note-ref-9"><a href="#note-9">9</a></sup>
				</blockquote>
				<p>
					While these imperial fantasies of absolute stability never materialised, what remains of such megalomaniac plans to this day is the so-called <i>Schwerbelastungskörper</i>, the heavy load-bearing cylinder that simulated the 1:1 weight of the Triumphal Arch and still weighs heavily upon the layer of glacial till – and the city’s collective memory, as I emphasised on a recent episode of the popular Architecture and Design podcast <i>99% Invisible</i> (see Figure 2).<sup class="note" id="note-ref-10"><a href="#note-10">10</a></sup> The cylinder is forty feet high, has a diameter of eighty feet, and goes sixty feet underground. Its 12,650 tons of ferroconcrete, more than the Statue of Liberty in New York City, the Eiffel Tower in Paris and the Christ the Redeemer Statue in Rio de Janeiro combined, are pressing down onto the earth.<sup class="note" id="note-ref-11"><a href="#note-11">11</a></sup> In terms of soil pressure, it even exceeds history’s probably heaviest construction, the Cheops pyramid.<sup class="note" id="note-ref-12"><a href="#note-12">12</a></sup>
				</p>
				<p>
					Given its multifaçeted history, as I laid it out, the particular piece of ground underneath the cylinder is part of a ‘cultural geology’
					breaking down into a <i>Ge-schiebe</i> (‘that which is pushing or being pushed’) and a <i>Ge-schichte</i> (‘that which is layering or being
					layered’), but, most of all, part of a <i>Ge-wichte</i> (‘that which is weighing or being weighed upon’). This word play centred around the
					German concept <i>Ge-schichte</i> – consisting of the prefix <i>Ge</i>- and the noun <i>Schicht</i> (layer), simultaneously meaning
					<i>history</i> and <i>story</i>, thus carrying both factual and fictional semantic potential – underlines the fact that any historical
					narrative is fictional and helps me uncover the complexity of the intertwined material and conceptual history of a charged piece
					of glacial till.<sup class="note" id="note-ref-13"><a href="#note-13">13</a></sup>
				</p>
				<p>
					In this essay that departs from a piece of soil I want to – literally and figuratively – <i>think through soil</i> and string together a few
					meditations about how its structural and conceptual mobility undermines the fantasies of eternity it was designated to carry out during German
					fascism. As I will argue, the soils, due to their mobile, complex and ever-shifting nature, are naturally unfit to carry ‘such’ an endeavour,
					meaning carrying a static, eternal or pure identity construct as desired in the fascist imaginary, both physically and metaphysically speaking
					(which are two sides of the same coin) – in particular glacial till due to its highly heterogeneous and diverse composition forged by its
					formation through movement. To make this point, we will fluctuate between the minuscule grains of soil and the vastness of the universe, while
					also being conscious of the infinite limitation of our human perspective in all of this. At the core stands the basic fact that <i>matter</i>
					can be transformed into <i>energy</i>, and vice versa, probably the most basic insight of Einstein’s theory of relativity that points to the
					overarching ‘cosmic flux’ (as the ancient Greek philosopher Heraclitus viewed it), from which I deducted the ‘natural’ fluidity of spaces,
					times and identities in contrast to the ‘artificial’ fascist ‘immobilisation’ efforts.<sup class="note" id="note-ref-14"><a href="#note-14">14</a></sup>
					To illustrate my thoughts, I draw upon largely unpublished materials (photos, graphs, maps, correspondence, etc.) from the currently publicly
					inaccessible archives of the German Society of Soil Mechanics (nowadays Institute for Soil Mechanics and Foundation Engineering at the
					Technical University of Berlin) that are presented here for the first time on a larger stage.<sup class="note" id="note-ref-15"><a href="#note-15">15</a></sup>
				</p>
				<p>
					The history of the Degebo, as an institution that flourished under fascist megalomania, reminds us of the Benjaminian dialectic of technological
					progress and societal regression, but also the dialectic of rigidity and fluidity that underlies all of creation/destruction, especially
					buildings that need to stand on the ground, ideally for a long time, to fulfill their purpose. Accordingly, my piece is structured in three
					separate sections that – albeit deeply interconnected and constantly flowing into each other – shift gears in terms of scale and perspective.
					I started the chapter with an analysis of a piece soil <i>(Geology)</i>, then zoom out into the larger cosmological perspective
					<i>(Cosmology)</i>, and finally root my analysis back into the limits of my own human perspective and the struggle to fit into the latter two
					ways of seeing the world (geology/cosmology), asking the ancient question: ‘where do I belong in all of this?’, dealing with the inborn desire
					to ground myself as an individual being-thrown-into-the-cosmos on a vertical, horizontal and existential scale <i>(Be(long)ing)</i>.
				</p>
				<EssayImage
					fullImage="/kurek/fig2.jpg"
					fullWidth={732}
					fullHeight={604}
					alt="Archival photograph of the heavy load-bearing cylinder right after completion."
				>
					<b>Figure 2.</b> Heavy Load-Bearing Cylinder, 1941, Degebo. Source: Diaarchiv Degebo.
				</EssayImage>
				<EssayImage
					fullImage="/kurek/fig3.jpg"
					fullWidth={708}
					fullHeight={542}
					alt="Sketch of Triumphal Arch by Albert Speer based on Hitler’s drawings."
				>
					<b>Figure 3.</b> Great Arch, 24 February 1941, Büro Speer. Source: Bayerisches Hauptstaatsarchiv München, Büro Speer Pläne, 2898.
				</EssayImage>
				<p>
					From an architectural standpoint, Speer’s Triumphal Arch, allegedly based on a 1920s sketch by Hitler, was almost fully developed in 1939, at
					least on paper. Following the intuitive idea ‘the bigger the better’, the architect revealed in his memoirs that the edifice was planned at
					over 500 feet width, about 400 feet depth and almost 400 feet height – the biggest arch ever built, and thus an appropriate monument to the
					‘new German ego’ (see Figure 3).<sup class="note" id="note-ref-16"><a href="#note-16">16</a></sup> Building history’s largest arch in Berlin,
					the designated capital of the new German empire, was, of course, a strategic placement of Germanness above other architectural histories, or
					at the peak of architectural history in general, with highly symbolic significance. It is a common practice among modern empires to integrate
					ancient Rome, as the paradigm of the ‘eternal city’ that embodied ‘permanence, order, authority’, into the narrative of the (re-)birth of their
					empires in times of uproar to signal stability.<sup class="note" id="note-ref-17"><a href="#note-17">17</a></sup> We see similar tendencies
					under the current American government: promoting ‘beautiful civil federal architecture’ to stimulate a return to the classical heritage of
					Western civilisation by erecting a triumphal fortress against (post-)modernist aesthetic confusion, including plans for a massive Triumphal
					Arch, most recently.
				</p>
				<p>
					In his memoirs, Speer described how he was intoxicated by the idea of ‘[having] “beaten” historically outstanding buildings at least on the
					scale ... [with the] idea of his own greatness projected into eternity’.<sup class="note" id="note-ref-18"><a href="#note-18">18</a></sup>
					In another book, he claimed that ‘a monument’s value resides in its size is a belief basic to mankind’.<sup class="note" id="note-ref-19"><a href="#note-19">19</a></sup>
					Like massive egos, the supersized scale of his monuments made them structurally extremely fragile, given the immense pressure they would
					pose on the ground that led to all kinds of complications in the planning process facilitated by the powerful office of the <i>Generalbauinspektor</i>
					(General Building Inspector, <i>GBI</i> for short), spearheaded by Speer. To create the ‘signature’ monumentalised neoclassical aesthetic
					of fascist state architecture necessitated maintaining a delicate balance between the ferroconcrete skeleton and the granite façades that
					were to be attached to it. Given that these two components, due to their different weights, sink into the soil at a different pace, the
					danger was that damaging tensions between the stone and the concrete would develop. What made this even more complicated were the very strict
					requirements of the GBI: ‘The suggestion to apply the cut stone facing only after the construction of the buildings, so after the
					actual loading on the building ground and thus also after the occurrence of the main settlements, was denied, as well as the suggestion to
					apply settling joints in the walls’.<sup class="note" id="note-ref-20"><a href="#note-20">20</a></sup>
				</p>
				<p>
					On top of that, the GBI did not allow a sinkage of more than five centimetres (about two inches). Speer must have been quite concerned that
					more soil movement would lead to cracks in the sublime façade of his prosthetic ego projected in his monuments. Therefore, the supporting layer
					that was to carry the buildings needed to be quite firm, ‘the harder the better’. As a consequence, the GBI considered placing the foundations
					of the arch on top of the harder layer of glacial till, rather than the softer layer of sand above it (even if the geotechnical experts advised
					against it). Glacial till was fairly unexplored, but promising, as building ground. In the archival manuscript to the research report, Muhs
					revealed: ‘This thought was, on the one hand, based upon the intuitive idea: “the deeper, the better”, on the other hand probably the seemingly
					so firm nature of glacial till, which has to be loosened up with a pickaxe, unlike the seemingly so loose nature of sand, was the motivation
					for this’.<sup class="note" id="note-ref-21"><a href="#note-21">21</a></sup> Speer’s monumental ‘world wonders’ were supposed to embody the
					racial superiority of the Aryans by creating the illusion of absolute monumentality, eternity and purity. Accordingly, the ground, naturally
					a highly heterogeneous construct, had to be properly prepared to be able to carry these ‘eternal erections’ as metonyms of the to-be-purified-body
					of the nation.
				</p>
				<p>
					Echoing the friend/enemy distinction of Carl Schmitt’s political theology, these fantasies of purity were built upon the concept of ‘the other’
					whose role in the fascist world design was to ‘embody the danger of impurity, or the mixing or taking of blood. They threaten to violate the
					pure bodies’. Thus, ‘mixed-race couplings and immigration become legible as forms of rape or molestation: an invasion of the body of the
					nation’.<sup class="note" id="note-ref-22"><a href="#note-22">22</a></sup> But, when we, just like geotechnical engineers, penetrate the body
					of the earth and measure out her layered but disrupted properties, we must recognise that the lack of a clear order makes it almost impossible
					to determine a finite spatio-temporal, stratigraphical or chronological order of the soil. Echoing this, classifying soil is equally difficult,
					as different soil types constantly invade and flow into each other.
				</p>
				<EssayImage
					fullImage="/kurek/fig4.jpg"
					fullWidth={916}
					fullHeight={434}
					alt="Drawing of the North-South Axis in Berlin highlighting the section between the Great Hall and the Great Arch based upon Albert Speer’s Germania plans."
				>
					<b>Figure 4.</b> Drawing of Albert Speer’s North-South Axis, 1939. Generalbauinspektor]. Source: Landesarchiv Berlin, LAB, F. Rep. 270, A8750.
				</EssayImage>
				<EssayImage
					fullImage="/kurek/fig5.jpg"
					fullWidth={812}
					fullHeight={652}
					alt="Visualisation of the deep drillings underneath the planned North–South Axis between the Greath Hall and the Great Arch"
				>
					<b>Figure 5.</b> Drilling Profiles of Deep Drillings in the Context of the North–South Axis, 1938. Degebo. Source: Diaarchiv Degebo.
				</EssayImage>
				<p>
					The internal and external irregularity of glacial till became most evident in the accounts of the geologists working on the project. When
					facing the multilayered properties of Berlin’s soil in 1938 while preparing the construction of Hitler’s monumental North-South Axis – the planned
					parade street designated as the supersized German version of the Champs Élysées featuring said arch but also history’s greatest congregation hall
					(see Figure 4) – Degebo geologist Josef Mauz analysed the results of a 1,600 feet deep drilling conducted at the Kolonnenbrücke, very close to the
					site designated for the Triumphal Arch. This was part of an effort to measure out Berlin’s entire soil profile, a project called <i>Baugrundkarte</i>
					(building ground map) (see Figure 5). In an initial distant reading, Mauz breaks down the drilling profile by unpacking the larger spatio-temporal
					frame it is structured by, the geological soil layers (alluvium, diluvium, tertiary and oligocene) that reach millions and millions of years deep.
					From there, he breaks down each of these four larger frames in closer readings. I want to pick out his reading of the diluvium, an archaic
					word for ice age, as it was the layer relevant for the construction of the cylinder (and for constructions in Berlin in general). I quote a
					passage, which I find quite insightful, almost poetic, in the way it unpacks the dynamic structure of soil.<sup class="note" id="note-ref-23"><a href="#note-23">23</a></sup>
				</p>
				<blockquote>
					What is apparent on the profiles is that the layer composition and thickness of the diluvial sediments fluctuate heavily. Till, slip rock
					horizons, gravel, sand, silt, and clay alternate in colourful diversity or intermesh, and even for the geologist it is hard to figure out the
					chronological order. The drilling profile demonstrates, in the most impressive way, the extreme fluctuation of the border between the diluvium
					and the tertiary. Often one must oppose the layman’s belief that the border proceeds vertical and is ‘planar’, which one could hope for in
					a ‘certain’ depth … How uncertain the course of the border ... yet is, becomes clear only through the few profiles presented here, and this
					fact can be borne out with many more examples.<sup class="note" id="note-ref-24"><a href="#note-24">24</a></sup>
				</blockquote>
				<p>
					What is immediately apparent in the narrative that the geologist provides about the structure of soil is the limitation of his knowledge.
					His analytical gaze is confronted with the lack of a clear internal and external structural order. Internally, each soil layer fluctuates
					in terms of material composition, as it consists of various types of soil, making each layer a highly heterogeneous construct. Externally,
					the vertical and horizontal expansion of each soil layer varies as well, while the different layers also mix with each other. Altogether,
					the lack of a clear order makes it almost impossible to determine a spatio-temporal, stratigraphical or chronological order of the soil,
					as the layers are constantly being condensed, move around and contaminate each other; or, as literary scholar Mark McGurl puts it, ‘what
					we call the “ground” is no ground at all but the result of a process whose own ground is another, antecedent process extending backward in
					time’ – turtles all the way down.<sup class="note" id="note-ref-25"><a href="#note-25">25</a></sup> It appears that soil, in the way it is
					programmed, transcends categorical thinking in terms of rigid soil identities (or spatial and temporal borders), towards an inherent
					conceptual fluidity, providing a counter-narrative to what Speer’s monuments – driven by the desire to feel big to overcompensate the fear
					of being small – wanted to tell us. While geological rock formations often, not always, provide us with the illusion of a clean-cut stratigraphy,
					glacial till, the soil Speer intended to build upon, following his intuition to erect his monuments of a German super-identity, undermines
					the message it was chosen to carry.
				</p>
				<h3 class="essay-subhead">Cosmology</h3>
				<EssayImage
					fullImage="/kurek/fig6.jpg"
					fullWidth={1200}
					fullHeight={675}
					alt="Visualisation of the Big Bounce Theory, a speculative alternative to the Big Bang Theory."
				>
					<b>Figure 6.</b> NASA, Model of the Big Bounce Theory. Image by NASA/WMAP Science Team [modified].
				</EssayImage>
				<p>
					If we decide to peel away the layer of nationhood and dig even deeper into the space-time-identity continuum, we shall see: about fourteen
					billion years ago the piece of soil we are examining here was contained within a tiny pinhead with the rest of all matter that now exists in
					the universe, assuming we follow the most common cosmological theory of the Big Bang, the cosmic inflation. In this contracted state, known
					as singularity, our universe was absolutely inclusive: it literally contained all possible times, spaces and beings. An ‘extension’ to this
					is the theory, the cosmological model of the Big Bounce, which proclaims that once our universe has reached its state of maximum expansion,
					it will contract again, from where it will expand again, forming an ‘eternal pulse’ (see Figure 6).<sup class="note" id="note-ref-26"><a href="#note-26">26</a></sup>
					This distant reading of mine demonstrates how related geology and cosmology, so are going down and going up, to the bottom and to the top,
					despite their inverted constellations: the inward journey is always interstellar. When we look at the world and the little piece of soil like
					this, standpoint epistemology loses all of its meaning: there is no truth to pinpoint and nothing to stand upon, neither physically nor
					metaphysically – a very Nietzschean perspective.
				</p>
				<p>
					As physicist Martin Bojowald, a ‘proponent’ of the speculative Big Bounce Theory, emphasised, none of it is set in stone and thoughts about
					the origin of everything lead to more questions than answers, questions that hitherto have to leave the realm of physics and enter the ‘borderlands
					to philosophy’.<sup class="note" id="note-ref-27"><a href="#note-27">27</a></sup> What is exciting about this, I believe, at least on a meta-metaphorical
					level, is how it suggests that everything is in transition, matter and energy are in a constant state of flow and transformed into each other,
					nothing ever stands still – except mathematical patterns?<sup class="note" id="note-ref-28"><a href="#note-28">28</a></sup> This echoes
					Heraclitus’ ancient description of the dispersion of ‘biomass’ in the overarching ‘cosmic flux’, even if ‘[m]odern scholars of Heraclitus
					(with the exception of … Nietzsche) are not fond of unstable models of complexity. They prefer concepts like regularity, consistency, and
					structured coherence. “Regularity” is not the most relevant description of nature’s processes. Complexity is.’<sup class="note" id="note-ref-29"><a href="#note-29">29</a></sup>
				</p>
				<p>
					Inspired by Nietzsche’s critique of the Enlightenment’s constructions of scientific and religious truths in the essay fragment ‘On Truth
					and Lies in an Extramoral Sense’ (1872–1873), I want to briefly enter the said ‘borderlands to philosophy’ and contrast the figure of the
					architect, mostly concerned with maintaining the verticality of his building, with the geotechnical engineer, who, due to his geological
					awareness, deals with the forces that pull buildings back into horizontality, becoming aware of the fundamental tension of every construction
					between ‘artificial’ man-made rigidity and ‘natural’ fluidity. Both the architect and the soil engineer work on the problem of the structural
					stability of a building, just with different awareness and priority. While the architect cares mostly about greatness and legacy, the
					geotechnical engineer, who knows about the mobility of the building ground and the resulting temporality of constructions, wants to find a
					solution that works for the moment, in order to manage ‘to erect an infinitely complicated dome of concepts on mobile foundations and so to
					speak on flowing water’.<sup class="note" id="note-ref-30"><a href="#note-30">30</a></sup> Whereas the philosopher acknowledges the human
					achievement of erecting grand constructions (of truth) under these difficult circumstances, this achievement is based upon the inherent
					structural fragility of any foundation we can possibly build upon; and, given the scale of the cosmos, it remains minuscule in size within
					the big picture of things, unlike Speer’s fantasies of gigantic ‘eternal erections’ that promised people could hold onto them for
					eternity.<sup class="note" id="note-ref-31"><a href="#note-31">31</a></sup> Facing this vastness of time and space through the limited lens
					of our humanness, we may feel tempted to withdraw ourselves and hide in our bubble. It is our human nature.
				</p>
				<p>
					Nietzsche drew a parallel between the human self-perception of ‘smallness’ in the face of the vast universe with the infinite limitation of
					the cognitive apparatus in trying to penetrate the essence of reality.<sup class="note" id="note-ref-32"><a href="#note-32">32</a></sup>
					‘Consequently, the recognition of instability, flux, becoming, and so on in fact also insinuates a false sense of stability.’<sup class="note" id="note-ref-33"><a href="#note-33">33</a></sup>
					Instead of succumbing to the ‘eternal flow’, we may also proceed to try to take control over its properties, encouraged by our Faustian
					desire to understand the mechanics of the earth, ‘So that I may understand / what holds the world together in its deepest ends’.<sup class="note" id="note-ref-34"><a href="#note-34">34</a></sup>
					By now, we do understand quite a bit, and our history of understanding certainly grew exponentially since the age of Goethe, as the world
					population and the resulting weight we pose on the planet did. But the more we know, the less we seem to know about where we belong, as
					belonging seems to be built upon a moment of ‘eternal ephemerality’. But are we really just stardust? Can’t we find solace in believing
					in a sacred principle that secretly governs the universe beyond all this creation and destruction? The oceanic feeling that Freud was
					so afraid of? Isn’t our passion to travel through the space-time-identity continuum proof enough of an intelligent design? Aren’t we the
					strongest when we are spiritually connected?
				</p>
				<p>
					In his book <i>After Finitude</i> (2005), speculative philosopher Quentin Meillessaux summed up the major insights of our age and provided
					us with a clearly measurable geological timeline (that predates human consciousness) into which we are embedded and with which we
					have to grapple:
				</p>
				<ul class="essay-list">
					<li>
						the date of the origin of the universe (13.5 billion years ago)
					</li>
					<li>
						the date of the accretion of the earth (4.56 billion years ago)
					</li>
					<li>
						the date of origin of life on earth (3.5 billion years ago)
					</li>
					<li>
						the date of the origin of humankind (<i>Homo habilis</i>, 2 million years ago)<sup class="note" id="note-ref-35"><a href="#note-35">35</a></sup>
					</li>
				</ul>
				<p>
					I believe there remains to be added to this list:
				</p>
				<ul class="essay-list">
					<li>
						the death of the sun/earth (in 5 billion years from now)
					</li>
				</ul>
				<p>
					Meillasseaux goes on to ask, ‘what is it exactly that astrophysicists, geologists, or paleontologists are talking about when they discuss
					the age of the universe, the date of the accretion of the earth, the date of the appearance of pre-human species, or the date of the emergence
					of humanity itself?’<sup class="note" id="note-ref-36"><a href="#note-36">36</a></sup> In order to think through that, he defines as
					<i>ancestral</i> any type of reality that predates humanity and as <i>arche-fossil</i> any materials that prove the existence of an ancestral
					reality, such as stellar emissions or a meteorite that lands on earth and informs us about the age of the universe.<sup class="note" id="note-ref-37"><a href="#note-37">37</a></sup>
					Just a few days ago, CNN (and many other news outlets) posted a story about the likelihood of two per cent of an asteroid named 2024 YR4 hitting
					the earth in 2032, which reminds us how incredibly short the lifespan of the human species is in the grand scheme of things and that eventually
					we will collide with a piece of ancestral matter that we were once united with.<sup class="note" id="note-ref-38"><a href="#note-38">38</a></sup>
					It seems we’ve now got lost in the vastness of the cosmos, and it is time to return to the little piece of soil we started our journey with in
					order to ground ourselves, even if just for a split-second of feeling some type of belonging to something at least or at last.
				</p>
				<h3 class="essay-subhead"><i>Be</i>(long)<i>ing</i></h3>
				<EssayImage
					fullImage="/kurek/fig7.jpg"
					fullWidth={426}
					fullHeight={462}
					alt="Family photograph of mother and son taken in Dürrnhaar, Bavaria."
				>
					<b>Figure 7.</b> Pavol Kurek, ‘Mother and Son’, undated. Private source.
				</EssayImage>
				<p>
					While researching the cylinder, my journey led me from the various archives in Berlin to a private archive close to Munich, where I was able to
					locate the building’s construction plans that had been deemed lost since the war, so, ironically, my search sent me back home, almost full
					circle. Despite the dispersion of ‘biomass’ in the overarching ‘cosmic flux’ of all things, I can’t deny that I was born on German soil. My
					parents were not. My lineage nearly came to a halt when my grandfather, who was an officer in the Slovak army and later joined the resistance,
					the <i>partyzáni</i>, came into German fascist captivity while hiding in the mountains with the other partisans. He survived because he knew
					a little bit of German and thus gained the mercy of a German doctor who saved his life, so he came back from the <i>Lazarett</i> like
					<i>Lazarus</i> – after bleeding out of all cavities and nearly perishing from the cold and hunger. This is one of the many pieces of history
					I heard falling from my mother’s tongue again and again (see Figure 7). His death would have inevitably ended my genealogy by preventing my
					coming-into-being. Am I still clinging on to the German language as a means of survival?
				</p>
				<p>
					The ‘glacier’– when metaphorically read as a massive historical force – that pushed my parents across the Iron Curtain was the spectre of
					communism; currently haunting and rearranging the guts of Europe again. My parents found shelter in the West. A typical migration history.
				</p>
				<p>
					I can surely relate to what Röttger-Rössler wrote about ‘multiple belongings’ when she states that: ‘Generally, individuals only become aware
					of their fundamental bodily placing, their deep sensory anchoring in specific environments, after a change of place.’<sup class="note" id="note-ref-39"><a href="#note-39">39</a></sup>
					She makes the distinction between <i>being</i> and <i>belonging</i>, stating that being describes the state-of-mind when we unconsciously
					understand the norms, rituals, and patterns of behaviour of the particular environment we are thrown into; whereas <i>belonging</i> describes
					the state-of-mind after we leave our home, therefore become conscious of our roots and, as a result, feel alienated by our displacement – in
					this case ‘<i>Being</i> becomes <i>belonging</i>’.<sup class="note" id="note-ref-40"><a href="#note-40">40</a></sup> In my case this is true,
					as the longer I am away from the place where I was born and grew up, the Bavarian countryside, the more I understand how it has shaped who I
					am and what I believe in and a certain nostalgic <i>longing</i> for a return to this place becomes stronger and stronger.
				</p>
				<p>
					Things that I formerly perceived as a prison of body and mind – the ringing of the church bell, the cock-crow, the cows mooing, the smell
					of meadows and forests, the folk singing and traditional garments, the sound-, smell- and landscapes of my childhood – now appear as a place
					in my memory where the world was still <i>in Ordnung</i> (in order). I know that this romantic longing’s object of desire may just be an
					illusion, possibly a way to escape back into childhood carelessness in the midst of a world that appears more and more complex and chaotic
					every day. But, it appears as if this is an illusion that I need to cling tightly to in order to feel connected to <i>something</i> at least,
					like a timber on the open ocean after a shipwreck. It may be an illusion, but a necessary illusion that I need to maintain a sense of purpose
					in my life, something I can hold onto in order not to drown in the streams of endlessness, which is an inevitable consequence when we recognise
					that every sheltering truth is just a fragile construction built on flowing water, as Nietzsche described it.
				</p>
				<p>
					This little paper hardly gives me enough space to get to the bottom of my fascination with this particular subject, <i>be</i>long<i>ing</i>,
					which was triggered by a piece of soil. In a few pages I will not be able ‘to reach the substructure of [my] thought, the underground, the
					nutrient solution of systematic crystallizations’ and show ‘with which “courage” the mind is ahead of itself in its images and with how its
					history is shaped by its courage to guess’, as Hans Blumenberg would say.<sup class="note" id="note-ref-41"><a href="#note-41">41</a></sup>
					This question will remain central to my development of cultural geology – an exploration of the complexity and scale of existence. But the
					more I think about it, the less I feel my migration background is of interest to me, I merely think that it sensitised me more towards
					reflecting about what it means to be thrown into this world out of my human mother’s womb. At most, it explains why I have a heightened
					need for soul searching and digging ‘deeper’ – in comparison to those who ‘feel’ more rooted in one place. Given the tension between East/West
					in my genealogy, I could have looked at how the German scientific community felt the threat of being ‘[i]nfiltrated by Russian language’,
					even if the global exchange in the soil mechanical community somewhat prevailed throughout the war.<sup class="note" id="note-ref-42"><a href="#note-42">42</a></sup>
					In a previous version of this chapter I thought way more about my childhood, liminality, hybridity, the Eastern European accent of my parents
					and my obsession with high German, etc. – but it all just seemed like a superficial distraction once I revisited it. When I peel away the
					layer of my Eastern European ethnicity and my Western nationality and go deeper, humanness itself, the belief in human exceptionalism that
					is almost impossible to let go, and the weight we apply as a highly ‘invasive species’ to the planet as a whole (some call our age the
					Anthropocene), seems to be at the core of the problem, which I will need to think more about when further developing my idea of
					<i>heavy load-bearing modernity</i>.
				</p>
				<p>
					When the geotechnical engineers from the Degebo subtracted the piece of ‘German’ glacial till that triggered my flow of thoughts from
					underneath the cylinder, they were very well informed about the complex and mobile composition of the ground(s), as they were in the process
					of meticulously measuring everything to be able to precisely determine its load-bearing capacity. For that reason, three measurement
					chambers were placed beneath the massive upper cylinder to enable the Degebo to register the precise vertical, horizontal and axial
					movements of the cylinder with a system of gauges alongside other measuring instruments (for temperature etc.).<sup class="note" id="note-ref-43"><a href="#note-43">43</a></sup>
					The day the workers started pouring the hot concrete into the cold steel encasing, which marks the beginning of the initial measuring,
					was 28 August 1941, resulting in a sinkage of about eight inches by 1945, overshooting the two-inch maximum demanded by Speer.<sup class="note" id="note-ref-44"><a href="#note-44">44</a></sup>
					Did the erection of a monolithic and eternal Germanness on top of these ‘resistant’ grounds seem like a contradiction to the geotechnical
					engineers, given they certainly knew about the local soil mechanics as well as the larger geological/cosmological timescale? Most likely not.
				</p>
				<p>
					Even if the leading architect’s guiding intuitions, ‘the bigger, the better’, ‘the deeper, the better’ and ‘the harder, the better’ did
					not necessarily turn out to be true for determining the soil’s load-bearing capacity, the overall question was never <i>whether</i> the earth
					could take it, only <i>how</i> to ensure its load-bearing capacity would hold up; if not naturally, soil-condensation methods and other
					‘terra-forming’ techniques for an appropriate foundation design were already at hand. Concretely, it would have been necessary to build deep
					foundations and densify the sand artificially to significant depths. These methods were already available through the companies Franki,
					via ‘earth post method’, and Keller, via ‘vibration pressure method’ – techniques that had been tested out at the Nuremberg Party Rally
					Grounds, for example.<sup class="note" id="note-ref-45"><a href="#note-45">45</a></sup>
				</p>
				<p>
					National Socialism was never about discovering truth, it was about creating and violently imposing truth and moulding reality after it:
					<i>blood over soil</i> – racial terra-forming. While the Triumphal Arch – as a supersized monument to the ‘rebirth’ of the German master
					race – never materialised, the data collection at the cylinder continued into the 1980s and, along the way, informed still intact building
					norms (incl. DIN 1054) and countless heavy building projects. During the regime, several bridges, power plants, hangars, machine halls and
					steel plants in several German cities were built with the data collected by the Degeo.<sup class="note" id="note-ref-46"><a href="#note-46">46</a></sup>
					As Muhs wrote in the Degebo chronicles, after the war, the data came in very handy as well, especially for the rebuilding
					Berlin<sup class="note" id="note-ref-47"><a href="#note-47">47</a></sup> – but also representative buildings such as the Kongresshalle,
					Deutsche Oper and Philharmonie, a lot of infrastructure (bridges, streets, harbours, factories, subway, ringroad, etc.), governmental and
					industrial buildings.<sup class="note" id="note-ref-48"><a href="#note-48">48</a></sup> Wherever in Germany you are, you are probably walking
					on grounds that have been measured out by the Degebo in some way.<sup class="note" id="note-ref-49"><a href="#note-49">49</a></sup>
				</p>
				<p>
					While the ‘palingenetic’ racial terra-forming of German fascism came to an abrupt halt, humanity’s terra-forming capacities (for which
					fascism served as a catalyst) grew in an accelerated manner and testify to the aggressive hunger for growth driving the human population.
					The Degebo’s large-scale, top-down and in-depth <i>Vermessung der Welt</i> (measuring of the world) was to be followed up by a
					<i>Vermassung der Welt</i> (massification of the world), in this case massive monuments – embodying superiority – that the ground was
					designated to carry. While the NS-empire broke down in 1945, humanity itself scaled up. Therefore, when on site nowadays – everyone can
					tour the cylinder during opening hours (usually from 1–6 pm from October to April) – I still sense that unbound human hunger for scaling
					up, building higher, reaching for the skies, purification, putting oneself on a pedestal far above others, that drove German fascism and
					is still driving human exceptionalism.<sup class="note" id="note-ref-50"><a href="#note-50">50</a></sup> And, given the population
					explosion from 1 billion in the year 1800 to over 8 billion today, we are already far beyond ‘<i>earth’s limited carrying capacity</i>’
					as the MIT scientists that formed the Club of Rome have argued since the regularly updated publication of <i>Limits to Growth</i> in 1971:
					the load-bearing capacity of glacial till is connected to the earth’s overall load-bearing capacity.<sup class="note" id="note-ref-51"><a href="#note-51">51</a></sup>
					I myself, as someone who is enthusiastic about technology, science and architecture, and can certainly relate to the intoxicating ‘drive
					to height’ of ‘Generation Ikarus’, despite flashes of potential collapse, am part of the problem. We want to believe we can go higher
					and fix ‘it’.<sup class="note" id="note-ref-52"><a href="#note-52">52</a></sup>
				</p>
				<p>
					The imprint of the cylinder, as the heaviest memorial in so many ways, embodies this trait of the ‘supersizing’ Anthropocene. And while
					we are passionately distracting ourselves with deciding about so-called progressive, conservative, identity, etc., politics, this imprint
					is getting deeper and deeper; the beast within us grows and grows under the mask of many different colours.
				</p>
				<p>
					<i>Thinking through soil</i>, starting at the granular level of glacial till as part of a <i>Ge-schiebe</i> that transcends German national
					borders and nationalistic symbolic orders, (up-)rooting it back to its origin in the overarching ‘cosmic flux’, then grounding myself back
					in the fond memories of the land I was born in – whilst undermining fascist fantasies of stability/purity on the way and also trying to
					understand the human need for a firm grounding within this overwhelming fluidity of things, somewhat coming full circle – allowed me to
					look at soil as a material, a metaphor, a place of romantic longing, and at many other layers of its meaningfulness.
				</p>
				<p>
					This summer, which I spent in an apartment close to the cylinder while finishing this chapter, allowed me to circle around the structure
					and get lost in my reflections on a daily basis. Sometimes, I think, thinking in vast cosmological scales is just my way to evade real-world
					problems; sometimes, I think, being absorbed by the real-world is evading how things really are on the grand scale. There is truth in both,
					and by thinking through soil like a cultural geologist, we can learn to appreciate all the smallest and the largest pieces across all scales
					but also locate painful pressure points and imprints of ‘creative destruction’ and ‘destructive creation’ that continue to haunt us – like
					the noise of trains passing by the cylinder that makes the earth shatter reverberating throughout all shifting layers of history:
					<i>Ge-schiebe</i>, <i>Ge-schichte</i> and <i>Ge-wichte</i>…
				</p>
				<hr class="essay-footer" />
				<h2 class="essay-footer">Notes</h2>
				<ol class="notes">
					<li id="note-1">
						Unlike geology or soil science, fields interested in age or fertility, soil mechanics is strictly purpose-oriented and mainly concerned
						with one question: how to deal with soil as a purely mechanical element in the construction world. In the late 19th/early 20th-century
						countless construction accidents occurred due to the rapid urbanisation and dramatic expansion of the road, railway and shipping networks
						that struggled with critical structural damage caused by soil movement including landslides, which sometimes continued over decades and
						mobilised massive amounts of soil (Muhs 1969: 1–2). The discipline of soil mechanics emerged with the publication of the book
						<i>Earth Construction Mechanics on the Basis of Soil Physics</i> by Austrian engineer Karl Terzaghi in 1925. In the introduction, Terzaghi
						described his contribution as the first attempt to establish the much needed ‘link between geology and technical practice’ that was without
						any predecessor (1–2). Terzaghi, the ‘father of soil mechanics’, was the first to ask the question: ‘What was the weight limit for
						construction before the soils collapse?’ (Kerisel 1987: 61). The book was a first-class synthesis and centennial achievement within civil
						engineering (Kurrer 2016: 347). Only three years later, in 1928, the Degebo was founded in Berlin and embedded into TU Berlin (Kirsch 2016: 12).
						Needless to say, to this day, soil mechanics is literally foundational for any kind of construction.  <a class="return-from-note" href="#note-ref-1">&crarr;</a>
					</li>
					<li id="note-2">
						Litt et al. 2007: 45–47. <a class="return-from-note" href="#note-ref-2">&crarr;</a>
					</li>
					<li id="note-3">
						Muhs 1940. All translations from German into English are mine, if not stated otherwise. <a class="return-from-note" href="#note-ref-3">&crarr;</a>
					</li>
					<li id="note-4">
						Troost 1938: 5. While Gerdy Troost’s name was printed on the book, the actual writer was the rather unknown geographer Karl Trampler: ‘his
						treatise captures the design thinking of the day in relation to Nazi political ideology like none other in this period’
						(Haney 2022: 21–22). <a class="return-from-note" href="#note-ref-4">&crarr;</a>
					</li>
					<li id="note-5">
						Ahmed 2004: 26. <a class="return-from-note" href="#note-ref-5">&crarr;</a>
					</li>
					<li id="note-6">
						Griffin 2018: 41. <a class="return-from-note" href="#note-ref-6">&crarr;</a>
					</li>
					<li id="note-7">
						Ironically, the conceptual pair of <i>blood and soil</i> was equally semantically unstable within the fascist realm of ideas. The idea that the
						German blood was shaped by the soil its ‘carriers’ were thrown upon competed with the contradictory idea that the German blood – due to its
						unique potency – was able to shape, and fertilise, even the most hostile soils (Haney 2022: 32). These two competing meanings, first – soil
						shapes race; second – race shapes soil, were somewhat symptomatic for the social Darwinist power structures of the fascist regime and, indeed,
						in the long run, the latter understanding, which was closer to what Hitler believed, became more important; which is why the formula
						<i>blood over soil</i>, racial terra-forming, as I present it here, makes sense overall, I believe. <a class="return-from-note" href="#note-ref-7">&crarr;</a>
					</li>
					<li id="note-8">
						Presner 2007: 29. <a class="return-from-note" href="#note-ref-8">&crarr;</a>
					</li>
					<li id="note-9">
						Hell 2019: 374. <a class="return-from-note" href="#note-ref-9">&crarr;</a>
					</li>
					<li id="note-10">
						Kurek 2025. While the secret project was referred to mostly as <i>Großbelastungskörper</i> (great load-bearing cylinder) or <i>Betonpilz</i>
						(concrete mushroom) by the experts, the name <i>Schwerbelastungskörper</i> (heavy load-bearing cylinder) has established itself in the public
						imaginary. It was coined by Michael Richter, a practising architect and member of the community organisation Berliner Unterwelten e.V., with
						the publication of his brochure <i>Der Schwerbelastungskörper: Mysteriöses Erbe Der Reichshauptstadt</i> (with Felix Escher) in 2005. <a class="return-from-note" href="#note-ref-10">&crarr;</a>
					</li>
					<li id="note-11">
						Tomerius 2013: 156–157. <a class="return-from-note" href="#note-ref-11">&crarr;</a>
					</li>
					<li id="note-12">
						As geotechnical engineer Jean Kerisel laid out, the Cheops pyramid distinguished itself among other existing constructions through a ‘great
						load concentration within a relatively narrow perimeter: a pyramid like that of Cheops weighs 5 000 000 tons and presses down on the soil
						within a square measuring 231 m [ca. 760 feet] along each side; in other words it weighs 6 500 tons per square meter [ca. 650 tons per foot]
						of this perimeter, far more than the heaviest structures of modern civilization—300 to 900 tons/meter [ca. 30 to 90 tons/square feet] for
						a nuclear power station, 400-500 tons/meter [ca. 40-50 tons/square feet] for a building of 50 storeys; … illustrating the fact that present
						day engineers are not nearly as bold as Imhotep and his successors were’ (Kerisel 1987: 17). The cylinder’s overall weight is ‘only’ 12,650
						tons, which, of course, is far less than the approximately five million tons of the Cheops pyramid. Nevertheless, the weight of the
						cylinder is distributed on a surface of only 100 square metres (ca. 1,000 square feet), whereas the weight of the Cheops pyramid presses
						on 53,361 square metres (231x231) (ca. 500,000 square feet). Thus, Speer’s cylinder accumulates to 126.5 tons/square metre (ca. 12.65
						tons/square foot), and thus ‘outweighs’ the ‘only’ around 93.7 tons/square metre (ca. 9.37 tons/square foot) of the Cheops Pyramid in terms
						of soil pressure.  <a class="return-from-note" href="#note-ref-12">&crarr;</a>
					</li>
					<li id="note-13">
						For more about this tripartite mode of writing, see my recent think piece ‘Towards a Cultural Geology: Merging Material and Conceptual
						History’ in the <i>Journal of the History of Ideas Blog</i>: ‘Building upon Koselleck’s conceptualization of history as (metaphorical)
						layers that I bring together with current (neo-)materialist and geological readings of history, I argue that we, collectively, are part
						of geology and, thus, belong to a complex space-time-identity-continuum…’ (Kurek 2025). I will unpack this in more detail in my upcoming
						chapter ‘A Cultural Geology of <i>Be</i>(long)<i>ing</i>: <i>Ge-schiebe</i>, <i>Ge-schichte</i>, and <i>Ge-wichte</i>’; and my book
						<i>Heavy Load-Bearing Modernity: A Cultural Geology of Albert Speer’s Berlin Germania</i>. <a class="return-from-note" href="#note-ref-13">&crarr;</a>
					</li>
					<li id="note-14">
						Porter 2024: 62. <a class="return-from-note" href="#note-ref-14">&crarr;</a>
					</li>
					<li id="note-15">
						One of my efforts in the coming years will be to continue digitising the materials and make them publicly accessible. <a class="return-from-note" href="#note-ref-15">&crarr;</a>
					</li>
					<li id="note-16">
						Speer 2005: 149–150. <a class="return-from-note" href="#note-ref-16">&crarr;</a>
					</li>
					<li id="note-17">
						Edwards 1999: 2–3. <a class="return-from-note" href="#note-ref-17">&crarr;</a>
					</li>
					<li id="note-18">
						Speer 2005: 83. <a class="return-from-note" href="#note-ref-18">&crarr;</a>
					</li>
					<li id="note-19">
						Speer 1985: 213. <a class="return-from-note" href="#note-ref-19">&crarr;</a>
					</li>
					<li id="note-20">
						Muhs 1948: 5. <a class="return-from-note" href="#note-ref-20">&crarr;</a>
					</li>
					<li id="note-21">
						Projektarchiv Degebo, 3352-1c Probebelastung Bauwerk T, n.a., Veranlassung zu den nachstehenden Probebelastungen: 7. <a class="return-from-note" href="#note-ref-21">&crarr;</a>
					</li>
					<li id="note-22">
						Ahmed 2004: 26. <a class="return-from-note" href="#note-ref-22">&crarr;</a>
					</li>
					<li id="note-23">
						BArch R4606 639: 12–13. <a class="return-from-note" href="#note-ref-23">&crarr;</a>
					</li>
					<li id="note-24">
						BArch R4606 639: 12–13. <a class="return-from-note" href="#note-ref-24">&crarr;</a>
					</li>
					<li id="note-25">
						McGurl 2011: 384. <a class="return-from-note" href="#note-ref-25">&crarr;</a>
					</li>
					<li id="note-26">
						Big Bounce is a speculative, but common cosmological model (among others), represented, e.g. by 2020 Nobel laureate (physics) Roger
						Penrose, but also by Martin Bojowald, a German professor of physics at Penn State, whose work I reference here. The hypothesis states that,
						before our universe expanded, it was actually contracting, but before it could collapse into an infinitely single point, called singularity
						(which is mathematically impossible to deduce so far), it started expanding again (Bojowald 2009: 127). Nevertheless, with the discovery
						of dark energy, it is the inflation theory that is most supported by the available data. A good take on this is Brian Greene’s (professor
						for mathematics and physics at Columbia) 2020 book <i>Until the End of Time: Mind, Matter, and Our Search for Meaning in an Evolving Universe</i>,
						written for a broader audience. <a class="return-from-note" href="#note-ref-26">&crarr;</a>
					</li>
					<li id="note-27">
						Bojowald 2009: 127. <a class="return-from-note" href="#note-ref-27">&crarr;</a>
					</li>
					<li id="note-28">
						This essay is written with an emphasis on the ‘eternal flow’ obviously. One could, of course, argue, that this flow is guided by ‘eternal
						principles’ – capturing the neverending metaphysical battle between rigidity and fluidity. Michael Levin, working on the intersection of
						developmental biology, computer, science and cognitive science, is currently undertaking spectacular research that analyses how cells seem to
						intuitively grasp the shape of the organism they are part of, which is relevant, e.g., for regrowing limbs (regenerative medicine) – as if
						they were a aware of a Platonic realm of ideas. <a class="return-from-note" href="#note-ref-28">&crarr;</a>
					</li>
					<li id="note-29">
						Porter 2024: 85. ‘[A]ll physical states of the cosmos exist along a continuum that stretches across the whole of nature. Because the cosmic
						stuffs are without exception mutually interconvertible (each can be transformed into the others), and because the transitions from one state
						to the next are anything but clean (stuffs bleed into one another along this continuum, producing further intermediate states, such as air,
						which represents the evaporation of water ascending to fire), hard and fast distinctions (‘borderlines’) are distortions of nature’s reality,
						as are the way the stuffs come to be named.’ (Porter 2024: 78). <a class="return-from-note" href="#note-ref-29">&crarr;</a>
					</li>
					<li id="note-30">
						Nietzsche 1954: 314–15. <a class="return-from-note" href="#note-ref-30">&crarr;</a>
					</li>
					<li id="note-31">
						Klaus Theweleit offered an insightful analysis of the fascist soldier’s ‘hyper-masculine’ desire to ‘stay up’ and ‘stay hard’. He argued that
						‘the soldierly man freezes in front of erotic femininity, becomes an icicle’ and thus keeps himself  ‘together as a whole, as a body with rigid
						borders, as which he would cease to exist with the touch of an erotic woman. … He defends himself with a type of permanent erection of the
						whole body, entire cities, whole troop units …. If it is the man himself, a city, a rock, a border: critical for the defense against the flood
						is the towering’ (Theweleit 1977: 308–09). Interesting enough, contemporary psychiatrist Wilhelm Reich ‘reports from clinical practice that
						soldiers indeed frequently suffered from permanent erections’ (Theweleit 1977: 311). <a class="return-from-note" href="#note-ref-31">&crarr;</a>
					</li>
					<li id="note-32">
						Landgraf 2023: 42. <a class="return-from-note" href="#note-ref-32">&crarr;</a>
					</li>
					<li id="note-33">
						Ibid. 43–44. <a class="return-from-note" href="#note-ref-33">&crarr;</a>
					</li>
					<li id="note-34">
						Goethe 1808: 34. <a class="return-from-note" href="#note-ref-34">&crarr;</a>
					</li>
					<li id="note-35">
						Meillassoux 2005: 9. <a class="return-from-note" href="#note-ref-35">&crarr;</a>
					</li>
					<li id="note-36">
						Ibid. <a class="return-from-note" href="#note-ref-36">&crarr;</a>
					</li>
					<li id="note-37">
						Ibid: 10. <a class="return-from-note" href="#note-ref-37">&crarr;</a>
					</li>
					<li id="note-38">
						Strickland 2025. <a class="return-from-note" href="#note-ref-38">&crarr;</a>
					</li>
					<li id="note-39">
						Röttger-Rössler 2018: 253. <a class="return-from-note" href="#note-ref-39">&crarr;</a>
					</li>
					<li id="note-40">
						Röttger-Rössler 2018: 244. <a class="return-from-note" href="#note-ref-40">&crarr;</a>
					</li>
					<li id="note-41">
						Blumenberg 1960: 11. <a class="return-from-note" href="#note-ref-41">&crarr;</a>
					</li>
					<li id="note-42">
						Arend 2017: 683. <a class="return-from-note" href="#note-ref-42">&crarr;</a>
					</li>
					<li id="note-43">
						Muhs 1948: 101–06. <a class="return-from-note" href="#note-ref-43">&crarr;</a>
					</li>
					<li id="note-44">
						Dywidag. ‘Zeitlicher Verlauf der Baugrundbelastung’. 27 Nov. 1941. ALLVIA Ingenieurgesellschaft mbH, 4112-03. <a class="return-from-note" href="#note-ref-44">&crarr;</a>
					</li>
					<li id="note-45">
						Muhs 1948: 101–11. <a class="return-from-note" href="#note-ref-45">&crarr;</a>
					</li>
					<li id="note-46">
						Projektarchiv Degebo, Tätigkeit des Arbeitsausschusses der Degebo im 12. Geschäftsjahr (1 April 1939 bis 31. März 1940): 5–6. <a class="return-from-note" href="#note-ref-46">&crarr;</a>
					</li>
					<li id="note-47">
						Muhs 2004 1969: 21. <a class="return-from-note" href="#note-ref-47">&crarr;</a>
					</li>
					<li id="note-48">
						Ibid.: 18. <a class="return-from-note" href="#note-ref-48">&crarr;</a>
					</li>
					<li id="note-49">
						The cylinder was the Degebo's main research site up to the 1980s. In conversation, some experts even claim 70–80% of knowledge we have about
						soil mechanics today come from this one site. Using the cylinder as deadweight, the researchers were able to simulate almost infinite pressures
						on a variety of materials and soils. In 1979, Prof. Dr. Dr.-Ing. E.H. Meyerhof from the Technical University of Halifax, Canada, sent a letter
						to the Degebo, highlighting the international reputation of the German research institute by stating that, with their ‘cutting-edge research,
						especially their … large scaled test-loads … the Degebo has acquired an international reputation’. He acknowledged them as ‘one of the oldest
						research institutes in the world within their field’ (Projektarchiv Degebo, Heft 33 einschl. Schriftwechsel). <a class="return-from-note" href="#note-ref-49">&crarr;</a>
					</li>
					<li id="note-50">
						More info on <a href="https://www.schwerbelastungskoerper.de" target="_blank" rel="noopener noreferrer">www.schwerbelastungskoerper.de</a> <a class="return-from-note" href="#note-ref-50">&crarr;</a>
					</li>
					<li id="note-51">
						Meadows et al. 2004: 137. <a class="return-from-note" href="#note-ref-51">&crarr;</a>
					</li>
					<li id="note-52">
						As if there was a justifying voice whispering in our ears: ‘A fascination for hugeness is expressed in the Tower of Babel, the Egyptian pyramids,
						the buildings of Olympia, the temples of Selinunt, the Colosseum in Rome, whether they represent the power of a state, individual will, a symbol
						of faith, or a demonstration of technical skill.’ (Speer 1985: 213) <a class="return-from-note" href="#note-ref-52">&crarr;</a>
					</li>
				</ol>
				<hr class="essay-footer" />
				<h2 class="essay-footer">Acknowledgements</h2>
				<h3 class="footer-subhead">Personal</h3>
				<p>
					Emily Brownell, University of Edinburgh: for her patience with my manuscript, excellent feedback and encouraging words. Dana Cuff, UCLA Urban
					Humanities Initiative: for encouraging me to explore architecture and urban spaces. Marco Kano: for lending me his civil engineering eye to check
					upon my calculations. David Kim, UCLA: for consistently brilliant and detailed feedback, reading recommendations, and career-building advice. René
					Krüger, Berliner Unterwelten e.V.: for introducing me to everything, his resourcefulness, and kind spirit. Julia Hell, University of Michigan: for
					her mentorship, encouraging words, and pushing me to publish faster. Marcel Ney, TU Berlin: for allowing me to dig through the archives since 2018
					and making my project possible. Todd Presner, UCLA Urban Humanities: for encouraging me to discover my own path and years of mentorship. Michael
					Richter, Berliner Unterwelten e.V.: for providing me with a plethora of resources, connecting me with the right people, and making my project
					possible. Maite Zubiaurre, UCLA Urban Humanities Initiative: for encouraging me to liberate my poetic voice.
				</p>
				<h3 class="footer-subhead">Institutional</h3>
				<p>
					The White Horse Press; Michigan Society of Fellows; Germanic Languages and Literatures, University of Michigan (UM); Faculty Grant, UM Weiser
					Center for Europe and Eurasia; Berlin Program for Advanced German and European Studies, Freie Universität Berlin; Ernst Adolf Marum Fellowship,
					UCLA Center for European and Russian Studies; Research Grant, UCLA Department for European Languages and Transcultural Studies; Mellon EPIC
					Fellow in the Seminars for Teaching Excellence: Environmental & Urban Humanities, UCLA Division of Humanities; Alan D. Leve Graduate Research
					& Travel Grant for Student Excellence and Roter Research Grant, UCLA Alan D. Leve Center for Jewish Studies; Harry and Yvonne Lenart Graduate
					Travel Fellowships, UCLA Division of Humanities; Frances Talley Award & Summer Research Grant, UCLA Department of Germanic Languages; International
					Institute Fieldwork Fellowship Award, UCLA International Institute
				</p>
				<hr class="essay-footer" />
				<h2 class="essay-footer">References</h2>
				<ul class="references">
					<li>
						Ahmed, Sarah. 2004. ‘Collective Feelings. Or, The Impressions Left by Others’. <i>Theory, Culture & Society</i> <b>21</b> (3): 25–42.
					</li>
					<li>
						Arend, Jan. 2017. ‘Russian Science in Translation: How Pochvovedenie Was Brought to the West, c. 1875–1945’.
						<i>Kritika: Explorations in Russian and Eurasian History</i> <b>18</b> (4): 683–708.
					</li>
					<li>
						Blumenberg, Hans. 1960. ‘Paradigmen zu einer Metaphorologie’. <i>Archiv für Begriﬀsgeschichte</i> 6: 7–142.
					</li>
					<li>
						Bojowald, Martin. 2009. <i>Zurück vor den Urknall. Die ganze Geschichte des Universums</i>. Frankfurt am Main: S. Fischer.
					</li>
					<li>
						Edwards, Catherine (ed.) 1999. <i>Roman Presences: Receptions of Rome in European Culture, 1789–1945</i>. Cambridge: Cambridge University Press.
					</li>
					<li>
						Goethe, Johann Wolfgang von. 1808. <i>Faust: Der Tragödie erster Teil</i>. Tübingen: Cotta.
					</li>
					<li>
						Greene, Brian. 2020. <i>Until the End of Time: Mind, Matter, and Our Search for Meaning in an Evolving Universe</i>. New York: Vintage.
					</li>
					<li>
						Griffin, Roger. 2018. <i>Fascism: An Introduction to Comparative Fascist Studies</i>. Cambridge: Polity.
					</li>
					<li>
						Haney, David. 2022. <i>Architecture and the Nazi Cultural Landscape: Blood, Soil, Building</i>. London: Routledge.
					</li>
					<li>
						Hell, Julia. 2019. <i>The Conquest of Ruins: The Third Reich and the Fall of Rome</i>. Chicago: University of Chicago Press.
					</li>
					<li>
						Kerisel, Jean. 1987. <i>Down to Earth: Foundations Past and Present: The Invisible Art of the Builder</i>. Rotterdam/Bosten: Balkema.
					</li>
					<li>
						Kirsch, Klaus and Fabian Kirsch. 2016. <i>Ground Improvement by Deep Vibratory Methods</i>. 2nd. ed. Boca Raton: CRC Press.
					</li>
					<li>
						Kurek, Paul (contributor). ‘The Nazi Block’. Episode 616, 99% Invisible: <a href="https://99percentinvisible.org/episode/616-the-nazi-block/transcript/" target="_blank" rel="noopener noreferrer">99percentinvisible.org/episode/616-the-nazi-block/transcript/</a> (Accessed 13 June 2025).
					</li>
					<li>
						Kurek, Paul. 2025. ‘Towards a Cultural Geology: Merging Material and Conceptual History’. <i>The Journal of the History of Ideas Blog</i>, ed. by Jonathon Catlin, 15 Jan.: <a href="jhiblog.org/2025/01/15/towards-a-cultural-geology-merging-material-and-conceptual-history" target="_blank" rel="noopener noreferrer">jhiblog.org/2025/01/15/towards-a-cultural-geology-merging-material-and-conceptual-history</a>  (Accessed 15 Jan. 2025).
					</li>
					<li>
						Kurrer, Karl-Eugen. 2016. <i>Geschichte der Baustatik: Auf der Suche nach dem Gleichgewicht</i>. 2nd ed. Berlin: Ernst & Sohn.
					</li>
					<li>
						Landgraf, Edgar. 2023. <i>Nietzsche’s Posthumanism</i>. Minneapolis: University of Minnesota Press.
					</li>
					<li>
						Litt, Thomas, et al. 2007. ‘Stratigraphische Begriffe für das Quartär des Norddeutschen Vereisungsgebietes’. <i>E&G Quaternary Science Journal</i> <b>56</b> (1/2): 7–65.
					</li>
					<li>
						McGurl, Mark. 2011. ‘The New Cultural Geology’. <i>Twentieth Century Literature</i> <b>57</b> (3/4): 380–90.
					</li>
					<li>
						Meadows, Donella, Dennis Meadows and Jorgen Randers. 2004. <i>Limits to Growth: The 30-Year Update</i>. London: Chelsea Green.
					</li>
					<li>
						Meillassoux, Quentin. 2008. <i>After Finitude</i>. London/New York City: Continuum.
					</li>
					<li>
						Meyerhof, George Geoffrey. 1979. Letter to the Degebo. Projektarchiv Degebo, Heft 33 einschl. Schriftwechsel.
					</li>
					<li>
						Muhs, Heinz. 1969. <i>1928–1968: 40 Jahre Degebo</i>. Berlin: Deutsche Forschungsgesellschaft für Bodenmechanik an der Technischen Universität Berlin.
					</li>
					<li>
						Nietzsche, Friedrich. 1954. ‘Über Lüge und Wahrheit im aussermoralischen Sinn’. <i>Friedrich Nietzsche. Werke in drei Bänden</i>, vol. 3, ed. by Karl Schlechta. Munich: Hanser. pp. 308–22.
					</li>
					<li>
						Porter, James. 2024. ‘Life Cycles beyond the Human: Biomass and Biorhythms in Heraclitus’. <i>Classical Antiquity</i> <b>43</b> (1): 50–96.
					</li>
					<li>
						Presner, Todd. 2007. <i>Mobile Modernity: Germans, Jews, Trains</i>. New York City: Columbia University Press.
					</li>
					<li>
						Röttger-Rössler, Birgitt. 2018. ‘Multiple Belongings. On the Affective Dimension of Migration’. <i>Zeitschrift für Ethnologie</i> <b>143</b> (2): 237–62.
					</li>
					<li>
						Speer, Albert. 2005 [1969]. <i>Erinnerungen</i>. Berlin: Ullstein.
					</li>
					<li>
						Speer, Albert. 1985. ‘Foreword’. <i>Albert Speer: Architecture 1932-1942</i>, ed. by Leon Krier, Brussels: AAM. pp. 213–216.
					</li>
					<li>
						Strickland, Ashely. 2025. ‘Asteroid 2024 YR4 Could Hit Earth in 7 Years. Here’s What Could Happen — and What’s Being Done About It’. CNN, 16 Feb.: <a href="https://edition.cnn.com/2025/02/15/science/asteroid-2024-yr4-earth-tracking/index.html" target="_blank" rel="noopener noreferrer">https://edition.cnn.com/2025/02/15/science/asteroid-2024-yr4-earth-tracking/index.html</a> (Accessed 16 Feb. 2025).
					</li>
					<li>
						Theleweit, Klaus. 1977. <i>Männerphantasien: Frauen, Fluten, Körper, Geschichte</i>, vol. 1. Frankfurt am Main: Roter Stern.
					</li>
					<li>
						Tomerius, Cornelia. 2013. <i>Ach du dickes B: Eine Berliner Pleitengeschichte</i>. Berlin: Berlin Verlag.
					</li>
					<li>
						Troost, Gerdy. 1938. <i>Das Bauen im neuen Reich</i>. Bayreuth: Gauverlag Bayerische Ostmark.
					</li>
					<li>
						Weber, Renée (ed.) 1986. <i>Dialogues with Scientists and Sages: The Search for Unity</i>. London/New York City: Routledge & Kegan Paul.
					</li>
				</ul>
				<h3 class="footer-subhead">Archival Sources</h3>
				<ul class="references">
					<li>
						Degebo. ‘Tätigkeit des Arbeitsausschusses der Degebo im 12. Geschäftsjahr (1 April 1939 bis 31 März 1940)’. 1940. Projektarchiv Degebo, 3112-3117 Geschäftsführung bis 1945, 3112 Tätigkeitsberichte.
					</li>
					<li>
						Dywidag. ‘Zeitlicher Verlauf der Baugrundbelastung’. 27 Nov. 1941. ALLVIA Ingenieurgesellschaft mbH, 4112-03.
					</li>
					<li>
						Mauz, Josef, Tiefbohrungen als wichtige Hilfsmittel bei der Neugestaltung Berlins. 1939. BArch, R 4606/639, Bl. 10-11.
					</li>
					<li>
						Muhs, Heinz. ‘Durchführung und Ergebnis einer großen Probebelastung’. Abhandlungen über Bodenmechanik und Grundbau. E. Schmidt, 1948.
					</li>
					<li>
						Muhs, Heinz. ‘Durchführung und Ergebnis einer großen Probebelastung’. Manuscript. 1948. Projektarchiv Degebo, 3352-1/1c Probebelastung Bauwerk T.
					</li>
					<li>
						Muhs, Heinz. ‘Struktur der eiszeitlichen Böden’. 10 Feb. 1940. Projektarchiv Degebo, 361 BKB O Große Halle, Poststadion, Stromrüttelverfahren.
					</li>
				</ul>
			</LongFormContent>
		</PageContent>
	</main>
</Layout>
