---
import Layout from "../../layouts/Layout.astro";

import PageHeader from "../../components/PageHeader.astro";
import EssayHeader from "../../components/EssayHeader.astro";
import LongFormContent from "../../components/LongFormContent.astro";
import PageContent from "../../components/PageContent.astro";

const locationTag = "Kwale Distrct, Kenya";
const title = "Building Roads, Counting Worms: Soil as a Medium for Parasitic Relations";
const byline = "Emily Brownell";
---
<Layout title={title}>
	<main>
		<PageContent>
			<PageHeader
				title="Essays"
				skipH1={true}
				linkTo="/essays"
			/>
			<EssayHeader
				locationTag={locationTag}
				title={title}
				byline={byline}
			/>
			<LongFormContent>
				<h2 class="visually-hidden">Essay</h2>
				<div>
					Figure 1. Kwale District, Kenya, RARP construction site, 1986. Photo courtesy of David Crompton.
					[Alt text: several men standing around on break from manual labour, resting and drinking water in rural Kenya. There is a Volkswagen Beetle in the background of the image. ]
				</div>
				<p>
					In the early 1980s, graduate students from Cornell University arrived in the Kwale District of Kenya to
					assess the health status of road workers.<sup class="note" id="note-ref-1"><a href="#note-1">1</a></sup> I’ve seen a few pictures. In one, there’s a young chap in a
					bucket hat with curly hair spilling out and down his neck. He is wearing wide legged green trousers and a
					button-down shirt. His face is out of view as he turns towards a group of men gathered near a woman who is
					dispensing food and water. There is a white tin cup being refilled and passed around as they take a break.
					These men are mostly without shirts and shoes. There is, improbably, a shiny white Volkswagen bug in the
					background of what is otherwise an expanse of dirt, scrub, and palm trees. ‘The beauty of a car like that’,
					laughs David Crompton, a retired parasitologist who is showing me the pictures, ‘is that the local people
					would just lift it out if it got stuck.’<sup class="note" id="note-ref-2"><a href="#note-2">2</a></sup>
				</p>
				<p>
					Crompton was one of several scientists traveling between road building sites across Kenya collecting enough
					biological samples and data to measure helminth (parasitic worm) infection rates, anaemia and the general
					nutritional status of the road workers. A graduate student, Andrew Hall, was also at the Kwale site where he
					‘went out with a little microscope’ and became the ‘worm man’ processing faecal samples.<sup class="note" id="note-ref-3"><a href="#note-3">3</a></sup> To put it bluntly,
					his was an apprenticeship of shit. At one site in West Pokot where there was no lab nearby to take samples,
					Andrew had to fashion his own.  He dug a hole in the ground to partially shelter himself from the hot sun and
					everyday would strip down to his shorts and step in. Workers would bring him plastic bags of their ‘slowly
					fermenting faeces’ when they showed up for work and he would put the faeces in a sieve and pour water over them
					from a jerry can, prospecting for worms. ‘I did, at one point, wonder if I wanted to be a parasitologist’,
					recalled Andrew.<sup class="note" id="note-ref-4"><a href="#note-4">4</a></sup> But, ‘It all worked out. I made some science out of it.’ The researchers there were young
					and starting their careers, experiencing the excitements and monotony of work in the field.
				</p>
				<p>
					The others in the picture were men from nearby villages who showed up at the site each morning to their own,
					more arduous, monotony: with only basic hand tools, they cleared away rocks and brush, hacked away at recalcitrant
					tree roots, dug up soil, carried it in wheelbarrows, emptied it out and compacted it down until a road took shape.
					The man with the book behind his back – and another man in another photo, fully dressed with a clipboard in hand,
					pencil poised – were assigned their own tedious task of counting the wheelbarrow loads of soil that each worker
					moved in a given amount of time, making sure they filled the barrow  just to the line demarcated by a splash of
					white paint.
				</p>
				<div>
					Figure 2. Kwale District, Kenya RARP Construction site, 1986. Photo courtesy of David Crompton.
					[Men loading and hauling wheelbarrows up a steep incline while another man records with a clipboard]
				</div>
				<p>
					These men and women (because, despite the photographs, many women also came to do the manual labour of road building)
					were part of Kenya’s Rural Access Roads Programme (RARP). RARP began in 1974 and ran for over a decade through funding
					from the Kenyan Government and an assortment of international aid organisations including USAID and The World Bank. The
					project emerged as part of a number of efforts funded by the World Bank in low income countries to examine if ‘roads,
					irrigation works, and other necessary facilities’ could be built through labour-intensive means to mitigate rising capital
					costs. The project was hailed as the ‘largest labor intensive project in Africa’ and donors were excited by the prospect
					of its expansion and adaption to other places.<sup class="note" id="note-ref-5"><a href="#note-5">5</a></sup> It was a foray into the potential benefits and rationale of appropriate
					technology just as the effects of the oil crisis were reverberating around the developing world. The oil crisis devastated
					national budgets as not only the price of oil, but of a host of other petroleum-based products, became untenably high. This
					meant that the men and women who were assembled along the roadside in Kwale were there to replace the need for bulldozers
					and diggers, graders and compactors. They would be paid in Kenyan shillings rather than the dearer economic price of US
					dollars exacted by heavy machinery.
				</p>
				<p>
					By the 1970s, countries like Kenya were shouldering significant debt in order to finance a national infrastructure where
					roads were the key conduit. Road building was expensive and often required hiring foreign firms, paying expatriate salaries,
					in addition to machinery and fuel.<sup class="note" id="note-ref-6"><a href="#note-6">6</a></sup> In the first decade of independence, these more standard arrangements had led to a system
					of trunk roads across the new nation and now the state’s attentions turned to improving the access that rural communities had
					to this arterial map of Kenya’s economy. The state hoped that building up access to rural communities would increase the
					production of cash crops and food crops. This required fixing, or building from scratch, segments of roads just a few kilometres
					long as the final step connecting crops to markets. RARP aimed to employ 15,000 labourers in 25 different rural districts to
					build 7,600 kilometres of unpaved roads by 1982.<sup class="note" id="note-ref-7"><a href="#note-7">7</a></sup> Using local labour drawn from nearby villages, RARP was an employment project
					as much as it was a road building project, aimed to help alleviate the nation’s alarming levels of joblessness.
				</p>
				<p>
					But why were there health researchers there? And what about the man with the clipboard? In short, they were there to ensure
					that human labour remained cheaper than machines. Not only was the logic of RARP based on this, but it would serve as proof of
					concept for how to organise labour in similar projects where humans were replacing capital intensive machines. To ensure this
					cost saving, researchers and supervisors were there to find and close the gaps in the metabolic relationship between the human body
					and soil. If I am to do a more thorough accounting for these pictures of men and wheelbarrows and clipboards, I have left out the
					most obvious thing in the frame: soil. Soil in piles, deep horizons of soil exposed from digging, soil compacted, and finally soil
					in the form of a rural road, having absorbed the exertions of the labourers and been fashioned into something new and hopefully
					durable. The man with the clipboard recorded how efficiently workers could move and shape different kinds of soil into a road.
					His data collection captured a calculation of time and cubic metres moved. He was likely hired as part of the International Labor
					Organization project attached to RARP which aimed to quantify, measure and regiment the daily movements of road building, each
					task time-adjusted for varying soil types.<sup class="note" id="note-ref-8"><a href="#note-8">8</a></sup>
				</p>
				<p>
					The Cornell researchers had arrived to determine how parasites and nutrition affected the labour productivity of the workers.<sup class="note" id="note-ref-9"><a href="#note-9">9</a></sup>
					Their work was not to monitor an outward relationship between the exertion of bodies and soil, but an inward one. To what extent
					did Soil Transmitted Helminths (STHs) such as hookworm enervate the working body, making off with its nutritional inputs and inaugurating
					a cycle of diminishing returns in the externalised form of roads constructed? These moments of data collection stretched out over
					years of the project with teams visiting a number of sites across the country. Ultimately, they published dozens of studies on the
					presence and effect of parasites and poor nutrition on worker productivity.<sup class="note" id="note-ref-10"><a href="#note-10">10</a></sup> And many of these young researchers went on to long careers
					in parasitology, nutrition and international development.
				</p>
				<p>
					Together, these interlocutors were trying to identify the points of leakage in the system of road building at a moment where leakages
					seemed to proliferate. ‘Development’ as envisioned at mid-century was not unfolding as imagined: parasites abounded. The aspiration of
					the seamless global flow of goods from producers to consumers was being subverted by the reality that it was often more profitable to
					disrupt or feed off such flows. Brokers both big and small found places along the fractured channel of production to divert a portion
					or facilitate its passage.
				</p>
				<p>
					At the road building site, the various interlocutors were also making the endeavour of building a road into something else: an ILO
					handbook, a series of scientific studies, the beginning of a career, an exemplar for other countries. In adopting their own attention
					to such points of weakness and leakage, we might, in another light, identify other parasites in this story than the hookworm pursued
					by the scientists. Perhaps a variety of researchers who latched themselves on to the project and quite literally tapped and diverted
					the bodily flows of the road workers? As parasites so often do, they had found an open channel to cultivate. To point this out is not
					necessarily to moralise these moments of extraction or to suggest that such work did not generate value, scientific or otherwise,
					but it is to consider it in the same register as hookworm itself. As the French philosopher Michel Serres has written, we might want
					to reevaluate the parasite not as a mere fringe mode of harmful extraction that has latched on to otherwise productive systems,
					but see it instead as central to production itself.<sup class="note" id="note-ref-11"><a href="#note-11">11</a></sup>
				</p>
				<p>
					Serres categorises parasites loosely into three camps: biological (hookworm), social (human relations) and informational (the static
					or noise that jams up a system or network. For example, a road as a system and network). This confluence at the side of the road –
					of medical research and road building – offers a way to consider how soil serves as the medium in each of these types of parasitic
					relations.
				</p>
				<p>
					In our collective obsession with soil health as a measure for agricultural productivity, we can miss the more mundane ways that soil
					shapes our world, to great effect and consequence. Because of all the ways soil acts a container for life, it is constantly being
					remade by the banal transgressions of human, animal and plant life. In this remaking, microbes enter, or organic matter is leached
					out. Its unending ability to be remade is soil’s promise and its peril. Because soil is always more than one thing, it meets a multitude
					of human needs while simultaneously confounding them. In this case, the fact that it forms the substrate of roads when shaped through
					human exertion is confounded because, in such interactions, it also becomes the receptacle of human excretion, creating cycles of
					helminthic infection that prey on the energies of the workers’ bodies shaping those very roads. Perhaps road workers during RARP were
					not exposed to hookworm nematodes during their working day; I do not know. But they certainly carried hookworm and other parasites in
					their blood. In a 1974 study that examined the fecal matter of 906 roadworkers across four geographical regions of RARP construction
					sites, seventy per cent were infected with at least one intestinal helminth.<sup class="note" id="note-ref-12"><a href="#note-12">12</a></sup> And, despite not knowing rates of infection that occurred
					at these work sites, they are the sorts of environments where hookworm moves easily from person to person. This transmission usually
					happens through bare feet. When someone steps on a hookworm larva, it burrows into their circulatory system and eventually into the
					lungs. As it irritates the lungs, it is coughed up into the throat where it hitches a ride into the digestive system and makes a home
					in the small intestine, feeding on its host’s blood and reproducing. Those worm’s eggs pass out of the body through excretion and
					wait for another foot to pass by. Hookworm is not equally distributed in soil across the world; it instead reflects regimes of labour,
					sanitation and the politics of development.
				</p>
				<p>
					Building roads is often described with words that compare it to the circulatory system of the human body. Roads, like blood, bring
					things into contact and connectivity. They are places ripe for opportunistic transmissions. For example, when another helminth,
					tapeworm, was hobbling the Kenyan cattle industry in the 1950s, a health campaign was launched to focus on humans as the vector for
					the parasite. Farmers were asked to dose their workers with anthelminthic medications to curb interspecies infection. But some baulked
					that the real culprits were gangs of road workers or post and telegraph employees who ‘nip over fences and use the nearest convenient
					bush on the farmer’s land as a latrine’.<sup class="note" id="note-ref-13"><a href="#note-13">13</a></sup> Efforts to expand connectivity can ultimately
					not control who or what comes along for the ride.
				</p>
				<p>
					But, as I suggested above, soil serves as a site for more than just biological parasites. Roads, for example, are often conduits for
					parasitic extraction even as they are framed as mediums for exchange. Looking backwards from the postcolonial moment of RARP offers a
					particular view on how the empire extracted from rural communities through not just roads themselves, but through the labour needed
					to construct them. As the British East African Company came into existence, the promise of profit for the new colony was bound most
					closely to the success of the railway. Roads would not serve as the main artery of extraction or delivery of goods. However, the
					railway heavily indebted the BEAC and building roads with forced communal labour came to subsidise these costs by providing access
					to the ethnic ‘homelands’ where Africans were relegated. These pathways, and the unpaid labour exacted to build them, became the
					necessary substrate for delivering young men into wage labour.<sup class="note" id="note-ref-14"><a href="#note-14">14</a></sup>
				</p>
				<p>
					Across historical context, the arduous work of digging out soil, moving it, compacting it into roads, is such a massive undertaking
					that it is frequently done at the barrel end of a gun or in the shadow of a whip (prison labour, enslaved labour) all while framed as
					a public good. The same was true in colonial Kenya. If a road could be claimed to ‘benefit’ a nearby community, the local colonial
					administrator could recruit unpaid male labourers to both build and maintain those roads as an obligation to the colony.<sup class="note" id="note-ref-15"><a href="#note-15">15</a></sup> These early
					transportation infrastructures are often the originary debt which states incur – a different kind of substrate – that then necessitates
					the further extraction and circulation of value until something resembling an ‘economy’ emerges. Such debts compel further extraction
					and exploitation just as dirt roads also compel constant maintenance. Archdeacon D.E. Owen, a perennial thorn in the side of the
					colonial state, who considered compulsory labour akin to slavery, argued that in just one district in central Kenya, the practice of
					forced labour saved the state ‘£50,000 a year’ in maintenance.<sup class="note" id="note-ref-16"><a href="#note-16">16</a></sup>
				</p>
				<p>
					After independence, Kenya’s economy was largely dependent on the value cash crops could yield on an international market, particularly
					coffee, sisal, tea and pyrethrum. By the 1970s, the railway was faltering under political and infrastructural strain. Despite the
					volatility of relying on cash crops as so many new nations were forced to do, the state hoped to aggressively expand agricultural
					production into new areas that lay beyond railway lines.<sup class="note" id="note-ref-17"><a href="#note-17">17</a></sup> Rapidly, the road became king in Kenya. For decades, more of the state’s
					annual budget was allocated to roads than any other budget item, including water, education and health.<sup class="note" id="note-ref-18"><a href="#note-18">18</a></sup> For the thousands of roads
					not tarmacked, how did they function as conduits for the economy or connecting communities to resources? Soil as a medium for road
					building is not all created equal; some soil works better than others. East African soils are highly weathered soils often with a high
					content of clay. Some clay content is essential for creating hard, smooth surfaces, but too much and a road can compact and shrink
					dramatically during dry seasons. The surface can crack and fissure, making car journeys over such ‘washboard’ roads into teeth
					chattering affairs, if even possible. With the eventual return of heavy rains, puddles of standing water accumulate in the deep
					wells that have been formed, paralysing vehicles.
				</p>
				<p>
					One only needs to open a regional file from the transport authority to begin
					filling out a picture of how often roads were sites of blockage and contestation rather than passage. Communities wrote a stream
					of letters to the authority and local politicians begging for urgent and routine repairs. They appealed by showing how their ability
					to be good, productive citizens hung in the balance of their thwarted access to markets, schools, families. The Minister for Health
					in Nyanza province in 1976 wrote urgently to the Minister for Works about an unfolding cholera outbreak and the need for a series
					of rural roads to be fixed urgently if lives were to be saved.<sup class="note" id="note-ref-19"><a href="#note-19">19</a></sup> Farmers wrote seeking reassurances that if they bothered to grow a
					cash crop, they would be able to get it to market. Trucking companies sent tallies of repairs done on their vehicles due to
					traversing rough roads. They threatened to abandon routes in the face of mounting maintenance costs, leaving crops rotting, milk
					spoiling. To turn to Serres, poor road surfaces brought more ‘noise’ into vulnerable postcolonial economies and livelihoods.
					‘What is work?’ writes Serres,
				</p>
				<blockquote>
					Undoubtedly, it is a struggle against noise. If we allow things to happen without intervening, stables would fill up with manure,
					the fox would eat the chickens ... The channel is filled with mud. At low tide, you see the port filled with sand. Soon, the ships
					will not be able to get through. Things mix; don’t move, don’t stir with the spoon; the sugar will sooner or later dissolve in the water.
					Sometimes there are convenient, useful mixtures but most of them are obstructions or encumbrances. To work is to sort.<sup class="note" id="note-ref-20"><a href="#note-20">20</a></sup>
				</blockquote>
				<p>
					Soil and climate, without such human sorting and working, collude to fray the warp and weft of Kenya’s fragile economy. And in the
					openings, uninvited guests arrive.
				</p>
				<p>
					Rural Kenyans were increasingly left to rely on a middleman to find a way around impassable roads. These men and women would take
					a margin of their profits to broker safe passage of people and goods. Or, without reliable access to markets, rural men and women
					left behind agricultural production to become brokers themselves. Such ‘mediators’, writes Mike Degani, ‘so long as they restrict
					themselves to relatively modest interventions, can make a living by bridging gaps’.<sup class="note" id="note-ref-21"><a href="#note-21">21</a></sup> Kenya’s economy (not uniquely) reflects a
					reliance on soil being made into the smooth surfaces of roads but also that they will never stay that way for too long. To again
					turn to Serres: ‘Systems work because they do not work. Nonfunctioning remains essential for functioning … There are channels, and
					thus there must be noise.’<sup class="note" id="note-ref-22"><a href="#note-22">22</a></sup> The impassable road itself became a source of economic activity, if not production, as other avenues
					were foreclosed.
				</p>
				<p>
					The blockage can also be unnatural – not a process of climate colluding with soil, but of human intervention to leverage or alternatively
					halt extraction. When I was in East Africa this past summer, we found ourselves in a car faced with a roadblock on a small rural road. The
					community was tired of the regional government taking murram (gravel) from a local quarry while neglecting the maintenance of their local
					roads. The roadblock was a mass of soil piled high in the middle of the road – the very murram the lorries were coming to take away was
					now blocking access. Its mass, but also its particulate nature (that it was not just a big hulking object) meant it could not be easily
					pushed aside without construction equipment. Its effectiveness also lay in the fact that so few locals had cars that would require the
					full width of the road for passage. Thus the blockage was finely targeted to those accessing the quarry (and the unexpected foreigner).
					In moments of frustration and desperation, blockages disrupt business as usual and compel a remaking of relations. The road becomes the
					message as much as the medium.<sup class="note" id="note-ref-23"><a href="#note-23">23</a></sup>
				</p>
				<p>
					Let us briefly return to where we began. Soil, when we scope down to the microscopic (the hookworm) or scope up to the aggregate (the road)
					can be seen as a haven for parasites. Soil is a rich medium for production, growth and fertility, but soil’s other properties shape
					human relations just as potently. It is a universal material we draw on and expect can be moulded to our needs, but it also harbours
					its own life and history. Road work crews for RARP even just a few kilometres apart from one another were often revealed to have wildly
					different rates of parasitic infection for soil transmitted helminths. Those infection rates in part reflect soil environments, which
					in turn capture a fleeting snapshot of health and development in a particular community at a particular moment in time. In taking its
					meal of blood, hookworm and other soil transmitted helminths take with them stores of a body’s iron. A parasite, when behaving
					optimally, never takes so much as to destroy its host. And yet, as a host encounters more hookworm larvae, they increase what
					parasitologists call their ‘worm burden’ and this can cause serious iron deficiency, particularly for people who are already eating
					on the margins of health. Iron matters because it is the essential mineral for making hemoglobin, which aids red blood cells in
					transporting oxygen from a person’s lungs to their other organs, jumpstarting the metabolic cycle. Ironically, the iron that is
					ubiquitous in much of East Africa’s dusty red soils – a sign of the leaching of organic matter in hot tropical conditions – is in
					short supply in the bloodstream. While these are not commensurate forms of iron, it is hard to not see the soil and the body and
					their exertions on one another – the circulations and decelerations – as some sort of distorted mirror image.
				</p>
				<p>
					The researchers who showed up at these work sites were seeking evidence of theft: to document the diversions of workers’ precious metabolic
					reserves by biological parasites. While their own individual aspirations might have been to build a career or conduct scientific research,
					their most immediate goal was to, in concert with the foremen counting wheelbarrow loads of soil, find a way to ensure that manual labour
					could be more economically efficient than machines. In measuring how much more productive workers could be without such diversions, they
					were seeking a commensurability of their own, between health and productivity. But any such exercise in naming a culprit gives clemency
					to others. A biological parasite then comes to stand in for the many other parasitic relations the soil harbours. As one parasitologist
					told me, it’s never that straightforward why someone works hard while someone else might not. His comment might have been reflecting
					on the elusive personal motivation of labouring, or the murkiness that remains in understanding the physiology of bodies. My insistence
					on a hazy etiology would also point to the historical, the political, and the material.
				</p>
				<hr class="essay-footer" />
				<h2 class="essay-footer">
					Notes
				</h2>
				<ol class="notes">
					<li id="note-1">
						For more on roads and parasites in Kenya, see Brownell 2026. <a class="return-from-note" href="#note-ref-1">&crarr;</a>
					</li>
					<li id="note-2">
						Crompton interview 2023. <a class="return-from-note" href="#note-ref-2">&crarr;</a>
					</li>
					<li id="note-3">
						Hall interview 2023. <a class="return-from-note" href="#note-ref-3">&crarr;</a>
					</li>
					<li id="note-4">
						Hall interview 2023. <a class="return-from-note" href="#note-ref-4">&crarr;</a>
					</li>
					<li id="note-5">
						Brokensha and Riley n.d: 2. <a class="return-from-note" href="#note-ref-5">&crarr;</a>
					</li>
					<li id="note-6">
						World Bank Project Performance Audit Report 1991. <a class="return-from-note" href="#note-ref-6">&crarr;</a>
					</li>
					<li id="note-7">
						Brokensha and Riley n.d.: 2. <a class="return-from-note" href="#note-ref-7">&crarr;</a>
					</li>
					<li id="note-8">
						Veen 1980. <a class="return-from-note" href="#note-ref-8">&crarr;</a>
					</li>
					<li id="note-9">
						For example, Brooks et al. 1979. <a class="return-from-note" href="#note-ref-9">&crarr;</a>
					</li>
					<li id="note-10">
						Latham et al. 1983a; Latham et al. 1983b, Latham et al. 1982. <a class="return-from-note" href="#note-ref-10">&crarr;</a>
					</li>
					<li id="note-11">
						Serres 1980. <a class="return-from-note" href="#note-ref-11">&crarr;</a>
					</li>
					<li id="note-12">
						Hall et al. 1982: 731. <a class="return-from-note" href="#note-ref-12">&crarr;</a>
					</li>
					<li id="note-13">
						Department of Information, Nakuru to Provincial Medical Officer, 18 Dec 1957. Folder: BY-56-1 Helminthiasis 1946-1956, Kenya
						National Archives. <a class="return-from-note" href="#note-ref-13">&crarr;</a>
					</li>
					<li id="note-14">
						The roads were often built on top of earlier pathways, capitalising on the knowledge and skill of African communities and
						their networks of trade. For more on this in the region, see Grace 2022 and Park 2024. <a class="return-from-note" href="#note-ref-14">&crarr;</a>
					</li>
					<li id="note-15">
						See Park 2024, Grace 2022 and Okia 2012. Despite the law specifying men of working age, this was often not who actually had to
						fulfil such labour obligations. Instead, road building sites were often full of women, children and older men. <a class="return-from-note" href="#note-ref-15">&crarr;</a>
					</li>
					<li id="note-16">
						Okia 2012: 2. <a class="return-from-note" href="#note-ref-16">&crarr;</a>
					</li>
					<li id="note-17">
						Another strategy is to increase manufacturing, which many African countries attempted to do in this period as well. <a class="return-from-note" href="#note-ref-17">&crarr;</a>
					</li>
					<li id="note-18">
						Burgess et al. 2015. <a class="return-from-note" href="#note-ref-18">&crarr;</a>
					</li>
					<li id="note-19">
						File AVQ-15-26 Roads Generally Nyanza Province, Kenya National Archives. <a class="return-from-note" href="#note-ref-19">&crarr;</a>
					</li>
					<li id="note-20">
						Serres 1980: 86. <a class="return-from-note" href="#note-ref-20">&crarr;</a>
					</li>
					<li id="note-21">
						Degani 2022: 176. <a class="return-from-note" href="#note-ref-21">&crarr;</a>
					</li>
					<li id="note-22">
						Serres 1980: 79. <a class="return-from-note" href="#note-ref-22">&crarr;</a>
					</li>
					<li id="note-23">
						Schouten 2022. <a class="return-from-note" href="#note-ref-23">&crarr;</a>
					</li>
				</ol>
				<hr class="essay-footer" />
				<h2 class="essay-footer">References</h2>
				<ul class="references">
					<li>
						Brokensha, David and Bernard W Riley. N.d. ‘Rural Access Roads in Western Kenya: Socioeconomic and Environmental Impact Studies,
						1979–1983’. n.d.
					</li>
					<li>
						Brooks, R., M. Latham and D.W.T. Crompton. 1979. ‘The Relationship of Nutrition and Worker Productivity in Kenya’. <i>East African
						Medical Journal</i> <b>56</b> (October): 413–21.
					</li>
					<li>
						Brownell, Emily. Forthcoming 2026. ‘Roads and Nematodes: Kenya’s Colonial Economy as Metabolic Struggle’. <i>Ethnos: Journal of
						Anthropology</i>.
					</li>
					<li>
						Burgess, Robin et al. 2015. ‘The Value of Democracy: Evidence from Road Building in Kenya’. <i>The American Economic Review</i> <b>105</b>
						(6) (2015): 1817–51.
					</li>
					<li>
						Degani, Michael. 2022. <i>The City Electric: Infrastructure and Ingenuity in Postsocialist Tanzania</i>. Durham, NC: Duke University
						Press Books.
					</li>
					<li>
						Grace, Joshua. 2022. <i>African Motors: Technology, Gender, and the History of Development</i>. Durham, NC: Duke University Press Books.
					</li>
					<li>
						Hall, Andrew, M.C. Latham, D.W.T. Crompton, L.S. Stephenson and J.C. Wolgemuth. 1982. ‘Intestinal Parasitic Infections of Men in
						Four Regions of Rural Kenya’. <i>Transactions of the Royal Society of Tropical Medicine and Hygiene</i> <b>76</b> (6) (January): 728–33.
					</li>
					<li>
						Latham, M., L. Stephenson, J. Wolgemuth, T. Elliott, A. Hall, and D. Crompton. 1983. ‘Nutritional Status, Parasitic Infections
						and Health of Roadworkers in 4 Areas of Kenya: Part I Kwale District--Coastal Lowlands’. <i>East African Medical Journal</i> <b>60</b> (February): 2–10.
					</li>
					<li>
						Latham, M.C., L.S. Stephenson, A. Hall, J.C. Wolgemuth, T.C. Elliot and D.W.T. Crompton. 1983. ‘Parasitic Infections, Anaemia
						and Nutritional Status: A Study of Their Interrelationships and the Effect of Prophylaxis and Treatment on Workers in Kwale
						District, Kenya’. <i>Transactions of the Royal Society of Tropical Medicine and Hygiene</i> <b>77</b> (1): 41–48.
					</li>
					<li>
						Latham, M.C., L.S. Stephenson, A. Hall, J.C. Wolgemuth, T.C. Elliott and D.W.T. Crompton. 1982. ‘A Comparative Study of the
						Nutritional Status, Parasitic Infections and Health of Male Roadworkers in Four Areas of Kenya’. <i>Transactions of the Royal
						Society of Tropical Medicine and Hygiene</i> <b>76</b> (6): 734–40.
					</li>
					<li>
						Okia, Opolot. 2012. <i>Communal Labor in Colonial Kenya: The Legitimization of Coercion, 1912–1930</i>. London: Palgrave Macmillan.
					</li>
					<li>
						Park, Emma. 2024. <i>Infrastructural Attachments: Austerity, Sovereignty, and Expertise in Kenya</i>. Durham, NC: Duke University
						Press Books.
					</li>
					<li>
						Schouten, Peer. 2022. <i>Roadblock Politics: The Origins of Violence in Central Africa</i>. Cambridge: Cambridge University Press, 2022.
					</li>
					<li>
						Serres, Michel. 2007 [1980]. <i>The Parasite</i>. Minneapolis: University of Minnesota Press.
					</li>
					<li>
						Tullos, Allen. 1978. ‘The Great Hookworm Crusade | Facing South’. <i>Southern Exposure</i> <b>6</b> (2) ‘<i>Sick for Justice: Health Care and
						Unhealthy Conditions</i>’: <a href="https://www.facingsouth.org/great-hookworm-crusade" target="_blank" rel="noopener noreferrer">https://www.facingsouth.org/great-hookworm-crusade</a> (Accessed 8 April 2024).
					</li>
					<li>
						Veen, J.J. de. 1980. <i>The Rural Access Roads Programme: Appropriate Technology for Kenya</i>. 4th edition. Geneva: International
						Labour Office.
					</li>
					<li>
						World Bank. 1991. Report No. 9560 Project Performance Audit Report Kenya: Rural Access Roads Project:
						<a href="https://documents1.worldbank.org/curated/en/214541468915072663/pdf/multi-page.pdf">https://documents1.worldbank.org/curated/en/214541468915072663/pdf/multi-page.pdf</a>
					</li>
				</ul>
				<h3 class="footer-subhead">Archives</h3>
				<ul class="references">
					<li>
						Kenya National Archives, Nairobi, Kenya
					</li>
				</ul>
				<h3 class="footer-subhead">Interviews</h3>
				<ul class="references">
					<li>
						Crompton, David. Interview with author via Zoom, 17 March 2023.
					</li>
					<li>
						Hall, Andrew. Interview with author via Zoom, 6 April 2023.
					</li>
				</ul>
			</LongFormContent>
		</PageContent>
	</main>
</Layout>
