---
import Layout from "../../layouts/Layout.astro";

import PageHeader from "../../components/PageHeader.astro";
import EssayHeader from "../../components/EssayHeader.astro";
import LongFormContent from "../../components/LongFormContent.astro";
import PageContent from "../../components/PageContent.astro";

const title = "Introduction";
const byline = "Emily Brownell";
const authorSlug = "emily-brownell";
---
<Layout title={title}>
	<main>
		<PageContent>
			<PageHeader
				title="Essays"
				skipH1={true}
				linkTo="/essays"
			/>
			<EssayHeader
				title={title}
				byline={byline}
				authorSlug={authorSlug}
			/>
			<LongFormContent>
				<h2 class="visually-hidden">Essay</h2>
				<p>
					Two summers ago I was in Nakuru, Kenya to conduct research for a project
					on soil when I met Helen. She offered to take me to her herbalist, whose shop
					occupied the sidewalk of a busy street corner in the centre of town. It was a
					place where casual, yet intimate, consultations unfolded on a small wooden
					bench. Helen had first sought out the woman's help trying to conceive and then
					continued to see her for various ailments and aspirations. We stood in line for
					my own brief consultation on the well-worn bench. Mostly, I was interested in
					her bags of clay for sale called munyo (sometimes also called udongo, or odowa).
					Helen was eager to assure me that she herself did not eat clay or soil. At least,
					not anymore. She understood that women ate it for calcium and iron and to
					calm their stomachs during pregnancy, but Helen worried that the toxins in
					the clay often had exacerbating effects rather than salutary ones. The woman
					in front of me in line inhabited the space with the ease of a regular client. She
					was helping herself to pinches of clay as she chatted about her health problems.
					Putting the bag back on the counter as she walked away, she turned to me with
					a wry smile and said if she took the bag home, it would be gone in a day or
					two. I broke off a crumbling chunk; the taste was minerally, chalky and slightly
					salty. When it was my turn, I asked the herbalist where the clay came from and
					she said it came from no particular place but was often gathered along busy
					roadsides known for their clay deposits. Its origins didn't seem to hold much
					significance to her. A few days later, my research assistant, whom I had also
					recruited into my curiosity about munyo, told me it came from a cemetery in
					the southern part of the city when soil was dug for interring new bodies. Later
					that day, as I sat down with a young researcher for a conversation on other
					topics, he laughed when I asked him about munyo too. He recalled his mother
					eating it frequently. 'There's a joke I've heard lately', he said, 'that Kenyans are
					so poor now, women cannot even afford to eat soil anymore!'
				</p>
				<p>
					As I travelled around Kenya and later Uganda I noticed bags of clay for
					sale in most markets. It was usually sold by women alongside a range of herbs.
					Some described the habit as starting in childhood and for others it was during
					pregnancy. It was often discussed as an addiction: a desire that would simply
					arrive at some point and was hard to vanquish. I sensed that craving munyo
					might reveal someone to be 'country' folk, despite the habit's overwhelming
					ubiquity. My friend in Kampala (where it is called bumba) explained that it
					was social for her: a pleasurable habit amongst friends. But when she had
					feared someone might suspect she was pregnant if they caught her eating
					soil, she worked hard to curb her appetite. When we went to a busy market
					so I could buy some, she promptly broke off a piece, popping it in her mouth
					gleefully. While scholars often discuss eating soil as a sign of poor health or a
					disordered compulsion (geophagy or pica), this language leaves so much out
					of the picture.<sup class="note" id="note-ref-1"><a href="#note-1">1</a></sup> Munyo/Bumba was a source of connection to a particular place
					and an abiding pleasure. Some women described how they preferred the taste
					of the soil from their home, priding themselves on their ability to distinguish
					its particular flavor. Young children can even be in the habit of peeling dried
					mud off the side of their huts, literally ingesting their home.<sup class="note" id="note-ref-2"><a href="#note-2">2</a></sup>
				</p>
				<p>
					There is nothing unique about East Africans for eating clay or soil; it happens
					on every continent. And yet the particularities of its practice are certainly locally
					determined and debated. The jokes are local, too. While I was working on other
					things that summer in East Africa, munyo became my preoccupation. My larger
					project was framed as an examination of how soil offers a starting point and a
					point of view from which to write the region's history. The practice of eating
					clay captured something essential about what makes soil a compelling material
					for considering the intersections of our social and ecological worlds. Soil is
					always multiple and in excess of its role in planetary ecosystems. It is both this
					material excess (the fact that it is a truly heterodox substance) and its affective
					excess (many different things are invoked when soil is invoked), that make it a
					rich subject. In this instance, munyo was many things at once: a compulsion, a
					gendered pleasure, a nutritional supplement and a source of potential harm. It
					was also a link to home and to the dead, a marker of class, a rite of passage, a
					social relation. I do not think my brief conversations even really scratched the
					surface, to choose a relevant aphorism. Munyo demonstrated so explicitly that
					we humans are of the soil – our fates bound to its ability to sustain and harm
					– always hungering for the connections it fosters. And, likewise, soil is in our
					thrall, vulnerable to our care and transgressions. At some point for us all, the
					distinction will attenuate: the eater becomes the eaten and we will become soil.
				</p>
				<p>
					This edited volume advocates for soil to become a germane topic for the
					humanities and social sciences. Soil is a medium in the most elemental sense
					of the word – both container and conduit – for telling stories about human
					life. This is not our revelation alone; a recent profusion of thinking about soil
					beyond the domain of the physical sciences is reflected within the syllabus
					that makes up Part I of this book. For a substance that sustains much of life
					on earth, this attention should be unsurprising.<sup class="note" id="note-ref-3"><a href="#note-3">3</a></sup> And yet, despite a rich his-
					tory of art and writing that makes reference to it, soil as an object of study has
					mostly remained the purview of biologists, chemists, geologists, engineers and
					agronomists.<sup class="note" id="note-ref-4"><a href="#note-4">4</a></sup> The recent renaissance in soil studies that has pushed beyond these
					disciplines reflects a growing effort within the humanities and social sciences
					to develop new frameworks and terms of art for grappling with the existential
					stakes of how humans and nature shape one another (and to dispense with
					such unhelpful binaries in the first place).<sup class="note" id="note-ref-5"><a href="#note-5">5</a></sup>
				</p>
				<p>
					When soil enters into these new research registers, what has been understood
					as biological processes and functions is interrogated in new ways. What
					was erosion or soil exhaustion comes into focus as the demands of capitalist
					agriculture systems, the byproduct of racial inequality, and the consequences of
					unremitting growth.<sup class="note" id="note-ref-6"><a href="#note-6">6</a></sup> What might have been reported in anxious calculations
					of soil fertility might now be considered in terms of regimes of care and risks
					of exposure.<sup class="note" id="note-ref-7"><a href="#note-7">7</a></sup> To point out this new language is not to suggest that all scientists
					have entirely elided the social and political life of soil.<sup class="note" id="note-ref-8"><a href="#note-8">8</a></sup> I am oversimplifying
					to make a point: when new disciplines move into ongoing conversations, they
					provoke moments when the subject at hand can be seen anew. And, in return,
					those who might have written off the biological for the cultural are forced
					to confront the liveliness and materiality of the soil itself. Soil is not an inert
					material to be acted upon. Its capacity to have a life and sustain life far beyond
					that which we humans prescribe for it is increasingly apparent. As Maria Puig
					de la Bellacasa writes, soil has shifted in both scientific and social registers
					from being a 'receptacle for crops' to being a 'living community' that humans
					may meddle in by augmenting, depleting and remaking, but do not entirely
					govern – let alone entirely understand.<sup class="note" id="note-ref-9"><a href="#note-9">9</a></sup>
				</p>
				<p>
					The broad, open-ended question that anchors this book is: if soil is a medium
					for telling important stories, what do we learn about our current historical moment
					when we start from the ground up? There is rich metaphorical potential
					here, but I also mean this literally and practically. In the essays that comprise
					Part 2 of this book, each author explores a moment where people have moved,
					modified, depleted, measured or remade soil for a particular purpose. These
					interventions always incur both intended and unintended consequences: what
					social, political or economic conditions are reflected or created in their wake?
				</p>
				<p>
					To approach these basic questions, we conceptualise this thin layer of
					earth that exists between our atmosphere and the subterranean world as most
					fundamentally a container for life. The agronomist Derek Lynch likens soil to
					a library, functioning as a repository of memory for landscapes.<sup class="note" id="note-ref-10"><a href="#note-10">10</a></sup> While this
					might evoke an intangible relationship between soil and place, the connection
					is also material. Through the slow accretions of our everyday interventions
					into the ground, soil contains a chronicle of past lives, both recent and ancient
					– some historic, some biological, some geological. Soil holds the remainders
					of human attempts at improving its yields. Soil contains the refuse we bury
					when we no longer want to account for it – these disquieting reminders of the
					costs of production. But, soil also houses the incidental material past of human
					lives that shift between cultural and biological registers and sometimes back.<sup class="note" id="note-ref-11"><a href="#note-11">11</a></sup>
					Methodologically, this requires thinking capaciously about what comprises
					soil and for whom it holds such things. Considering soil as a container for life
					suggests searching out its many different roles rather than seeing it as just an
					object of agronomy or science alone. Looking at what comprises it – minerals,
					parasites, organic matter – and what gets put in or taken out offers both insights
					into the past and a point of entry for considering the biological constraints
					that shape our collective future.
				</p>
				<p>
					With this conceptualisation, there is still a risk of seeing soil too simplistically
					as a 'receptacle' for things. But it is worth reconsidering what it means to
					hold things and serve as a medium. I am following here the work of feminist
					STS scholars, like Zo Sofia who conceptualises containers as technologies that
					have been left out of a history of science due to their associations of being inert,
					feminine, and passive in a history that tends to focus on phallo-centric tools.
					'Unlike the tool', she writes, 'which needs manipulation to perform its function,
					the container can perform its holding function automatically: a jar can
					simply sit there, full, on the shelf and be working to capacity.' Containers are
					not charismatic. They have not produced much historical inquiry, but that is
					more revealing of the viewer than the object. Containers are also not necessarily
					inert. The humble pot on the stove imparts iron into the food it cooks. The clay
					jug infuses milk with its earthy tang. Thinking about containers also allows
					us to move from the mundane vessel on the kitchen counter to human bodies
					to the biggest container of them all … the environment – the ever feminised
					'mother earth'. In addition to being feminised, containers often accompany
					women's work. Sofia draws in part on Lewis Mumford, who also saw containers
					as neglected by scholars. He pointed out that containers are the tools of cooking,
					milking, dyeing, tanning, brewing and gardening. These occupations are
					all bound up with 'the vital processes of fertilization, growth, and decay, or the
					life arresting processes of sterilization and preservation', as is soil. This further
					resonates with the fact that, in many cultures, soil is the domain of feminised
					work. A container is also not impervious. Soil is almost unbearably vulnerable
					to transformation and infiltration – being remade constantly from above and
					below. But, such vulnerability is also a reminder that 'contamination' is essential
					for life.<sup class="note" id="note-ref-12"><a href="#note-12">12</a></sup> Or, as Tim Ingold writes, bodies exist only because they are porous
					and provisional – leakage and containment cannot be pulled apart.<sup class="note" id="note-ref-13"><a href="#note-13">13</a></sup>
				</p>
				<p>
					If soil is a container, what does it hold, what passes through it, and what
					is taken out of it? An older model within Western scientific discourses has
					treated soil as predominantly a medium that sustains and delimits biological
					life.<sup class="note" id="note-ref-14"><a href="#note-14">14</a></sup> Such conceptions of soil mean it also serves as a reservoir for collective
					anxiety about civilisational limits and collapse. The history of nineteenth
					and twentieth century agronomy in large part was an ongoing experiment in
					measuring the capacities of soil to accommodate increasing demands of crop
					production and the efforts to stretch this capacity through the emergence of
					an immense industry of soil inputs (fertilisers and pesticides). Alongside such
					efforts, soil became a litmus test of racial and civilisational superiority.<sup class="note" id="note-ref-15"><a href="#note-15">15</a></sup> Its
					relative health or its ailing state was wielded as a critique of both capitalism
					and state socialism's capricious theft of soil's fertility with little regard for its
					need for renewal. To put it bluntly: whatever your political persuasion, there
					was a morality tale to tell about states and soil fertility.
				</p>
				<p>
					More recent research has shed light on soil's life (and role in planetary
					health) far beyond industrial agriculture.<sup class="note" id="note-ref-16"><a href="#note-16">16</a></sup> Non-western epistemologies of
					soil have, all along, also rendered it visible in these different registers.<sup class="note" id="note-ref-17"><a href="#note-17">17</a></sup> Our
					interests here, particularly evident in our syllabus, are to chart this new work
					on soil. However, we also seek to bring into the conversation an array of ways
					that soil anchors life (and death) outside its biologically productive capacity
					to sustain it. In part, we do this by considering substances that might sit on
					the edges of what soil is definitionally. Some essays in Part 2 describe the engagements
					around something that is immediately understood to be soil. To be
					categorised as such, soil must hold not just inert material, but must also contain
					soil organic matter – a riotous and heterogenous mixture of organisms that
					give soil its metabolic life. As the soil scientist Johannes Lehman writes in the
					first essay in our collection, what constitutes soil organic matter (referred to
					often as 'humus') and how it functions within soil has itself been the subject
					of centuries of debate.
				</p>
				<p>
					Other essays, however, push the limits of that definition. For example, Dotan
					Halevy's essay on the Gaza Strip focuses on sand and the politically volatile
					question of when sand becomes soil. Paul Kurek's essay looks at glacial till, a
					substance comprised of sand, silt and clay with very little organic material. In Nazi
					Germany, when the mutually reinforcing purity of 'blood and soil' was imagined
					to hold the key to a grand Teutonic future (and past), Kurek uses a chunk of
					glacial till to interrogate whether the fundamental concreteness of 'place' was even
					a steady state or fundamentally the product of interminable movement. Steven
					Stoll's essay is about 'overburden' – rock and soil that barreled downward into
					Appalachian hollows in the 1970s as a remainder from mountaintop removal
					mining. Euphemistically called 'valley fill' by the industries that produce it, the
					detritus literally chokes out life rather than fostering it. Jayson Porter traces
					arsenic through its life as a toxic remainder from mining to a toxic pesticide for
					cotton production – extracted out of, and entering back into, soil while enacting
					cycles of bodily harm to workers. In other words, as a collection of essays, we are
					interested in soil's constituent parts and its other uses, as well as how the earth's
					substrate might come in and out of view as soil. Furthermore, the parameters of
					soil's scientific definitions do not always align with the phenomenology of soil,
					which many people might interchangeably identify as dirt or dust.
				</p>
				<p>
					Having briefly defined soil, what then do we mean by 'grasping'? This word
					came out of our workshop in the summer of 2024 at Max Planck History of
					Science in Berlin where we collectively created the syllabus that comprises
					Part I.<sup class="note" id="note-ref-18"><a href="#note-18">18</a></sup> To grasp something has at least three meanings and together they
					capture a range of impulses and relationships that we aim to highlight between
					people and soil.
				</p>
				<p>
					First, to grasp something means to take hold of it firmly with your hands.
					At the most fundamental level, this is what children do when they first explore
					soil – it is something to grab, taste and manipulate. People who routinely use
					soil also grasp soil in this way to assess its particular qualities – whether they
					are a potter, a scientist or a gardener.<sup class="note" id="note-ref-19"><a href="#note-19">19</a></sup> Holding it in their hands, squeezing it,
					smelling it and seeing if it crumbles or holds the shape of a closed fist is an
					appraisal of the material at hand. Soil's malleability might be both its most
					basic characteristic and its most sacred one. On every continent, there are communities,
					both in the past and present, who narrate their earthly origins as a
					moment when a god formed human and animal life out of clay.<sup class="note" id="note-ref-20"><a href="#note-20">20</a></sup>
				</p>
				<p>
					Secondly, to grasp means to understand something that has thus far proved
					a challenge to apprehend. Overcoming this struggle then leads to a practiced
					mastery. Alternately, if someone has 'lost' their grasp on something, it suggests a
					cognitive slippage of sorts. That, despite one's best efforts, something has become
					incomprehensible and elusive: a lost grasp on reality. To speak of grasping soil
					in this register is to consider centuries of knowledge production about soil that
					has sought to understand its constituent parts. While in a contemporary register
					this is called soil science or agronomy, soil's epistemic roots go far beyond the
					boundaries we might draw around science today. Such genealogies also leave out
					the knowledge of the practitioner such as the farmer or the builder who have
					cultivated their own intimate grasp on soil. This reminds me of the opening
					pages of The Known World by Edward P. Jones where Moses, an enslaved man
					in the America South, leaves the field after a long day of work:
				</p>
				<blockquote>
					Moses closed his eyes and bent down and took a pinch of the soil and ate
					it with no more thought than if it were a spot of cornbread. He worked the
					dirt around in his mouth and swallowed, leaning his head back and opening
					his eyes in time to see the strip of sun fade to dark blue and then to nothing
					…. This was July, and July dirt tasted even more like sweetened metal than
					the dirt of June or May. Something in the growing crops unleashed a metallic
					life that only began to dissipate in mid-August, and by harvest time that life
					would be gone altogether, replaced by a sour moldiness he associated with the
					coming of fall and winter, the end of a relationship he had begun with the first
					taste of dirt back in March, before the first hard spring rain.<sup class="note" id="note-ref-21"><a href="#note-21">21</a></sup>
				</blockquote>
				<p>
					Moses here is both physically and mentally grasping soil, able to catalogue
					its qualities from his long history of coaxing life from it, season after season.
				</p>
				<p>
					A third definition of grasping means that something has come physically
					under your control. To grasp soil in this way is to claim territory and in doing
					so, to alienate land (and soil) from others – whether through legal regimes or
					extralegal violence. This use of the term might invoke an image of an explorer
					or an exhausted army picking up a handful of earth as a sign of conquest; soil is
					the 'part' that stands in for the whole in these images. In the Western tradition,
					the metonymic role of soil here barely needs to be explained; the connection is a
					familiar symbol. Colonial legacies of claiming territory, not incidentally, are often
					accompanied by a narrative of settlers being better custodians of the soil. In these
					instances, claiming territory is justified precisely because settlers have a better
					'grasp' on soil science. Dispossession is justified in terms of who can maximise the
					productivity of the soil within very narrow ecological horizons. Again, we can see
					how these various modes of grasping soil can be used to corroborate one another.
					If grasping in this third definition points to the transformation of human
					and soil relations through regimes of private property that emerged through
					enclosure and imperialism, an alternative vision exists through what Sarah
					Lincoln has called 'fugitive gardening'. Lincoln defines fugitive gardening as
					'as a form of 'poaching' or 'resignifying', a 'radical appropriation of hegemonic
					spaces and practices that both deconstructs the logics of mastery and hygienic
					possessiveness that underpin colonial culture, and articulates what we might
					call a fugitive ecology: a dispossession of self in relation to the environment, a
					refusal to conceive of land, soil, or planet in terms of property'.<sup class="note" id="note-ref-22"><a href="#note-22">22</a></sup> While Lincoln's
					work focuses on the fugitive practices of Black gardeners in apartheid
					South Africa, the term also evokes the earlier work of Sylvia Wynter in the
					1970s who wrote about the garden plots cultivated by enslaved women in the
					Caribbean that existed outside of the logics of plantation accumulation and
					exploitation.<sup class="note" id="note-ref-23"><a href="#note-23">23</a></sup> This tradition of resistance to property regimes argues that one
					cannot make such claims to soil without severing a web of other relationships
					with humans, nonhumans and the soil.
				</p>
				<p>
					We do not intend anything overly programmatic by offering these three
					definitions of 'grasping' soil. However, we do hope you consider the multiple
					valences of the verb as a helpful heuristic for considering how touching soil,
					knowing soil, and possessing soil can be consolidating projects of control and
					ownership or countervailing projects and contested ways of engaging with it.
				</p>
				<h3 class="essay-subhead">
					Structure of the book
				</h3>
				<h4>
					Part I: The Syllabus
				</h4>
				<p>
					The first part of this book is a collectively authored syllabus divided into four
					parts: Soil as Substrate; Soil as Archive; Soil as Health; Soil as Belonging. The
					syllabus offers a starting point for anyone who might want to learn or teach
					a course on soil's role as a container for human history. In addition to existing
					here in book form, the syllabus also lives online where it will continue to
					be updated, offering links to the material where possible. Each section of the
					syllabus offers activities and assignments in addition to readings, podcasts and
					documentaries. The syllabus offers a place to see what is currently happening
					in this new scholarly turn to the substrate while also gathering from a variety
					of sources and stories that might be missed in this literature.
				</p>
				<p>
					Putting together a collective syllabus invites questions about what such a
					document does. As the first document in a course, a syllabus serves as a roadmap
					and contract for communal learning. And yet it also captures the moment before
					the class unfolds in real time, where a teacher might fleetingly and foolishly
					still feel they have control over the endeavour of learning. For busy scholars,
					syllabi represent an aspirational list of books they haven't had time to read; a
					slice of their research they are still trying to get a handle on; a list of questions
					they hope students take up seriously. Ideally, a syllabus is a living document and
					not a settled appraisal of a topic or field. The syllabus is an ethical endeavour
					too; building a syllabus represents an opportunity to reconsider who one reads
					and cites and thus how one fundamentally thinks.
				</p>
				<p>
					When the syllabus is handed out, it becomes an invitation to have a shared
					conversation in a fragmented world. They are inevitably public documents
					– and thus open to contestation and polemicisation. In their ongoing lives
					as artefacts as much as teaching tools, they can be conscripted for various
					purposes, held up by politicians in theatrical contests over what is frivolous or
					essential knowledge. In more recent years, the syllabus has also emerged as a
					tool for channelling collective outrage and grief into an exercise in publication
					education. Emerging online, these syllabi became an urgent invitation to learn
					about police violence and Black lives in the United States or an insistence on
					the history and persistence of Palestinian life and suffering, despite concerted
					efforts to erase both.<sup class="note" id="note-ref-24"><a href="#note-24">24</a></sup> The online syllabus can also serve as a way to reanimate
					the internet by drawing people away from the predictable pitstops of social
					media and back into the warren of delightful and idiosyncratic pathways we
					might nostalgically recall from web 1.0. This is where the syllabus becomes
					less a prescriptive list and more an open prompt for curiosity and learning.<sup class="note" id="note-ref-25"><a href="#note-25">25</a></sup>
					Grasping Soil's syllabus aims to be both a programme that could be followed
					and something that can be used ad hoc.
				</p>
				<h4>
					Part II: Essays
				</h4>
				<p>
					The essays that comprise the second part of this book each explore a particular
					moment where communities have intervened with soil to suit a particular need.
					In examining these engagements with soil, each essay provides a particular view
					on the social, political or economic conditions that such engagements in the
					soil reflect and create. These essays range in their disciplinary disposition and in
					the scope of the case study. But, somewhat by accident, the collection of essays
					focuses on Germany, the Levant, the United States and East Africa, offering
					at least two case studies of each place. While this might seem like a limited
					geography, they nevertheless capture a range of relations that run through the
					soil – colonial, industrial, capitalist, socialist, agrarian and fascist. The essays are
					divided into three different thematic subsections within Part Two, but it should
					be readily apparent that there is generous cross-over: several essays could be
					in more than one section. The essays also correlate to parts of the syllabus and
					are suggested reading on the syllabus where relevant.
				</p>
				<p>
					The essays in the first section capture a variety of efforts to understand,
					intervene in or remake soil's metabolism. To take something out of or put something
					into soil is to remake its metabolic life. Sometimes this is done explicitly
					and other times the renovation of soil's metabolism is an unintentional effect.
					The accumulation of these interventions reveals how soil is used for multiple
					things and how such uses run up against one another. In these moments where
					things enter or exit soil, we can see that soil's capacity for sustaining life sits
					right alongside its capacity to accumulate harm. In a contaminated world that
					also is sustained through renewal, we are hard pressed to have one without the
					other. Soil's metabolic life in turn remakes the metabolic lives of humans and
					animals whose lives are dependent on soil's affordances in a multitude of ways.
				</p>
				<p>
					If soil is a container, Johannes Lehmann's essay would insist that we understand
					it not as a place of inert relegation. Lehmann is a soil scientist who has
					also helped create the soil factory in Ithaca, New York.<sup class="note" id="note-ref-26"><a href="#note-26">26</a></sup> Among other things, his
					research has worked to redefine how scientists understand soil organic matter.
					As Lehmann lays out, soil organic matter is the most important aspect of soil
					health. It is responsible for nutrient and water retention as well as sustaining
					soil biota. This organic matter has for centuries within Western science been
					characterised by the term 'humus' and a process identified as humification.
					Lehmann argues, though, that, despite the compelling notion of a particular
					'humic' substance at the heart of soil fertility, the concept does not stand up
					to the scrutiny of modern spectroscopy. Over the past two decades, the humic
					paradigm has given way to a notion of functional complexity as the basis of
					why organic carbon accumulates in soil. Lehmann argues that this new model
					for soil organic matter means we cannot simply see soil as a 'storage container'
					for sequestering carbon, which we can lock up and walk away from. In other
					words, the notion of a homogenous, essential substance has been replaced with
					a riotous, complicated and variable community of microbes and minerals that
					is particularly bound to place and circumstance.
				</p>
				<p>
					Tamar Novick's essay chronicles the experimental efforts to foster composting
					in British Mandate Palestine and the role these efforts played in consolidating
					the legitimacy of the global organic farming movement in the twentieth century.
					Novick points to the fact that not only can the roots of the movement be found
					in far-right agricultural politics and fascism in Europe, but they also emerge
					quite explicitly from colonial contexts too. Places such as Palestine and India
					served as experimental laboratories for a variety of practices. Within the context
					of British-ruled Palestine and later Israel, the politics of composting reveal how
					government bureaucrats thought about the waste of different populations and
					how it should be managed. Such concerns also reveal a longer running anxiety
					that coursed through both administrations around the relative fertility of Jews
					and Arabs both in terms of human populations and their agricultural practices,
					a topic explored more fully in Novick's recent monograph.<sup class="note" id="note-ref-27"><a href="#note-27">27</a></sup>
				</p>
				<p>
					Emily Brownell's essay examines the connections between the parasites that
					soil can harbour and their effect on human metabolisms. In the 1970s, Kenya
					inaugurated a programme to employ thousands of rural Kenyans to build over
					3000 kilometres of roads across the nation without the aid of machines. Soon,
					the project took on international dimensions as an experiment in the viability
					of appropriate technology as a way to expand infrastructure in developing
					countries. The scale and scope of the project also made it a particularly good
					site for other researchers to cohabitate. Most notably, nutrition researchers
					began visiting the building sites to investigate the relationship between worker
					productivity and anemia. By drawing blood and taking faecal samples from
					workers, researchers measured their parasitic 'worm burden'. The essay uses
					this development project to consider the meeting points of blood and soil
					in Kenyan history as an ongoing metabolic struggle to capture the energy of
					workers from competing parasites.
				</p>
				<p>
					The second section, Residual Histories, explores the many lives of residues
					– both biological and social – that make their way in and out of the soil. The
					essays consider residues from generations of agriculture and mining – sometimes
					in the same area. Together, they capture moments where physical debris
					and toxic remainders in soil can no longer go unnoticed – they have produced
					health problems, buried neighbourhoods, killed the microbial life of the soil
					– and the question hangs in the air: what do we do about this? Do we get rid
					of the problem or do we effectively bury certain ways of life and accept the
					necropolitics of such residual afterlives? And most fundamentally, what are the
					human limits of intervention in the first place?
				</p>
				<p>
					Jayson Porter's essay follows the creation of the element arsenic in volcanic
					activity long before life on earth, to its oxidation into a more bioavailable form
					and finally its various pathways, 'natural and unnatural', in more recent human
					history in the Americas. The distribution of arsenic within the earth's crust was
					the fate of plate tectonics and the creation of the geologic formation known
					as the 'Ring of Fire'. But the distribution of human exposure to arsenic and
					its alarming toxic effects was determined by the history of empire and racism
					in the Americas. Porter's essay importantly traces arsenic's trajectory in a way
					that places mining and monocrop agriculture within the same frame. While
					arsenic was first seen primarily as a hazardous side effect of the mining industry,
					it then became a valuable commodity in its own right to use on cotton
					plantations. When arsenic was discovered to be effective on the boll weevil
					that was decimating cotton production in the South, Mexican mines became
					the major supplier. Porter's essay elegantly shows how the legacies of geologic
					time and combustion were remade into the violent temporalities of extractive
					capitalism – cutting short the lives of those seen disposable.
				</p>
				<p>
					Steven Stoll's piece takes us to Appalachia to reckon with the aftermath
					of generations of destruction from coal mining. The 'holler', a landscape that
					is synonymous with this region and is home to generations of coal mining
					families, has shaped Appalachian culture as much as its topography also
					reflects the region's subterranean coal deposits. In the 1980s, when corporations
					turned to 'mountain top removal' as a cheaper form of extraction, these
					domestic landscapes became inundated with 'overburden', the industry term
					for dirt that was displaced to access the bituminous coal below. Stoll's essay
					considers what it means for such communities to be submerged in soil and
					also to lose their ancestors as mountain top cemeteries are either ruined or
					become effectively inaccessible to the families that have cared for their dead.
					'Strip mining is a kind of politics, a form of powerlessness for those subject to
					it, and a sacrificial economy that would never be tolerated in other locations.
					It's a distinctive relationship of land – the wasteland.'
				</p>
				<p>
					Lulu Tessua's essay traces the 'afterlives' of different toxic regimes in the
					small village of Ndungu, Tanzania. Due to the nature of colonial and postcolonial
					development interventions, particular places often become palimpsests
					of experimental efforts once they are first enrolled in an agricultural project.
					Thus, they accumulate a legacy of pesticide and fertiliser use over generations.
					Even nearby villages might have very different development trajectories or
					relationships with soil inputs from those of their neighbors. Tessua writes about
					what this means for villagers and farmers who are left with what they now see
					as dead soil and a regime of soil care that demands the constant reapplication
					of expensive and toxic inputs. Tessua introduces us to farmers and a 'pesticide
					intellectual' she met during her fieldwork to consider what it means to revive a
					soil when you don't really know what healthy soil is because it has not existed
					within your lifetime.
				</p>
				<p>
					Cynthia Browne's essay traces the transformation of soil matter under the
					surface in the aftermath of the industrialisation of lignite mining in Germany in
					the twentieth century. Browne excavates the histories and temporalities that can
					be found within one patch of substrate engineered as the 'zero point' or 'punkt
					null' of a new ecosystem. This starting point is an attempt to chronologically
					reset the clock, designating the rebirth of a destroyed creek. Encounters with
					scientists systematically observing the site offer Browne insight into the surprises
					and accidents that punctuate the biographical life of the area following the
					inauguration of point zero. These unpredictable events call into question how
					and in what ways legal and scientific responsibility for ecological restoration
					of the substrate in the wake of industrial surface mining is possible.
				</p>
				<p>
					In the final section of Part II, the essays explore three moments where soil
					is wrapped up with the politics and poetics of 'home'. Who gets to claim the
					right to certain territory is often articulated as a connection to the very soil
					itself. At the scalar level, nation states are not simply the product of arbitrary
					geographical boundaries, but they are justified as fortifying natal connections
					between particular folk and a particular quality of land and soil. While such
					connections are often expressed in an affective register of love, they are justified
					through exclusionary projects of knowledge production about race, ethnicity
					and heritage. These essays can be read alongside the fourth section of our syllabus
					which also focuses on how soil becomes a metonym for belonging – in
					affective, political and legal registers.
				</p>
				<p>
					Paul Kurek's piece takes us from a chunk of glacial till to outer space
					and back. He takes us on this journey to think through the possibilities and
					problems of both national and earthly belonging. Kurek's chunk of glacial till
					comes from the site where the Nazi architect, Albert Speer began in 1941 to
					build a massive load bearing cylinder (Schwerbelastungskörper). The cylinder
					was built to assess whether the marshy ground in Germany's capital city would
					be able to support the load of a triumphal arch three times the size of the Arc
					de Triomphe, which would announce the victorious Nazi capital 'Germania'.
					While victory and Germania never came to be, the massive cylinder remains
					in a leafy Berlin neighborhood. Its lurking presence offers an enticing point of
					entry for pulling apart the ideology of National Socialism that sought fascist
					renewal through connecting the purification of German blood to a reclamation
					of the soil. As Kurek points out, glacial till is itself the result of movement and
					migration through time. How 'German' then, is this chunk of earth that was
					designated to hold up proof of fascism's triumph?
				</p>
				<p>
					In the final essay of this section, Dotan Halevy works through layers of history,
					sand and soil in the Gaza Strip. In the summer of 1976, an expedition of
					students and volunteers led by archeologist Trude Dothan set out to uncover
					a Canaanite cemetery on the outskirts of Deir al-Balah in the occupied Gaza
					Strip. In carefully chronicling the aftermath of this archaeological discovery,
					Halevy is able to show the complex ways in which the substrate is both physically
					and legally manipulated to both sustain life in a dry environment and
					dispossess Arabs from their land. One of the central questions that Halevy's
					piece asks is, what is the distinction between sand and soil and to what end are
					the two distinguished? While such distinctions serve a scientific role in defining
					the properties of each, they also have a long and consequential political life as
					well, particularly in arid places.
				</p>
				<p>
					In closing, we hope this project can have a living, ongoing life. As you read
					the essays and engage with the syllabus, please reach out to us on the website
					and let us know what else we should include. We aim to maintain a reading
					list as new work emerges and hopefully renews and revises how we consider
					soil and its component parts.
				</p>
				<hr class="essay-footer" />
				<h2 class="essay-footer">
					Notes
				</h2>
				<ol class="notes">
					<li id="note-1">
						Young 2012; Abrahams and Parsons 1996; Hunter 1993.
						<a class="return-from-note" href="#note-ref-1">&crarr;</a>
					</li>
					<li id="note-2">
						Geissler 1999.
						<a class="return-from-note" href="#note-ref-2">&crarr;</a>
					</li>
					<li id="note-3">
						Salazar et al.
						<a class="return-from-note" href="#note-ref-3">&crarr;</a>
					</li>
					<li id="note-4">
						For a relevant example of soil’s long life in art and writing, here are poems about eating soil:
						“<a href="https://thecommontable.eu/eat-dirt/" target="_blank" rel="noopener noreffer">Eat Dirt</a>”,
						“<a href="https://www.poetryfoundation.org/poems/52113/the-dirt-eaters" target="_blank" rel="noopener noreferrer">The Dirt Eaters</a>”,
						“<a href="https://www.poemist.com/meena-kandasamy/eating-dirt" target="_blank" rel="noopener noreferrer">Eating Dirt</a>”,
						“<a href="https://poets.org/poem/dirt-eaters" target="_blank" rel="noopener noreferrer">Dirt Eaters</a>”
						<a class="return-from-note" href="#note-ref-4">&crarr;</a>
					</li>
					<li id="note-5">
						This includes work in or on posthumanism, the environmental humanities, the Anthropocene and the
						climate crisis. To name a few: Worster 1979, Stoll 2002, Sutter, 2015, Cohen, 2019, Rosich and Denizen 2025, Lyons 2020, Zee 2017, Tam 2023.
						<a class="return-from-note" href="#note-ref-5">&crarr;</a>
					</li>
					<li id="note-6">
						To be clear, there are past examples of scholars making these connections. Worster 1979 is an important example.
						<a class="return-from-note" href="#note-ref-6">&crarr;</a>
					</li>
					<li id="note-7">
						Krzywoszynska 2019, Lorimer 2016, Puig de la Bellacasa 2017, le Roux and Hecht 2020, Agard-Jones 2013.
						<a class="return-from-note" href="#note-ref-7">&crarr;</a>
					</li>
					<li id="note-8">
						Montgomery 2007.
						<a class="return-from-note" href="#note-ref-8">&crarr;</a>
					</li>
					<li id="note-9">
						Puig de la Bellacasa 2015: 691.
						<a class="return-from-note" href="#note-ref-9">&crarr;</a>
					</li>
					<li id="note-10">
						Lynch 2019.
						<a class="return-from-note" href="#note-ref-10">&crarr;</a>
					</li>
					<li id="note-11">
						DeSilvey 2006.
						<a class="return-from-note" href="#note-ref-11">&crarr;</a>
					</li>
					<li id="note-12">
						Tsing 2015.
						<a class="return-from-note" href="#note-ref-12">&crarr;</a>
					</li>
					<li id="note-13">
						Ingold 2010.
						<a class="return-from-note" href="#note-ref-13">&crarr;</a>
					</li>
					<li id="note-14">
						Salazar et al 2020: 2.
						<a class="return-from-note" href="#note-ref-14">&crarr;</a>
					</li>
					<li id="note-15">
						Davis 2007.
						<a class="return-from-note" href="#note-ref-15">&crarr;</a>
					</li>
					<li id="note-16">
						For example, the ongoing reappraisal of the peat bog as sink as well as source of energy: Proulx 2022.
						<a class="return-from-note" href="#note-ref-16">&crarr;</a>
					</li>
					<li id="note-17">
						Bobbette et al 2021, Cunha 2024, Mabeza 2017.
						<a class="return-from-note" href="#note-ref-17">&crarr;</a>
					</li>
					<li id="note-18">
						Held at Max Planck Institute for the History of Science, 3–5 June 2024:
						<a href="https://www.mpiwg-berlin.mpg.de/event/thinking-substrate" target="_blank" rel="noopener noreferrer">https://www.mpiwg-berlin.mpg.de/event/thinking-substrate</a>
						<a class="return-from-note" href="#note-ref-18">&crarr;</a>
					</li>
					<li id="note-19">
						In the first unit of the syllabus, we offer some activities to help practice this embodied relationship with soil.
						<a class="return-from-note" href="#note-ref-19">&crarr;</a>
					</li>
					<li id="note-20">
						<a href="https://en.wikipedia.org/wiki/Creation_of_life_from_clay#:~:text=The%20Book%20of%20Genesis%202,matter%2C%20usually%20clay%20or%20mud" target="_blank" rel="noopener noreferrer">Creation of life from clay</a> at Wikipedia
						<a class="return-from-note" href="#note-ref-20">&crarr;</a>
					</li>
					<li id="note-21">
						Jones 2003: 1;
						see also <a href="https://web.archive.org/web/20121017205757/http://www.ediblegeography.com/sweet-and-sour-soils/" target="_blank" rel="noopener noreferrer">Sweet and Sour Soils</a>
						<a class="return-from-note" href="#note-ref-21">&crarr;</a>
					</li>
					<li id="note-22">
						Lincoln 2018: 132. See also Kate Brown’s contribution to Zahra et al. 2023.
						<a class="return-from-note" href="#note-ref-22">&crarr;</a>
					</li>
					<li id="note-23">
						Wynter 1971.
						<a class="return-from-note" href="#note-ref-23">&crarr;</a>
					</li>
					<li id="note-24">
						See for example:
						<a href="https://archive-it.org/collections/9674" target="_blank" rel="noopener noreferrer">#Syllabus</a>,
						<a href="https://librarianswithpalestine.org/wp-content/uploads/2021/12/Palestine-Archives-Syllabus.pdf" target="_blank" rel="noopener noreferrer">Under Pressure: Representation, Information, and The Archive in Palestine</a>,
						<a href="https://brittlepaper.com/2024/11/palestine-from-africa-a-syllabus/" target="_blank" rel="noopener noreferrer">Palestine from Africa</a>
						<a class="return-from-note" href="#note-ref-24">&crarr;</a>
					</li>
					<li id="note-25">
						This website offers a curated set of syllabi with a similar spirit of exploration
						of the internet in mind: <a href="https://syllabusproject.org/" target="_blank" rel="noopener noreferrer">https://syllabusproject.org/</a>
						<a class="return-from-note" href="#note-ref-25">&crarr;</a>
					</li>
					<li id="note-26">
						<a href="https://thesoilfactory.org/" target="_blank" rel="noopener noreferrer">https://thesoilfactory.org/</a>
						<a class="return-from-note" href="#note-ref-26">&crarr;</a>
					</li>
					<li id="note-27">
						Novick 2023.
						<a class="return-from-note" href="#note-ref-27">&crarr;</a>
					</li>
				</ol>
				<hr class="essay-footer" />
				<h2 class="essay-footer">
					Bibliography
				</h2>
				<ul class="references">
					<li>
						Abrahams, Peter W. and Julia A. Parsons. 1996. 'Geophagy in the Tropics: A Literature Review'.
						<i>The Geographical Journal</i> <b>162</b> (1): 63–72.
					</li>
					<li>
						Agard-Jones, Vanessa. 2013. 'Bodies in the System'. <i>Small Axe: A Caribbean Journal of Criticism</i>
						<b>17</b> (3) (42): 182–92.
					</li>
					<li>
						Bobbette, Adam, Ruth Gamble, Cin-Ty Lee and Christopher Wilson. 2021. 'Decolonizing
						Geology: A Discussion'. <i>GeoHumanities</i> (June): 1–9.
					</li>
					<li>
						Christopher, Munyaradzi Mabeza. 2017. <i>Water and Soil in Holy Matrimony?: A Smallholder Farmer's
							Innovative Agricultural Practices for Adapting to Climate in Rural Zimbabwe</i>. Langaa RPCIG.
					</li>
					<li>
						Cohen, Benjamin R. 2009. <i>Notes from the Ground: Science, Soil, and Society in the American Countryside</i>. Yale University Press.
					</li>
					<li>
						Cunha, Olívia Maria Gomes Da. 2024. 'The Earth Is Sweet. On Cottica Ndyuka (De)'. <i>Comparative Studies in Society and History</i> (February): 1–25.
					</li>
					<li>
						Davis, Diana K. 2007. <i>Resurrecting the Granary of Rome: Environmental History and French
							Colonial Expansion in North Africa</i>. 1st edition. Athens: Ohio University Press.
					</li>
					<li>
						DeSilvey, Caitlin. 2006. 'Observed Decay: Telling Stories with Mutable Things'. <i>Journal of
							Material Culture</i> <b>11</b> (3): 318–38.
					</li>
					<li>
						Geissler, P. Wenzel. 2000. 'The Significance of Earth-Eating: Social and Cultural Aspects of
						Geophagy among Luo Children'. <i>Africa</i> (Pre-2011 series) <b>70</b> (4): 653–82.
					</li>
					<li>
						Hunter, John M. 1993. 'Macroterme Geophagy and Pregnancy Clays in Southern Africa'. <i>Journal
							of Cultural Geography</i> <b>14</b> (1): 69–92.
					</li>
					<li>
						Ingold, Tim. 2010. 'Bringing Things to Life: Creative Entanglements in a World of Materials'.
						<i>NCRM Working Papers Series, ESRC National Centre for Research Methods</i>.
					</li>
					<li>
						Jones, Edward P. 2003. <i>The Known World</i>. New York: Amistad.
					</li>
					<li>
						Krzywoszynska, Anna. 2019. 'Caring for Soil Life in the Anthropocene: The Role of Attentiveness
						in More-than-Human Ethics'. <i>Transactions of the Institute of British Geographers</i> <b>44</b> (4): 661–75.
					</li>
					<li>
						Le Roux, Hannah and Gabrielle Hecht. 2020. <a href="https://www.e-flux.com/architecture/accumulation/345106/bad-earth/" target="_blank" rel="noopener noreferrer">Bad Earth</a>, E-Flux, August.
					</li>
					<li>
						Lincoln, Sarah L. 2018. 'Notes from Underground: Fugitive Ecology and the Ethics of Place'.
						<i>Social Dynamics</i> <b>44</b> (1): 128–45.
					</li>
					<li>
						Lorimer, Jamie. 2016. 'Gut Buddies: Multispecies Studies and the Microbiome'. <i>Environmental
							Humanities</i> <b>8</b> (1): 57–76.
					</li>
					<li>
						Lynch, Derek. 2019. ‘<a href="https://theconversation.com/soil-is-the-key-to-our-planets-history-and-future-116330" target="_blank" rel="noopener noreferrer">Soil is the Key to our Planet’s History and Future</a>’. The Conversation, 20 May 20.
					</li>
					<li>
						Lyons, Kristina M. 2020. <i>Vital Decomposition: Soil Practitioners and Life Politics</i>. Durham: Duke
						University Press Books.
					</li>
					<li>
						Montgomery, David R. 2007. <i>Dirt: The Erosion of Civilizations</i>. Berkeley: University of California Press.
					</li>
					<li>
						Novick, Tamar. 2023. <i>Milk and Honey: Technologies of Plenty in the Making of a Holy Land</i>. Cambridge, Massachusetts: MIT Press.
					</li>
					<li>
						Proulx, Annie. 2022. <i>Fen Bog and Swamp: A Short History of Peatland Destruction and Its Role in the Climate Crisis</i>. London: Fourth Estate.
					</li>
					<li>
						Puig de la Bellacasa, Maria. 2017. <i>Matters of Care: Speculative Ethics in More than Human Worlds</i>.
						Minneapolis, MN: University of Minnesota Press.
					</li>
					<li>
						Puig de la Bellacasa, Maria. 2015. 'Making Time for Soil: Technoscientific Futurity and the
						Pace of Care'. <i>Social Studies of Science</i> <b>45</b> (5): 691–716.
					</li>
					<li>
						Rosich, Montserrat Bonvehi Bonvehi and Seth Denizen. 2025. <i>Thinking Through Soil: Wastewater
							Agriculture in the Mezquital Valley</i>. Cambridge, MA: Harvard University Press.
					</li>
					<li>
						Salazar, Juan Francisco, Céline Granjou, Matthew Kearnes, Anna Krzywoszynska and Manuel
						Tironi (eds). 2020. <i>Thinking with Soils: Material Politics and Social Theory</i>. London: Bloomsbury Academic.
					</li>
					<li>
						Stoll, Steven. 2002. <i>Larding the Lean Earth: Soil and Society in Nineteenth-Century America</i>. New York: Hill and Wang.
					</li>
					<li>
						Sutter, Paul S. 2015. <i>Let Us Now Praise Famous Gullies: Providence Canyon and the Soils of the South</i>. Athens: University of Georgia Press.
					</li>
					<li>
						Tam, Mankei. 2023. ‘“Skin of the Earth”: On Soil, Collaboration, and Temporality after Fukushima’. <i>Environmental Humanities</i> <b>15</b> (2): 39–61.
					</li>
					<li>
						Tsing, Anna Lowenhaupt. 2015. <i>The Mushroom at the End of the World: On the Possibility of Life
							in Capitalist Ruins</i>. Princeton: Princeton University Press.
					</li>
					<li>
						Worster, Donald. 1979. <i>Dust Bowl: The Southern Plains in the 1930s</i>. Oxford: Oxford University Press.
					</li>
					<li>
						Wynter, Sylvia. 1971. ‘Novel and History, Plot and Plantation’. <i>Savacou</i> 5: 95–102.
					</li>
					<li>
						Young, Sera Lewise. 2012. <i>Craving Earth: Understanding Pica—the Urge to Eat Clay, Starch, Ice,
							and Chalk</i>. New York: Columbia University Press.
					</li>
					<li>
						Zahra, Tara, Peter Becker, Kate Brown, Zachary Doleshal, Jamie Martin, Małgorzata Mazurek,
						David Petruccelli, Máté Rigó and Carolyn D Taratko. 2023. 'A World of Contradictions:
						Globalization and Deglobalization in Interwar Europe'. <i>The American Historical Review</i>
						<b>128</b> (2): 703–881.
					</li>
					<li>
						Zee, Jerry C. 2017. ‘Holding Patterns: Sand and Political Time at China’s Desert Shores’. <i>Cultural Anthropology</i> <b>32</b> (2): 215–41.
					</li>
			</LongFormContent>
		</PageContent>
	</main>
</Layout>
