---
import Layout from "../../layouts/Layout.astro";

import PageHeader from "../../components/PageHeader.astro";
import EssayHeader from "../../components/EssayHeader.astro";
import LongFormContent from "../../components/LongFormContent.astro";
import PageContent from "../../components/PageContent.astro";

const locationTag = "Ndungu, Tanzania";
const title = "Knowing Soil as a Living Thing, Treating it as a Non-Living Body: Contradictory Forms of Care";
const byline = "Lulu Tessua";
const authorSlug = "lulu-tessua";
---
<Layout title={title}>
	<main>
		<PageContent>
			<PageHeader
				title="Essays"
				skipH1={true}
				linkTo="/essays"
			/>
			<EssayHeader
				locationTag={locationTag}
				title={title}
				byline={byline}
				authorSlug={authorSlug}
			/>
			<LongFormContent>
				<h2 class="visually-hidden">Essay</h2>
				<p>
					Ndungu is a village in the Kilimanjaro region under the foothills of the Pare mountains of North-Eastern Tanzania. The village is located in
					South Pare along the Mkomazi river basin. When a traveller passes by the main road, Ndungu gives the impression of a semi-arid place. There are
					scattered thorny bushes and a dry, stony and dusty appearance with a few green trees. But Ndungu is blessed with the flow of the Yongoma river,
					which turns one side of the village into an oasis with endless possibilities of agricultural development. The promising flow of the Yongoma
					gave way to a period of agricultural modernity when the Japan International Cooperation Agency (JICA) funded a rice farming project in 1988.
				</p>
				<p>
					Japanese aid projects first emerged in the Kilimanjaro region in the late 1980s in the waning days of <i>Ujamaa</i>. <i>Ujamaa</i> was President
					Nyerere’s policy of African socialism; a framework for development that, among other things, focused on rural, agricultural projects often
					undertaken with foreign aid partners.<sup class="note" id="note-ref-1"><a href="#note-1">1</a></sup> In the second five-year plan (1969–1974),
					the government of Tanzania introduced and implemented a decentralisation policy.<sup class="note" id="note-ref-2"><a href="#note-2">2</a></sup>
					Each region was urged to plan for its own development while the central government remained a general overseer.<sup class="note" id="note-ref-3"><a href="#note-3">3</a></sup>
					Japan was asked to assist in Kilimanjaro.
				</p>
				<p>
					The first project in Lower Moshi, the northern part of the Kilimanjaro region, was handed over to the government in 1987.<sup class="note" id="note-ref-4"><a href="#note-4">4</a></sup>
					This essay, however, is about the second project that was built in Ndungu. It was coined as a ‘pilot project’ to help farmers in the Mkomazi
					valley basin learn modern ways of rice farming from the Japanese.<sup class="note" id="note-ref-5"><a href="#note-5">5</a></sup> The project
					was named the Ndungu Agricultural Development Project (NADP). One of the Japanese experts interviewed for the study considered the two projects
					in Kilimanjaro ‘special projects among many others in Africa’ as they were intended to replicate Japanese standard irrigation schemes in terms
					of infrastructure, technology and farming methods.
				</p>
				<p>
					The project led local farmers to relate to their land and ecology in new ways. Alongside the introduction of a rice monoculture and a new rice
					variety, IR54, the project also emphasised the use of agrochemicals. Fertilisers and pesticides would supposedly pave the path to financial
					prosperity for the villagers and the nation.<sup class="note" id="note-ref-6"><a href="#note-6">6</a></sup> Farmers were introduced to new
					ways of caring for land which would sustain the new hybrid rice. The old ways of knowing and relating to land through spirits, rituals and the
					use of animal manure were dismissed by the locals as backward in the modern world of agricultural production. <sup class="note" id="note-ref-7"><a href="#note-7">7</a></sup>
				</p>
				<p>
					The people of Pare historically had different ways of caring for their land. There were technological skills to ensure the land was not eroded
					by intensive cultivation in the nineteenth century. Due to the growth of the Caravan trade, crops were cultivated for paying tribute to the
					chiefs for rainmaking, and the region’s economic value chain was expanded with new trade goods and food stuffs.<sup class="note" id="note-ref-8"><a href="#note-8">8</a></sup>
					Farmers used terraces, irrigation canals and manure to avoid erosion and maintain land fertility. <sup class="note" id="note-ref-9"><a href="#note-9">9</a></sup>
				</p>
				<p>
					But caring for land in Pare was more complex than these manual interventions in the soil. It also required communal rituals to mediate between
					people, spirits and the environment.<sup class="note" id="note-ref-10"><a href="#note-10">10</a></sup> With the arrival of Japanese aid and
					experts, the village turned to new ways of farming that fractured the relationship between farmers and their land. Increased use of pesticides
					for rice replaced the adherence to rituals and intimate relationships between farmers and their environment, which in turn caused detrimental
					effects for soil fertility.<sup class="note" id="note-ref-11"><a href="#note-11">11</a></sup>
				</p>
				<p>
					Normalising the use of agrochemicals as a different form of care within the project slowly erased the farmer’s memories of soil as a source of
					life.<sup class="note" id="note-ref-12"><a href="#note-12">12</a></sup> Today, the younger generation of farmers have not grown up with a set
					of practices that connects them to the soil and crops as gifts from nature.<sup class="note" id="note-ref-13"><a href="#note-13">13</a></sup>
					Instead, they see soil as a place to make bets, hoping to win enough capital to foster other livelihoods such as selling clothes or leaving
					for a life in the city.
				</p>
				<p>
					On my second visit to Ndungu, it was time to transplant rice in the 680ha NADP. It was May, supposedly the rainy season, but the seasons were
					changing and becoming unpredictable. The little rice seedlings were striving under a scorching sun, growing with the little irrigation water
					available for the rice scheme. The land in most of the farms was breaking into small fissures that signified drought. The viability of the
					project was now threatened by the hardened land that had been produced by the very circumstances of prolonged rice monocropping. Now,
					recurring drought dashed the hopes for the better future promised to farmers.
				</p>
				<p>
					During this time of uncertainty, I met Ally, who was eking out his living through pesticide spraying. He was hired by different farmers who
					could not spray their own farms, an activity which required expertise, and energy. The older interlocutors in my research mentioned their
					inability to carry the knapsack on their backs, and to handle the health side effects of pesticides. They chose to pay younger people like
					Ally, who was in his forties, experienced, and ready to take the risk imposed by pesticides.
				</p>
				<p>
					Ally referred to himself as a rice intellectual with his primary formal education and a long experience of ‘taking care’ of rice, and the land
					underneath it. In that season when I arrived, rice yellow mottle virus disease (RYMV) was the major concern among farmers. RYMV turns rice
					leaves a yellow colour and it spreads quickly, extinguishing the hope of good harvests. The need for more attentiveness to the farms is often
					expressed by farmers, ‘<i>inabidi kutunza shamba</i>’ meaning there is a need to care for the farm by applying more agrochemicals to salvage
					what remains after the rice diseases have attacked.
				</p>
				<p>
					Ally gained more customers who enquired about ways to take care of their land and deal with RYMV. The concoctions of pesticides were made,
					fertiliser had to be moderate according to Ally, but his customers had already applied more than they should have. Explanations followed
					explanations as to why the disease persisted. Ally shared his expertise, but this time there was more to it; ‘scientific’ ways of caring for
					rice and land have failed. Some farmers chose to turn to ‘<i>mahande</i>’, a forgotten ritual that farmers believed, if carried out alongside
					other efforts, might be the missing ingredient for better harvests. At this point, care for land to make it more productive meant adding the
					ritual back in.
				</p>
				<p>
					<i>Mahande</i> is a ritual which was originally performed under the agreement of the whole community to cool the land. The anthropologist
					Michael Sheridan, who did research in North Pare starting in the 1990s, shows that his interlocutors referred to the loss of ‘cool’ land as
					a result of using the land without adhering to culturally-defined ways of relating to it.<sup class="note" id="note-ref-14"><a href="#note-14">14</a></sup>
					It is a terminology that extends land infertility beyond the natural processes and into politics, interpersonal relations and human-land
					relations. <i>Mahande</i> was the ritual that mediated these relationships to help restore the coolness of the land. The last communal
					<i>mahande</i> in Ndungu was done in 2001. I was informed by my interlocutors that further attempts to do it communally failed in 2018 due
					to the interference of religion and an over-reliance on modern rice farming techniques.
				</p>
				<p>
					The purpose of <i>mahande</i> to unify, mediate and restore relationships with the soil’s ecology now sat amongst land use and agricultural
					practices that had become more individualistic and profit- based. The ritual therefore is now performed by individuals rather than the
					community. The changes in rituals have thus created tensions among farmers, as some see it as witchcraft.<sup class="note" id="note-ref-15"><a href="#note-15">15</a></sup>
					Such tensions reflect the uncertainty of modern farming in a modern landscape when modern solutions fail.<sup class="note" id="note-ref-16"><a href="#note-16">16</a></sup>
				</p>
				<p>
					The efficacy of pesticides for farmers and experts like Ally was not merely the chemicals alone, but the cocktail of chemicals coming together
					to create something new. A number of pesticides are often combined and then farmers mix in an additional liquid ‘booster’ fertiliser as well
					as (for some farmers) a bit of an intervention from the spirits through <i>mahande</i>. This is the recipe that will ensure the efficiency of
					pesticides and fertilisers for those who believe. The ritual was the last resort; the last ingredient that would bind together the scattered
					efforts to heal the land.
				</p>
				<p>
					The demands of rice on the soil and the labour of farmers in recent years extend the temporality of agricultural intensification in Ndungu,
					but with new characters at play. Instead of the chiefs, who received tributes in form of food, there are taxes burdening the farmers.<sup class="note" id="note-ref-17"><a href="#note-17">17</a></sup>
					The caravan trade was replaced by the world market system of pesticides and seeds which is oppressive to the farmer, with more demands from
					agrochemicals and their inability to be reused.<sup class="note" id="note-ref-18"><a href="#note-18">18</a></sup> The economic value chain
					in Kilimanjaro, which involved the exchange of products, is now a country-wide market system that the farmer has little control over.<sup class="note" id="note-ref-19"><a href="#note-19">19</a></sup>
				</p>
				<p>
					These new characteristics of agricultural intensification in Ndungu arose when the project first began in the 1980s. Experts arrived and taught
					farmers how to spray pesticides and apply fertilisers. Synthetic fertilisers became a beacon of hope while manuring, and traditional human-land
					relations, were considered backward, slow and ineffective for the quick results that ‘development’ demanded.<sup class="note" id="note-ref-20"><a href="#note-20">20</a></sup>
					Some farmers also recalled that these experts instructed them to use compost and manure after every few seasons to minimise the impact of
					agrochemicals. However, this was not written down in the manuals, downplaying the importance of manure as a necessary form of soil care.
					Delaying manuring overlooked the living element of the soil – the part that can die. These misconceptions dictated the misuse of land and
					forms of care which feed rice with agrochemicals, while tiring the soil’s capacity to sustainably give life and health to people and plants.<sup class="note" id="note-ref-21"><a href="#note-21">21</a></sup>
				</p>
				<p>
					The irony is that farmers knew that cow dung manure helps revive the dying soil. However, they wanted quick results for several reasons.
					Often, farmers leased land on seasonal contracts while also taking loans offered to them on a seasonal basis. Ally told me that for the cow
					dung manure to effectively work took more than a season; repairing the soil takes time and it is a process that requires patience.<sup class="note" id="note-ref-22"><a href="#note-22">22</a></sup>
				</p>
				<p>
					Farmers did not have the sense of ownership, the resources or the motives to wait for the soil to recover naturally. They only wanted their
					rice to be fed for a season before they had to return the farm to the owner and repay their loans. Farmers were borrowing the nutrients from
					the soil just as much as they borrowed the money to work on the same. These extractive relationships revolving around loans have thus led
					to the depletion of both labour and the soil.<sup class="note" id="note-ref-23"><a href="#note-23">23</a></sup>
				</p>
				<p>
					Care in the project landscape became synonymous with more use of agrochemicals. Those who could afford to apply more were applauded as the most
					committed farmers, while those who failed to afford the risks or rewards of pesticides were shamed as poor and a liability for the health of
					another farmer’s rice, since the failure to spray pesticides could create a hiding place for pests and rice diseases. The soil became compacted
					and its microbiomes succumbed to the chemicals applied.<sup class="note" id="note-ref-24"><a href="#note-24">24</a></sup> The dying soil in
					Ndungu is a call to slow down the pace of production and to consider soil regeneration as the only capital for a healthy life of humans, soil
					and the universe.<sup class="note" id="note-ref-25"><a href="#note-25">25</a></sup>
				</p>
				<p>
					Social inequality has been the major setback to effective  soil preservation and care in Ndungu. According to the original design of the project,
					the dry season was supposed to be the season for maize and beans, while the rainy season was for rice. But, under the pressures of commercial
					production, conflict grew between those who had the financial capacity to expand rice farming and others who failed to find the necessary
					capital to manage the high costs of rice farming in both seasons. Mismanagement of the rice scheme in Ndungu has thus furthered social tensions,
					inequality and oppression of both human labour and soil microorganisms.
				</p>
				<p>
					Class divisions and resentment started to emerge among farmers as their fortunes diverged. Poor farmers often lost not only their land and
					money, but their voice in decision-making. Those who struggled with their farms started renting them out or selling them to richer farmers,
					a move which reproduced more problems related to land use and declining land quality. The reflection of Marx’s concerns about how nature is
					entangled in social relations manifest in the dynamics of power relations that are still unfolding in NADP.<sup class="note" id="note-ref-26"><a href="#note-26">26</a></sup>
				</p>
				<p>
					As we can see, farming in NADP separates plants from the soils that carry the life of those plants. It reduced the soil to a passive substrate
					that can be bent and abused for monetary profits while expecting it to survive and live in harmony with humans after such an abusive relationship.
					Ironically, the failure to embrace the art of valuing other non-human species has led to the decline of commercial benefits of rice farming in
					Ndungu.<sup class="note" id="note-ref-27"><a href="#note-27">27</a></sup>
				</p>
				<p>
					The most recurring statement among farmers is: ‘the land is dying’. The manner in which it is dying is explained through the decreasing yields
					every year. There are more rice diseases, the land is hardened and the water is not as ‘nutritious to the plants as it used to be’. All these
					crises are related to the continuous cultivation of rice over the past thirty years. Agricultural development was what the Japanese had in mind,
					but it is the soil that has to carry that vision and the weight of such a burden is beyond its carrying capacity.
				</p>
				<p>
					Soil is turned into land through our daily lives, labour and the processes of utilising it. Soil can also be slowly turned into a commercial,
					non-living object that is tinkered with abusively to force it to comply with the speed of the market. In such goings-on, the soil is forgotten
					as a source of life; the vitality that vibrates in us but also outside of us. How humans relate to soil should therefore be reformed, first by
					decentring humans and, secondly, by acknowledging that the forms of care we bring to the soil depend on knowing that it is a living thing.
					Caring for soil is therefore knowing that it is as vulnerable and fragile as all other forms of life.
				</p>
				<hr class="essay-footer" />
				<h2 class="essay-footer">Notes</h2>
				<ol class="notes">
					<li id="note-1">
						Coulson 1977, 2013: 365–67; JICA 1987. The basic plan report given by the Japan International Cooperation Agency (JICA) shows the historical
						flow of events that led to changes in policies during Nyerere’s leadership to justify their coming to Kilimanjaro. <a class="return-from-note" href="#note-ref-1">&crarr;</a>
					</li>
					<li id="note-2">
						Maro 1990. Decentralisation aimed to minimise bureaucracy in development. <a class="return-from-note" href="#note-ref-2">&crarr;</a>
					</li>
					<li id="note-3">
						Coulson 1977, JICA 1987, Maro 1990. <a class="return-from-note" href="#note-ref-3">&crarr;</a>
					</li>
					<li id="note-4">
						JICA 1995, Beez 2003. Northern Kilimanjaro was famously known for coffee growing; the coming of the Japanese introduced rice which shifted the
						focus of most farmers. <a class="return-from-note" href="#note-ref-4">&crarr;</a>
					</li>
					<li id="note-5">
						Yamada 1999, JICA report 1987. To respond to the 1969–74 development plans, Kilimanjaro set the Kilimanjaro Development Integrated Plan which
						aimed to disperse development projects to different areas in the region rather than letting all the projects concentrate in one area. The government
						of Tanzania therefore requested JICA to move to the Mkomazi valley, Southern Kilimanjaro, where Ndungu would introduce rice farming like they had
						already done in Lower Moshi. While Lower Moshi was a full project, Ndungu was a pilot project for other farmers in Mkomazi valley to learn from. <a class="return-from-note" href="#note-ref-5">&crarr;</a>
					</li>
					<li id="note-6">
						Yamada 1999. <a class="return-from-note" href="#note-ref-6">&crarr;</a>
					</li>
					<li id="note-7">
						Kimambo 1969, 1996; Hakansson 1998, 2008; Sheridan 2001, 2002. <a class="return-from-note" href="#note-ref-7">&crarr;</a>
					</li>
					<li id="note-8">
						Kimambo 1996, Beez 2003, Hakansson 1998, Hakansson 2008. <a class="return-from-note" href="#note-ref-8">&crarr;</a>
					</li>
					<li id="note-9">
						Lebulu 1979. <a class="return-from-note" href="#note-ref-9">&crarr;</a>
					</li>
					<li id="note-10">
						Lebulu 1979. Hakansson 1998. This was often referred to as ‘cooling’ the land and it included the amalgamation of other rituals like rainmaking and
						<i>mahande</i>, which I will discuss shortly. The rituals had a purpose of protecting the land and the people dwelling in it from all misfortunes or
						restoring relationships and order among people or in the environment <a class="return-from-note" href="#note-ref-10">&crarr;</a>
					</li>
					<li id="note-11">
						Opande and Onyango-Ouma 2024 showed the Luo of Kano, who still perform the ritual of digging hailstones to protect their rice, refused to shift to
						modern rice farming and methods including the use of agrochemicals; they instead keep their rituals to protect the rice from the possible
						supernatural dangers. <a class="return-from-note" href="#note-ref-11">&crarr;</a>
					</li>
					<li id="note-12">
						Nixon 2011, Shiva 2013. <a class="return-from-note" href="#note-ref-12">&crarr;</a>
					</li>
					<li id="note-13">
						Suding and Leger 2012, Alleway et al. 2023. <a class="return-from-note" href="#note-ref-13">&crarr;</a>
					</li>
					<li id="note-14">
						Sheridan 2001 wrote his thesis in Usangi, North Pare; he used the term cooling the land which is also used in South Pare, Ndungu to define the
						function of <i>mahande</i>. <a class="return-from-note" href="#note-ref-14">&crarr;</a>
					</li>
					<li id="note-15">
						Smith 2008. In his work on witchcraft in Africa, Smith points out that the accusations of witchcraft reflect the the social class or a way of living of
						those who are accused. The individual performing <i>mahande</i> that I followed in my fieldwork is a relatively rich farmer who used more pesticides
						than others because he could afford them. His father accumulated his wealth from the unfair distribution of land when the project started. The tensions
						pointed out about rituals and witchcraft therefore have their basis in social inequality and class, where poorer farmers view the success of the richer
						farmer as exploitative of their land, due to extra use of pesticides, and evil, due to the position of his family in the village and the project. <a class="return-from-note" href="#note-ref-15">&crarr;</a>
					</li>
					<li id="note-16">
						Comaroff and Comaroff 1993, Smith 2019. <a class="return-from-note" href="#note-ref-16">&crarr;</a>
					</li>
					<li id="note-17">
						Hakansson 1998. Food was given to the chiefs as a form of tribute, forcing farmers to grow more that they need which resulted in the intensification of
						agriculture in Pare since the eighteenth century. <a class="return-from-note" href="#note-ref-17">&crarr;</a>
					</li>
					<li id="note-18">
						Kloppenburg 2004, Mizuno 2020. <a class="return-from-note" href="#note-ref-18">&crarr;</a>
					</li>
					<li id="note-19">
						Hakansson 2008. <a class="return-from-note" href="#note-ref-19">&crarr;</a>
					</li>
					<li id="note-20">
						Cullather 2013. <a class="return-from-note" href="#note-ref-20">&crarr;</a>
					</li>
					<li id="note-21">
						Tironi et al. 2020. <a class="return-from-note" href="#note-ref-21">&crarr;</a>
					</li>
					<li id="note-22">
						Meulemans 2020. <a class="return-from-note" href="#note-ref-22">&crarr;</a>
					</li>
					<li id="note-23">
						Nyerere 1987, Roberts 2020. <a class="return-from-note" href="#note-ref-23">&crarr;</a>
					</li>
					<li id="note-24">
						Wei et al. 2022. <a class="return-from-note" href="#note-ref-24">&crarr;</a>
					</li>
					<li id="note-25">
						Shiva 2013. <a class="return-from-note" href="#note-ref-25">&crarr;</a>
					</li>
					<li id="note-26">
						Roberts 2020. <a class="return-from-note" href="#note-ref-26">&crarr;</a>
					</li>
					<li id="note-27">
						Meulemans 2020. <a class="return-from-note" href="#note-ref-27">&crarr;</a>
					</li>
				</ol>
				<hr class="essay-footer" />
				<h2 class="essay-footer">References</h2>
				<ul class="references">
					<li>
						Alleway, H.K. et al. 2023. ‘The Shifting Baseline Syndrome as a Connective Concept for More Informed and Just Responses to Global Environmental
						Change’. <i>People and Nature</i> <b>5</b> (3): 885–96. <a href="https://doi.org/10.1002/pan3.10473" target="_blank" rel="noopener noreferrer">https://doi.org/10.1002/pan3.10473</a>
					</li>
					<li>
						Beez, J. 2003. ‘The Appropriation of Rice at Mt. Kilimanjaro: A Japanese Development Project and its Consequences'. <i>In Between Resistance and Expansion: Dimensions of Local Vitality in Africa</i>.
						Peter Probst and Gerd Spittler (eds), Münster: Lit Verl. pp. 193–209.
					</li>
					<li>
						Comaroff, J. and J.L. Comaroff. 1993. ‘Introduction’. In <i>Modernity and its Malcontents: Ritual and Power in Postcolonial Africa</i>.
						Chicago and London: University of Chicago Press.
					</li>
					<li>
						Coulson, A. 1977. ‘Agriculture Policies in Mainland Tanzania’. <i>Review of African Political Economy</i> 10: 74–100.
					</li>
					<li>
						Coulson, A. 2013. <i>Tanzania: A Political Economy</i>. Oxford: Oxford University Press.
						<a href="https://doi.org/10.1093/acprof:oso/9780199679966.001.0001" target="_blank" rel="noopener noreferrer">https://doi.org/10.1093/acprof:oso/9780199679966.001.0001</a>
					</li>
					<li>
						Cullather, N. 2013. <i>The Hungry World: America’s Cold War Battle Against Poverty in Asia</i>. Cambridge, MA: Harvard University Press.
					</li>
					<li>
						Hakansson, T. 1998. ‘Rulers and Rainmakers in Precolonial South Pare, Tanzania: Exchange and Ritual Experts in Political Centralization’.
						<i>Ethnology</i> <b>37</b> (3): 263. <a href="https://doi.org/10.2307/3774016" target="_blank" rel="noopener noreferrer">https://doi.org/10.2307/3774016</a>
					</li>
					<li>
						Hakansson, T. 2008. ‘Regional Political Ecology and Intensive Cultivation in Pre-Colonial and Colonial South Pare, Tanzania’.
						<i>Boston University of African Studies Centre</i> <b>41</b> (3): 433–59.
					</li>
					<li>
						JICA. 1987. <i>Basic Design Study Report on Ndungu Agricultural Development Project in the United Republic of Tanzania</i>.
						Basic Design Study Report 87–54. United Republic of Tanzania.
					</li>
					<li>
						JICA. 1995. <i>Kilimanjaro Region Intergrated Development Plan Follow Up Report 1995</i>. AFR TZA/S 102/77. United Republic of Tanzania.
					</li>
					<li>
						Kimambo, I. 1969. <i>A Political History of the Pare of Tanzania c1500–1900</i>. Nairobi, Kenya: East African Publishing House.
					</li>
					<li>
						Kimambo, I. 1996. ‘Environmental Control and Hunger in the Mountains and Plains of Nineteenth-Century Northeastern Tanzania’.
						In <i>Custodians of the Land: Ecology and Culture in the History of Tanzania</i>. London: Villiers Publications.
					</li>
					<li>
						Kloppenburg, J.R. 2004. <i>First the Seed: The Political Economy of Plant Biotechnology, 1492–2000</i>. 2nd ed. Madison, WI:
						University of Wisconsin Press (Science and technology in society).
					</li>
					<li>
						Lebulu, J. 1979. ‘Religion as the Dominant Element of the Superstructure among the Pare of Tanzania’. <i>Social Compass</i> 26: 417–59.
					</li>
					<li>
						Maro, P. 1990. ‘The Impact of Decentralization on Spatial Equity and Rural Development in Tanzania’. <i>World Development</i> 18 (5): 673–93.
					</li>
					<li>
						Meulemans, G. 2020. ‘Wormy Collaborations in Practices of Soil Construction’. <i>Theory, Culture & Society</i> <b>37</b> (1): 93–112.
						<a href="https://doi.org/10.1177/0263276419851857" target="_blank" rel="noopener noreferrer">https://doi.org/10.1177/0263276419851857</a>
					</li>
					<li>
						Mizuno, H. 2020. ‘Mutant Rice and Agricultural Modernization in Asia’. <i>History and Technology</i> <b>36</b> (3–4): 360–81.
						<a href="https://doi.org/10.1080/07341512.2020.1862991" target="_blank" rel="noopener noreferrer">https://doi.org/10.1080/07341512.2020.1862991</a>
					</li>
					<li>
						Nyerere, J.K. 1987. 'Ujamaa: The Basis of African Socialism'. <i>The Journal of Pan African Studies</i> <b>1</b> (1): 4–11.
					</li>
					<li>
						Roberts, M. 2020. ‘Marx on the Environment: A Review of "Karl Marx’s Ecosocialism: Capital, Nature, and the Unfinished Critique of
						Political Economy"'. <i>Review of Agrarian Studies</i> <b>10</b> (2): 99–109.
					</li>
					<li>
						Sheridan, M.J. 2001. Cooling the Land: The Political Ecology of the North Pare Mountains, Tanzania. Ph.D. Thesis. Boston University, Graduate School of Arts and Sciences.
					</li>
					<li>
						Sheridan, M.J. 2002. ‘An Irrigation Intake Is like a Uterus: Culture and Agriculture in Precolonial North Pare, Tanzania’. <i>American Anthropologist</i> <b>104</b>
						(1): 79–92. <a href="https://doi.org/10.1525/aa.2002.104.1.79" target="_blank" rel="noopener noreferrer">https://doi.org/10.1525/aa.2002.104.1.79</a>
					</li>
					<li>
						Shiva, V. 2013. ‘Caring for What We Care About’. In <i>Values in Sustainable Development</i>. Jack Appleton, ed. New York: Routledge.
					</li>
					<li>
						Smith, J. 2019. ‘Witchcraft in Africa’. In S.C. Lubkemann, C.B. Steiner and R.R. Grinker (eds). <i>A Companion to the Anthropology of Africa</i>.
						Hoboken, NJ: Wiley-Blackwell.
					</li>
					<li>
						Suding, K. and E. Leger. 2012. ‘Shifting Baselines: Dynamics of Evolution and Community Change in a Changing World’. In <i>Restoration Ecology: The New Frontier</i>.
						Jelte van Andel and James Aronson, eds. Hoboken, NJ: Wiley-Blackwell.
					</li>
					<li>
						Yamada, R. 1999. ‘The Development of Irrigated Rice Farming in Tanzania and Associated Socio-economic Considerations’. <i>Journal of Rural Planning Association</i>
						<b>18</b> (2): 126–37.
					</li>
				</ul>
			</LongFormContent>
		</PageContent>
	</main>
</Layout>
