---
import Layout from "../../layouts/Layout.astro";

import PageHeader from "../../components/PageHeader.astro";
import EssayHeader from "../../components/EssayHeader.astro";
import LongFormContent from "../../components/LongFormContent.astro";
import PageContent from "../../components/PageContent.astro";

const locationTag = "British Mandate Palestine";
const title = "'The Fertility of the Soil is in Your Hand': On Manure and the Colonial Roots and Branches of the Organic Movement";
const byline = "Tamar Novick";
const authorSlug = "tamar-novick";
---

<Layout title={title}>
	<main>
			<PageHeader
				title="Essays"
				skipH1={true}
				linkTo="/essays"
			/>
			<EssayHeader
				locationTag={locationTag}
				title={title}
				byline={byline}
				authorSlug={authorSlug}
			/>
			<LongFormContent>
				<h2 class="visually-hidden">Essay</h2>
				<p>
					To substantiate the ideas he was about to present to the British Royal Society of Arts, the newly
					knighted Albert Howard, considered the founder – or the twentieth century’s most important advocate –
					of organic farming,<sup class="note" id="note-ref-1"><a href="#note-1">1</a></sup> needed some data.
					It was the summer of 1935, and the agricultural scientist and retired colonial botanist promoted his
					views on soil health among English scientists and farmers. This followed more than twenty years of
					working in India, where he developed a composting method, known as the Indore process (named after
					the Indian city in which he directed the Institute for Plant Industry). He then invested
					in the process’ application across colonial contexts as well as at home. Diverse sets of data were
					necessary to demonstrate the value of this method, to contrast the growing appreciation and desire
					for artificial fertilisers, and to establish his authority within his professional community in
					England. In the following months, the text would be published and widely circulated, and, shortly
					after, Howard would publish a series of books, starting with his 1940 <i>An Agricultural Testament</i>,
					which carried and popularised the message of organic farming across the Anglo-American world and beyond.
				</p>
				<p>
					As part of his preparation for the Society lecture, Howard turned to British Palestine’s Director of
					Agriculture and Forests. Morley Thomas Dawe, himself a botanist and a collector who held posts in
					numerous colonial contexts in Africa and Latin-America before arriving in Palestine, had a year earlier
					voiced interest in applying the Indore process to turn animal, human and vegetable waste into manure.
					When Howard needed data, he reached out to Dawe, reminding him of his ‘interest in the Indore method of
					converting agricultural waste into humus, and [that that] foreshadow[ed] some actual work on this subject.
					I should be deeply grateful if you could send me a short account of any work you have in hand and, if
					possible, of the results so far obtained’ Howard also noted that he could ‘insert a reference to the
					Palestine work before the lecture goes to press’, and that in return he would ‘send copies of the lecture
					for distribution in Palestine’.<sup class="note" id="note-ref-2"><a href="#note-2">2</a></sup>
				</p>
				<p>
					Dawe’s reply, about six weeks later, was rather succinct. He admitted that ‘very little has been done
					in connection with the utilization of agricultural waste in conjunction with night soil’ in Palestine.
					One small experiment was being held at the time in Jerusalem, but there were no results just yet. In
					principle, he explained, there was a ‘dearth of agricultural waste, but in instances where there might
					be a sufficiency there are not adequate measures for collecting night soil’. Additionally, the Department
					of Medical Services was examining municipal schemes’ plausibility and, in the meantime, a commission was
					about to travel to Egypt ‘to study this question there’.<sup class="note" id="note-ref-3"><a href="#note-3">3</a></sup> Plans for turning refuse into manure were preliminary,
					in other words, but the issue was being discussed and examined on several fronts.
				</p>
				<p>
					Historians of the global organic farming movement have pointed to its entanglements with far-right
					politics and fascism in Europe,<sup class="note" id="note-ref-4"><a href="#note-4">4</a></sup> and showed
					that its early theoreticians and advocates were inspired by East and South Asian agricultural practices
					of using bodily waste in the fields.<sup class="note" id="note-ref-5"><a href="#note-5">5</a></sup>
					Howard in particular repeatedly referred to the long history of Chinese use of night soil, and discussed
					how witnessing Indian peasant practices inspired the development of his method and ideas. Yet the
					deep colonial roots of the organic farming movement, the far-reaching colonial circumstances to which
					it was applied, as well as how these were foundational to the success and credibility of the advocates,
					have been largely ignored in the literature. Using the case of Palestine, this essay considers the
					colonial foundations of organic farming and how, in turn, colonial networks and actions shaped local
					possibilities of relating different bodies to the soil. It demonstrates that, rather than merely a
					reaction to the industrialisation of agriculture and the proliferation of chemical fertilisers,
					the organic movement grew out of multi-contextual colonial concerns about soil health, land,
					urbanisation and political conflicts.
				</p>
				<p>
					The common story depicts twentieth century organic farming as a marginal movement, which started gaining
					traction with the growth of the North American environmental movement in the age of Rachel Carson’s
					<i>Silent Spring</i>, in the 1960s–1970s. According to the standard narrative, it largely operated as
					counterculture, an alternative to the capitalist and chemical fertilisers-based food production economy,
					until the emergence of the large- and global-scale organic food industry of recent decades. As Philip
					Canford argued for England, however, the early organic farming movement was not ignored or disregarded
					by state institutions or the public, but was taken seriously, especially by the fertilisers industry,
					until its marginalsation in the interwar and post-WWII periods.<sup class="note" id="note-ref-6"><a href="#note-6">6</a></sup>
					This article goes further to demonstrate that organic farming became central to colonial structures
					and plans. Moreover, the example of Palestine illustrates that, not only was it not marginalised,
					but it also endured and became institutionalised by mid-century, even when composting and recycling
					schemes were ultimately not integrated into large-scale waste management systems. While plans
					to make use of municipal sewage ultimately failed, the Indore process took hold within Jewish
					agricultural settlements and in Israeli agricultural schools, and state officials and institutions
					continued to be occupied with manure and promote its production.
				</p>
				<h3 class="essay-subhead">Searching for Night Soil in Palestine</h3>
				<p>
					The belief that agricultural waste was scarce, as Dawe put it, was characteristic of the heated discussions
					held among state officials and Jewish settlers in 1930s Palestine, which was under a British rule (1917–1948).
					With the intensifying citrus industry, which was gradually and exponentially dominated by Jewish
					settlers,<sup class="note" id="note-ref-7"><a href="#note-7">7</a></sup> manure was in high demand, along with
					the growth in chemical-fertilisers use, which gained prominence by mid-century. As Omri Polatsek has shown,
					during this transitional period, the British government was very concerned with the ‘manure problem’, which
					threatened the success of this industry,<sup class="note" id="note-ref-8"><a href="#note-8">8</a></sup> so
					pleasing to the English palate. Settlers were discussing the importance of manuring the soil, noting that
					‘it has been the common practice to fertilise the Citrus groves with animal manure as the local orchards are
					closely planted and the Citrus trees withdraw soil’.<sup class="note" id="note-ref-9"><a href="#note-9">9</a></sup>
					They turned to Palestinian peasants and Bedouins as a source for manure. While animal droppings were a key
					component in nourishing the Palestinian subsistence economy, settler argued that Palestinian Arabs were not
					accustomed to using manure for the benefit of their crops, and that they greatly benefited from settlers’
					own efforts and knowledge in this matter.<sup class="note" id="note-ref-10"><a href="#note-10">10</a></sup>
					Settlers’ search for growing amounts of animal manure for the citrus industry created unprecedented movement
					of waste across the country, a trade which resulted in numerous conflicts and the depletion of the soils
					from which the droppings were collected or stolen.<sup class="note" id="note-ref-11"><a href="#note-11">11</a></sup>
				</p>
				<p>
					As the Ministry of Agriculture and Forestry was trying to deal with this shortage, it operated on several
					levels. Principally, the government attempted to regulate the movement of manure and initiated a series
					of limitations and prohibitions on its trade, burning (including for heating) and export. Various importation
					schemes from Syria, Lebanon and Transjordan were initiated by Palestinian Arabs and Jewish settlers and
					supported by the government.<sup class="note" id="note-ref-12"><a href="#note-12">12</a></sup> Additionally,
					poudrette – a fertiliser made of dried human or animal waste – was imported from Egypt for a while, until
					the Egyptian government began regulating its own manure trade as well.<sup class="note" id="note-ref-13"><a href="#note13">13</a></sup>
					Within those limiting circumstances, state officials also sought other options, including turning town
					refuse into manure. As one agricultural office argued, ‘all towns that already have a sewage system,
					should be encouraged to make use of the sewage water for the preparation of organic manure’.<sup class="note" id="note-ref-14"><a href="#note-14">14</a></sup>
				</p>
				<p>
					Not only bodily waste, of either animal or human origin, but also knowledge about ways of processing
					it and putting it to use were in high demand. To examine the possibility of turning refuse into manure,
					state and municipal officials – many of whom were moving between different British colonial contexts –
					sought to learn from other, mainly colonial, examples. Throughout the 1930s, two main models were being
					discussed and examined: the processing of bodily waste into compost outside in the open or, alternatively, within a
					concrete structure divided into cells. The latter approach, which was developed in Italy, was referred
					to as the Beccari process, or its later development the Boggiano-Pico process, centred on constructing
					an indoor ventilated fermentation plant, and was favoured by public health professionals. According to a
					1931 report produced by Yousif Milad of the Egyptian Ministry of Agriculture, and read by his equivalents
					in Palestine, the process was based on soaking garbage in water and placing it in closed cells that were
					heated enough ‘to kill all pathogenic organisms and to cause a rapid decay in the material’. At the time,
					it was patented or being trialled in Switzerland, France, Denmark, Sweden, Germany, Spain, the US and
					Argentina.<sup class="note" id="note-ref-15"><a href="#note-15">15</a></sup>
				</p>
				<p>
					In contrast, the first approach, which necessitated little investment in construction or machinery,
					was based on the use of large plots of land and many working hands, combining animal droppings and
					vegetable waste with a urine-soaked soil. This was the principle driving the Indore process that
					Howard developed and promoted, and which Dawe in Palestine sought to learn more about.
				</p>
				<h3 class="essay-subhead">Urine Earth: Organic Farming and Colonial Networks</h3>
				<p>
					Like other European theoreticians before him, such as Jusus von Liebig with his chemical model of
					soil fertility, as well as Karl Marx in his notion of the ‘metabolic rift’,<sup class="note" id="note-ref-16"><a href="#note-16">16</a></sup>
					Howard relied on ‘the law of return’, namely, the idea that living organisms and the soil sustain
					each other, and that waste materials should return to the soil to nourish it.<sup class="note" id="note-ref-17"><a href="#note-17">17</a></sup>
					Separating waste from the soil was increasingly understood as a major indication of the problem
					inherent to capitalist agriculture. Further, not unlike other Europeans of his time, Howard was
					deeply inspired by Chinese and other East-Asian composting practices and using human and animal
					waste for agricultural processes.<sup class="note" id="note-ref-18"><a href="#note-18">18</a></sup>
					Interestingly, this fascination with Chinese manuring practices emerged at times when the nationalist
					and then communist Chinese states were concerned with the health risks that manure posed, and were
					trying to control and reform the vibrant night-soil industry with the rise of what Ruth Rogaski
					termed ‘hygienic modernity’.<sup class="note" id="note-ref-19"><a href="#note-19">19</a></sup> This
					process should also be understood in relation to large-scale colonial forms of bodily control, the
					racialisation of excretory habits and the emphasis on personal hygiene, or ‘excremental
					colonialism’, as Warwick Anderson terms it.<sup class="note" id="note-ref-20"><a href="#note-20">20</a></sup>
				</p>
				<p>
					Howard’s work during his long colonial tenure in India was fundamentally shaped by this corpus of
					knowledge, and then by his observations of Indian peasantry practices. These, as he stated explicitly,
					were the foundations of the Indore process, or as one 1980s report on composting phrased it, during
					his time in Indore, Howard ‘began to systematise the traditional compost procedures’.<sup class="note" id="note-ref-21"><a href="#note-21">21</a></sup>
					The Indore process stood on three pillars: animal droppings, vegetable waste and (human or animal)
					urine. Howard emphasised its simplicity:
				</p>
				<blockquote>
					The Indore process itself is very simple. It consists in using the fungi and bacteria, which
					occur in Nature, as agents to break down suitable mixtures of vegetable and animal wastes - the
					residues of the operations of the farm itself. By arranging these mixtures in the proper way and
					in the right proportions, and by controlling by the simplest means, namely, by watering and
					turning, the supply of moisture and air, these wastes are transformed in about ninety days into
					finely divided humus, rich in the foods required by growing crops. The process can be adapted
					to climate by manufacture either in shallow pits or low heaps. No buildings or expensive plant are
					required, nor are pure cultures of the organisms.<sup class="note" id="note-ref-22"><a href="#note-22">22</a></sup>
				</blockquote>
				<p>
					As part of the process, vegetable and animal wastes are piled up and applied with what he
					termed ‘urine earth’ – soil soaked with urine – which Howard understood to be the key substance
					in the manufacture of humus, yet ‘much of this vital substance for restoring soil fertility
					is either wasted or only imperfectly utilised. This fact alone would explain the disintegration
					of the agriculture of the West.’<sup class="note" id="note-ref-23"><a href="#note-23">23</a></sup>
					In the minute details of managing soil fertility lies the drama of civilisation and its decline.
				</p>
				<p>
					Upon returning to England, Howard was occupied with advocating the Indore processes to a
					variety of colonial contexts and in his home country. In his correspondence with Dawe in
					Palestine, in the mid 1930s, he argued that ‘the ordinary Indore process for the conversion of
					agricultural waste into humus is making very rapid progress in many countries, particularly
					in the plantation industries (tea, coffee, coconuts, etc.)’.<sup class="note" id="note-ref-24"><a href="#note-24">24</a></sup>
					Specifically, as he discussed in a series of publications published during that period, the
					process was being trialled in many parts of colonial India, such as Travancore (in current-day
					Kerala), the Rajputana region (current-day Rajasthan), in the north-west, Sakrand (current-day
					Pakistan) and the rest of the Sindh province, Punjab, the Nizam dominion, Bengal, as well as
					in colonial Ceylon (today’s Sri Lanka). It was also used in several parts of Kenya, near
					Nairobi and in Taveta, and apparently ‘visitors from other parts of Kenya, the Rhodesias,
					Uganda, Tanganyika [in current-day Tanzania], and the Belgium Kongo’ came to witness the
					process in action. <sup class="note" id="note-ref-25"><a href="#note-25">25</a></sup>
				</p>
				<p>
					Governmental officials in Palestine, seeking solutions to the manure problem, inquired about
					both methods – open-air and closed-cells – as possible approaches to turning refuse into
					manure. Dawe sent Jaffa’s municipal engineer to Nicosia in colonial Cyprus, to examine the
					British-initiated plant there.<sup class="note" id="note-ref-26"><a href="#note-26">26</a></sup> He
					also corresponded with the Brevetti-Beccari-Valtancoli company, who patented the Beccari
					closed-cell process, to ask for copies of the relevant literature and the patent
					documents.<sup class="note" id="note-ref-27"><a href="#note-27">27</a></sup> Dawe then turned
					to the Institute of Plant Industry with a similar request,<sup class="note" id="note-ref=28"><a href="#note-28">28</a></sup>
					but this was after Howard’s time there. Palestine’s director of medical services explained
					further that, in comparison to the so-called Italian process, ‘attention has been directed
					to the method adopted in Indore and in Mysore City, India’, noting that this method was also
					being introduced to Suez, Egypt, which was under British control.<sup class="note" id="note-ref-29"><a href="#note-29">29</a></sup>
					He then argued that this process fits the context of Palestine better due to its simplicity and
					affordability, and suggested trialing it in Jaffa.<sup class="note" id="note-ref-30"><a href="#note-30">30</a></sup>
					In 1936, the sanitary surveyor of the city of Haifa, was sent to inspect and report on the
					plant in Suez, where he was accompanied by a member of the Rockefeller Foundation.<sup class="note" id="note-ref-31"><a href="#note-31">31</a></sup>
					In addition to these regional plants which representatives were sent to observe, Dawe and his
					successor, F.R. Mason, collected information about the implementation of the composting method
					in various other contexts such as Australia, Rhodesia, Germany, Malaysia (from Mason’s own
					experience during his previous colonial post) and England.<sup class="note" id="note-ref-32"><a href="#note-32">32</a></sup>
				</p>
				<h3 class="essay-subhead">In Your (Prisoner’s) Hands</h3>
				<p>
					In Palestine, by the mid 1940s, concrete plans for turning the refuse of Jaffa, Tel-Aviv, Haifa, Rehovot
					and Jerusalem into manure were being executed or developed. The mayors of Bethlehem and
					Beit-Jala also voiced their interest. Several private Jewish entrepreneurs proposed their
					own methods and services as the basis for such municipal plans. One of them was an Italian
					Jew, an owner of citrus groves in Palestine, who acquired the patent rights for the ‘Beccari
					process’ of closed-cells in the country.<sup class="note" id="note-ref-36"><a href="#note-36">36</a></sup>
					Additionally, experiences in composting within Jewish agricultural settlements, as well as
					the question of fitting the method to Palestine, were discussed in the Jewish settler
					agricultural journal, <i>Hassade</i>.<sup class="note" id="note-ref-37"><a href="#note-37">37</a></sup>
					Palestine’s unique political composition, and the settler population’s emphasis on enhancing
					its agricultural economy, had arguably made more room for examining composting alongside other
					forms of soil fertility enhancement, such as chemical fertilisers.
				</p>
				<p>
					For over a decade, state officials debated which approach to composting would fit Palestine
					best. As a bacteriological approach to medicine was strengthening during a period of intensifying
					urbanisation, public health and soil health were tied in new ways. With a growing concern about
					health risks, the ventilated closed-cell process, in which pathogenic organisms were supposedly
					killed, was understood to be the safest. Major G. Howard-Jones, a British agricultural
					representative in Lebanon, discussed the problem of manure as a regional one, and believed
					that city refuse held great potential. In a presentation he gave at the 1944 Middle East
					Agricultural Development Conference, which was held in Cairo, he discussed the establishment
					of a new closed-cell plant for processing refuse in Beirut, and explained why Middle Eastern
					cities are particularly prone to challenging refuse:
				</p>
				<blockquote>
					Those who are only familiar with Europe will think of town refuse as containing chiefly coal
					cinders, waste paper, tin, bottles and so one, with comparatively little vegetable and animal
					matter but it is a well-known fact the further once proceeds south, the higher is the proportion
					of fermentable material in town waste … Such town waste is very noisome and objectionable,
					and thought it could be fermented in the open air rather like composting, the mass is so
					smelly, attractive to rats, mice and flies, and so infected with pathogenic germs that this
					really could not be considered healthy under any circumstances.<sup class="note" id="note-ref-38"><a href="#note-38">38</a></sup>
				</blockquote>
				<p>
					With the closed-cell plant opening in Beirut in 1943, and another planned for Cairo, colonial
					state officials initiated a regional conversation and exchange of information, materials and
					experts. Professionals from Egypt, Palestine and Lebanon corresponded about manuring processes,
					and some visited the new plant.<sup class="note" id="note-ref-39"><a href="#note-39">39</a></sup>
					Samples of the manure products were also sent to the Palestine governmental experimental station
					in Acre to test their value and potency.<sup class="note" id="note-ref-40"><a href="#note-40">40</a></sup>
				</p>
				<p>
					In addition to the tension between public and soil health, the debate about manure was entangled
					with changing relations between soil and land as well as Palestine’s land question more generally.
					The Indore open-air process was understood as unfitting to the context of Palestine because it
					required much land and labour, which were both very expensive.<sup class="note" id="note-ref-41"><a href="#note-41">41</a></sup>
					Yet, despite that growing preference for the closed-cell approach over composting, especially when
					municipal refuse was concerned, the Indore process remained under consideration and was applied
					to Jewish settlements. As the discussions about composting became systematised, the different
					approaches were examined in relation to one another at the colonial Acre station; the trial
					compared manure produced in the Beirut plan with ‘compost prepared at Acre by the Indore Process’
					as well as ‘Ordinary Farm-yard manure’. The results showed that ‘all three organic manures had
					little or no effect on yield in the presence of chemical fertilisers, but gave marked increase
					in the absence of the latter’.<sup class="note" id="note-ref-42"><a href="#note-42">42</a></sup>
					Not only did chemical fertilisers have an advantage, but the various composting methods also did not
					seem very different from one another.
				</p>
				<p>
					The Acre station experiment followed a proposal to use the station grounds for turning Acre city’s
					refuse into manure. Noting that the patent holders were unlikely to be interested in erecting a
					closed-cell plant in Acre (supposedly due to the small scale of its refuse), Mason argued that
					‘consideration will be given to the possibility of open air composting of the Acre municipal
					refuse on the Government Farm’,<sup class="note" id="note-ref-43"><a href="#note-43">43</a></sup>
					thereby solving the problem of land required by the Indore process. To deal with the need for working
					hands, the Acre farm manager suggested ‘the use of selected prison labour so that the work could
					be done cheaply and at the same time give the village prisoners an excellent opportunity of
					learning this semi-skilled work’.<sup class="note" id="note-ref-44"><a href="#note-44">44</a></sup>
					Reports on the pilot programme of composting Acre’s refuse continued throughout the following
					year, 1947, highlighting the offensive nature of the fresh material. While no flies or rats were
					seen around the heaps, ‘hungry dogs from the vicinity were a nuisance’.<sup class="note" id="note-ref-45"><a href="#note-45">45</a></sup>
					With the end of the British rule in Palestine and the outbreak of the 1948 war, the Acre station and the
					most concrete composting programme in Palestine were dismantled.
				</p>
				<p>
					The newly formed Israeli ministry of agriculture continued its preoccupation with manure, and
					different municipal bodies considered encompassing refuse management plants as part of the construction
					of urban sewage systems. Many of the same Jewish entrepreneurs, such as the Green & Co., continued
					proposing different composting methods and the construction of plants. One farmer proposed a
					method of carrying and distributing cow urine in agricultural fields, which he thought should
					be particularly valuable in the post-WWII circumstances.<sup class="note" id="note-ref-46"><a href="#note-46">46</a></sup>
					S. Kalish, a chemical engineer, proposed his own method of turning urban waste into manure. To his
					proposal Y. Carmon, a member of the Ministry of Agriculture, answered that it is ‘a topical matter
					and there are a lot of possibilities in this direction’. Not unlike his British predecessors in Acre,
					Kalish planned to deal with the demand for working hands by using Palestinian captives of the 1948
					war and later prisoners. Carmon noted that ‘it is impossible to base any industry on such conditions.
					But as long as there are war captives it is a possibility.’<sup class="note" id="note-ref-47"><a href="#note-47">47</a></sup>
				</p>
				<p>
					Plans to turn city refuse into manure were ultimately left out of sewage systems, even if not erased
					completely.<sup class="note" id="note-ref-48"><a href="#note-48">48</a></sup> But the connection between
					working hands, manure and soil fertility, as well as the utility of the Indore process, endured. The
					Association for Organic Waste Workers, a new Jewish Israeli organisation promoting organic farming,
					started working in collaboration with the ministry of agriculture after the war. With the slogan
					‘The Fertility of the Soil is in Your Hand’, the association was supplying guidance to agricultural schools,
					which have been central to the success of the Jewish settlement for half a century, promoting the
					Indore process across the country.<sup class="note" id="note-ref-49"><a href="#note-49">49</a></sup>
				</p>
				<p>
					Under the wings of the Ministry of Agriculture, the association periodically sent a guide to inspect
					the compost heaps and the ways in which urine was contained and used. In a letter to the heads of
					agricultural schools, the main inspector of the ministry of agriculture explained that ‘the field of organic
					farming includes managing farm animal waste (urine), the collection of all yard and settlement refuse
					and their turning into compost, efficient use of sewage water and human waste for compost’.<sup class="note" id="note-ref-50"><a href="#note-50">50</a></sup>
					The travelling guide reported on his impressions from the various agricultural schools, and the extent
					to which students and staff were adequately managing human and animal waste in their fields. Following
					one of his visits, and much in line with Howard’s agenda set two decades earlier, the guide suggested
					that ‘a slogan should be put in place: there is no waste – there is organic matter that determines the
					fertility of the soil’.<sup class="note" id="note-ref-51"><a href="#note-51">51</a></sup> The institutionalisation
					of the process and the importance of manure has been, in this sense, complete.
				</p>
				<h3 class="essay-subhead">Conclusion</h3>
				<p>
					The colonial examination and advocation of organic farming intersected with processes of urbanisation and
					land appropriation, and became tied to questions of relation between soil health and public health and
					between soil and land. Rather than a mere critical reaction to the industrialisation of agriculture, and
					during a transitional period preceding large-scale construction of municipal sewage systems and the age of
					chemical fertilisers, composting methods occupied a formal colonial position. Organic farming methods were
					understood as proven, important and available means to enhance soil fertility and battle soil depletion across
					contexts. In British-ruled Palestine, composting plans and experiments served demographic, economic, political
					and land-management goals and changes. Catering to the particular needs of the Jewish settlement population
					and its forming agricultural economy, and in close connection to regional initiatives, state- and settler-led
					composing projects became inherent parts of development plans. While composting was ultimately left out of
					sewage and industrial agriculture infrastructures, the collection and processing of bodily waste were
					imperative elements in shaping the colonial soil and in determining who worked it.
				</p>
				<hr class="essay-footer" />
				<h2 class="essay-footer">Notes</h2>
				<ol class="notes">
					<li id="note-1">
						See, for example, Hershey 1992: 267. <a class="return-from-note" href="#note-ref-1">&crarr;</a>
					</li>
					<li id="note-2">
						A. Howard, London, to M. T. Dawe, Director of Agriculture & Forests, Jerusalem, 8 Aug. 1935, Israel State Archives [henceforth ISA]/Mem-22/635. <a class="return-from-note" href="#note-ref-2">&crarr;</a>
					</li>
					<li id="note-3">
						Directory of Agriculture and Forests, Jerusalem to Albert Howard, London, 20 Sept. 1935, ISA/Mem-22/635. <a class="return-from-note" href="#note-ref-3">&crarr;</a>
					</li>
					<li id="note-4">
						For the English context see Conford 2001; for Germany see Treitel 2017. <a class="return-from-note" href="#note-ref-4">&crarr;</a>
					</li>
					<li id="note-5">
						Conford 1995. I use ‘bodily waste’ to refer to bodily excreta of either animal or human source, thereby considering
						both ‘agricultural waste’, or animal manure, and ‘human waste’ along similar lines. Organic farming has relied on
						bodily waste in its varieties. For further analysis of the category of bodily waste see Novick and Pirogovskaya 2025. <a class="return-from-note" href="#note-ref-5">&crarr;</a>
					</li>
					<li id="note-6">
						Conford 2002. <a class="return-from-note" href="#note-ref-6">&crarr;</a>
					</li>
					<li id="note-7">
						Kabha and Karlinsky 2021. <a class="return-from-note" href="#note-ref-7">&crarr;</a>
					</li>
					<li id="note-8">
						Polatsek 2023. <a class="return-from-note" href="#note-ref-8">&crarr;</a>
					</li>
					<li id="note-9">
						L. Marcus, Secretary of the Citrus Growers Section (of the Jewish Farmers Federation), to the Director of Agriculture
						& Forests, 21 Jan. 1934, ISA/Mem-8/648, p. 1. On p. 4, Marcus explains further the meaning of withdrawing soil, noting
						that ‘experience has shown that for the production of their fruit Citrus trees withdraw great quantities of food materials
						from the soil which they obtain mostly from the animal manure’.<a class="return-from-note" href="#note-ref-9">&crarr;</a>
					</li>
					<li id="note-10">
						Moshe Smilanskly quoted in Polatsek 2023: 57–58. <a class="return-from-note" href="#note-ref-10">&crarr;</a>
					</li>
					<li id="note-11">
						Polatsek 2023: 65. <a class="return-from-note" href="#note-ref-11">&crarr;</a>
					</li>
					<li id="note-12">
						Ibid. See, for example, M.T. Dawe, Director of Agriculture and Forests, to the Director of Medical Services (copy
						to the Directior of Customs, Excise and Trade), 2 Oct. 1934, ISA/Mem-3/33. <a class="return-from-note" href="#note-ref-12">&crarr;</a>
					</li>
					<li id="note-13">
						S. Antebi, Agricultural Officer, to M.T. Dawe, Director of Agriculture and Forests, 8 June 1933, ISA/Mem-8/648, p. 1.<a class="return-from-note" href="#note-ref-13">&crarr;</a>
					</li>
					<li id="note-14">
						Ibid, p. 2. <a class="return-from-note" href="#note-ref-14">&crarr;</a>
					</li>
					<li id="note-15">
						Dr. Yousid Milad, Horticultural Section, Report No. 4: ‘Possibilities in making Organic Manure from Garbage
						and Street-Refuse in Egypt’, submitted to the Sub-Committee of the Agricultural Advisory Council, April 1931,
						ISA/Mem-22/635, pp. 4–5. <a class="return-from-note" href="#note-ref-15">&crarr;</a>
					</li>
					<li id="note-16">
						Marchesi 2020; Foster and Magdoff 1998: 49–50; Davidson and Carreira da Silva 2024: 5–7. <a class="return-from-note" href="#note-ref-16">&crarr;</a>
					</li>
					<li id="note-17">
						See, for example, Barton 2018: 9. <a class="return-from-note" href="#note-ref-17">&crarr;</a>
					</li>
					<li id="note-18">
						Howard referred and paid tribute to US American agricultural scientist Franklin Hiram King, who observed composting
						and other agricultural pracitces in China, Korea and Japan during an eight-month tour in 1909. See Paull 2001.
						Jörg Henning Hüsemann discussed early Modern European interest in Chinese manuring practices in ‘“A Matter
						Difficult to Handle” – Waste and Value in European Accounts of Chinese Agriculture’, paper presented at ‘The Waste
						of the Body’ workshop, Max Planck Institute for the History of Science, Berlin, 6 July 2022. <a class="return-from-note" href="#note-ref-18">&crarr;</a>
					</li>
					<li id="note-19">
						Barnes 2023. <a class="return-from-note" href="#note-ref-19">&crarr;</a>
					</li>
					<li id="note-20">
						Anderson 1995. <a class="return-from-note" href="#note-ref-20">&crarr;</a>
					</li>
					<li id="note-21">
						Rabbani et al. 1983. <a class="return-from-note" href="#note-ref-21">&crarr;</a>
					</li>
					<li id="note-22">
						Howard 1935: 28. <a class="return-from-note" href="#note-ref-22">&crarr;</a>
					</li>
					<li id="note-23">
						Howard 1943: 35. <a class="return-from-note" href="#note-ref-23">&crarr;</a>
					</li>
					<li id="note-24">
						Albert Howard, London, to M.T. Dawe, Director of Agricuture and Forests, Jerusalem, 30 Nov. 1934, ISA/Mem-22/635, p.2. <a class="return-from-note" href="#note-ref-24">&crarr;</a>
					</li>
					<li id="note-25">
						Howard, 1935. <a class="return-from-note" href="#note-ref-25">&crarr;</a>
					</li>
					<li id="note-26">
						M.T. Dawe, Director of Agriculture and Forests, Plaestine, to D.L. Blunt, Director of Agriculture, Nicosia, Cyprus, 23 Jan. 1934, ISA/Mem-22/635. <a class="return-from-note" href="#note-ref-26">&crarr;</a>
					</li>
					<li id="note-27">
						M.T. Dawe to Messes. Societa Anonimal Brevetti ‘Beccari-Valtancoli’ Co., 23 Jan. 1934, ISA/Mem-22/635. <a class="return-from-note" href="#note-ref-27">&crarr;</a>
					</li>
					<li id="note-28">
						M.T. Dawe to Secretary, Institute for Plant Industry, Indore, Central India, 22 July 1934, ISA/Mem-22/635. <a class="return-from-note" href="#note-ref-28">&crarr;</a>
					</li>
					<li id="note-29">
						Acting Director of Medical Services to Director of Agriculture and Forests, 3 Sept. 1934, ISA/Mem-22/635. <a class="return-from-note" href="#note-ref-29">&crarr;</a>
					</li>
					<li id="note-30">
						Director of Medical Services to Director of Agriculture and Forests, 7 Nov. 1934, ISA/Mem-22/635. <a class="return-from-note" href="#note-ref-30">&crarr;</a>
					</li>
					<li id="note-31">
						Sanitary Officer, Haifa to the Director of the Ministry of Agriculture and the Director of the Ministry of Health,
						‘Town Refuse as a Fertilizer’, 16 March 1936, ISA/Mem-23/5082; Also appears in ISA/Mem-22/635. <a class="return-from-note" href="#note-ref-31">&crarr;</a>
					</li>
					<li id="note-32">
						Extract from the <i>Rhodesia Agricultural Journal</i> <b>31</b> (11) (Nov. 1934), ISA/Mem-22/635; ‘A Method of
						Utilizing Waste Products in(?) Farm Usually Adopted by Australian Farmers’, undated, ISA/Mem-22/635; Irrigation
						Officer to General Agricultural Council, 7 July 1938, ‘Utilisation of Sewage for Dry Manure’, ISA/Mem-22/635; F.R. Mason,
						Director of Agriculture and Fisheries, to Chief Secretary, 26 Feb.1942, ISA/Mem-22/635; Colonial Offfice, Westminster, to F.R.
						Mason, Director of Agriculture and Fisheries, Jerusalem, 2 Aug. 1944, ISA/Mem-22/635. <a class="return-from-note" href="#note-ref-32">&crarr;</a>
					</li>
					<li id="note-33">
						See, for example, J. Green & Co. (Palestine LTD), Tel-Aviv, to Mayor of the Municipal Corporations, Haifa, ‘Town of Haifa:
						Centre for the Treatment of Town Refuse by Biological Fermentaion in Silos by Boggiano Pico Process’, 30 Jan. 1947,
						ISA/Gimel-24/2791. <a class="return-from-note" href="#note-ref-33">&crarr;</a>
					</li>
					<li id="note-34">
						B.C. Gibbs, District Commissioner, Jerusalem, to Director of Medical Services, ‘Disposal of Refuse, Bethlehem’, 10 Oct. 1933,
						ISA/Mem-22/635; District Commissioner, Jerusalem, to Director of Agriculture and Fisheries, 14 June 1946, ISA/Gimel-24/2791. <a class="return-from-note" href="#note-ref-34">&crarr;</a>
					</li>
					<li id="note-35">
						‘Yakhin’ Agricultural Contracting Co-operative Association, Tel-Aviv, to M.T. Dawe, Director of Agriculture and Fisheries,
						Jerusalem, 10 Feb. 1937, ISA/Mem-22/635; A.L. Estermann and Eng. A. Hausdorff, Tel-Aviv, to Department of Agriculture, Jerusalem,
						‘Memorandum, relating to the disposal and transformation of gargabe into manure’, 29 March 1942, ISA/Mem-22/635; Palestine
						Industrial Undertakings Ltd. To Director of Agriculture and Fisheries, undated, ISA/Mem-22/635; J. Green & Co. (Palestine) LTD,
						to Mayor of the Municipal Corporations, Haifa, 30 Jan. 1947, ISA/Gimel-24/2791. <a class="return-from-note" href="#note-ref-35">&crarr;</a>
					</li>
					<li id="note-36">
						Agricultural Officer, Jaffa, to Chief Agricultural Officer, ‘Organic Manure’, 14 Jan. 1937, ISA/Mem-22/635. The patent rights
						for the later development, the ‘Boggiano-Pico process’, were Green & Co. Ltd., Tel-Aviv, see ‘Note on the Boggiano-Pico Process’,
						undated, ISA/Gimel-24/2791. <a class="return-from-note" href="#note-ref-36">&crarr;</a>
					</li>
					<li id="note-37">
						S. Antebi, Agricultural Officer, Jaffa, to Chief Agricultural Officer, 24 Dec. 1936, ISA/Mem-22/635. <a class="return-from-note" href="#note-ref-37">&crarr;</a>
					</li>
					<li id="note-38">
						Major G. Howard-Jones, M.E.S.C. Agricultural Representative, Lebanon, ‘Manure from Town Rubbish by the Boggiano-Pico Process’,
						presentation at the Middle East Agricultural Development Conference, Cairo, Feb. 1944, ISA/Mem-16/662. <a class="return-from-note" href="#note-ref-38">&crarr;</a>
					</li>
					<li id="note-39">
						Stedman Davies, Controller of Agricultural Production, to Chief Secretary, 14 Dec. 1944, ISA/Mem-22/635; R.D. Badcock, Municipal
						Corporation, Jerusalem, to F.R. Mason, Directory of Agriculture, Jerusalem, 7 Feb. 1945, ISA/Mem-22/635. <a class="return-from-note" href="#note-ref-39">&crarr;</a>
					</li>
					<li id="note-40">
						J.C. Evre, Director of Agriculture and Fisheries, to Manager of Government Farm Acre, 23 Feb. 1945, ISA/Mem-22/635. <a class="return-from-note" href="#note-ref-40">&crarr;</a>
					</li>
					<li id="note-41">
						See, for example, Minutes of the 36th Meeting of the G.A.C, 10 Feb. 1937, ISA/Mem-22/635. This stands in contrast to debates about
						the use of manure for mid-19th century US, where labour was expensive but land relatively cheap, in Stoll 2002. <a class="return-from-note" href="#note-ref-41">&crarr;</a>
					</li>
					<li id="note-42">
						Senior Agricultural Assistant, the Governmental Farm, Acre, to Director of Department of Agriculture and Fisheries, ‘Results
						of Manure Trials from Beirut’, 23 Aug. 1945, ISA/Gimel-24/279, p. 2. <a class="return-from-note" href="#note-ref-42">&crarr;</a>
					</li>
					<li id="note-43">
						F.R. Mason, Director of Agriculture and Fisheries, to Chief Secretary, 28 Nov.1946, ISA/Gimel-24/279. <a class="return-from-note" href="#note-ref-43">&crarr;</a>
					</li>
					<li id="note-44">
						Manager, Government Farm Acre, to Director of Agriculture and Fisheries, 17 Dec. 1946, ISA/Gimel-24/279. <a class="return-from-note" href="#note-ref-44">&crarr;</a>
					</li>
					<li id="note-45">
						Assistant Station Superintendent, ‘Brief Report on Composting of Acre Municipality Wastes’, p. 3, attached to a letter from the Manager,
						Government Farm Acre, to Director of Department of Agriculture and Fisheries, 27 June 1947, ISA/Gimel-24/279. <a class="return-from-note" href="#note-ref-45">&crarr;</a>
					</li>
					<li id="note-46">
						Moshe Avramovitch, Sarid, to the ‘Shlush Prize’ Committee, Jewish National Fund, undated, ISA/Gimel-18/2190. <a class="return-from-note" href="#note-ref-46">&crarr;</a>
					</li>
					<li id="note-47">
						Dr. Y. Carmon to Mr. Zisling, Agricultural Research, Guidance, and Education Department, ‘Mr. Kalish’s Proposal’, 5 Nov.1948, ISA/Gimel-18/2190. <a class="return-from-note" href="#note-ref-47">&crarr;</a>
					</li>
					<li id="note-48">
						For the example of the Tel-Aviv sewage system plan, see Balslev 2012: 113, 116; A 1966 analysis of composting methods alludes to the
						existence of closed-cell plants in both Haifa and Tel Aviv. In Kupchik 1966. <a class="return-from-note" href="#note-ref-48">&crarr;</a>
					</li>
					<li id="note-49">
						See, for example, Reuven Kadosha, Association for Organic Waste Workers, to Agricultural School, Emek Hefer, 12 June 1955, ISA/Gimel-24/2791;
						Organic Waste Branch to Gronia Rash, Agricultural Education Section, ‘Guidance in the Schools’, 14 Aug. 1955, ISA/Gimel-24/2791. <a class="return-from-note" href="#note-ref-49">&crarr;</a>
					</li>
					<li id="note-50">
						D. Gazit, Main Inspector, Ministry of Agriculture, to Agricultural School Managers, 7 Nov. 1956, ISA/Gimel-24/2791. <a class="return-from-note" href="#note-ref-50">&crarr;</a>
					</li>
					<li id="note-51">
						Ya’acov Raz, ‘General Summary form the Visits to Agricultural School around the Production and Management of Organic Waste, during the months
						of January, February, and March, 1956’, 18 April 1956, ISA/Gimel-24/2791, p. 2. <a class="return-from-note" href="#note-ref-51">&crarr;</a>
					</li>
				</ol>
				<hr class="essay-footer" />
				<h2 class="essay-footer">References</h2>
				<ul class="references">
					<li>
						Anderson, Warwick. 1995. ‘Excremental Colonialism: Public Health and the Poetics of Pollution’. <i>Critical Inquiry</i> <b>21</b> (3): 640–69.
					</li>
					<li>
						Balslev, Yaron. 2012. ‘Contaminating and Purifiying Tel Aviv’s Beach, 1909–1982’ (Zihum Vetihum Sfat Yama Shel
						Tel Aviv, 1909–1982). <i>Ofakim Begeografia</i> 78: 103–21.
					</li>
					<li>
						Barnes, Nicole Elizabeth. 2023. ‘The Many Values of Night Soil in Wartime China’. <i>Past and Present</i> <b>259</b> (1): 194–228.
					</li>
					<li>
						Barton, Gregory A. 2018. <i>The Global History of Organic Farming</i>. Oxford: Oxford University Press.
					</li>
					<li>
						Conford, Philip. 1995. ‘The Alchemy of Waste: The Impact of Asian Farming on the British Organic Movement’. <i>Rural History</i> <b>6</b> (1): 103–14.
					</li>
					<li>
						Conford, Philip. 2001. <i>The Origins of the Organic Movement</i>. Place: Floris Books.
					</li>
					<li>
						Conford, Philip. 2002. ‘The Myth of Neglect: Responses to the Early Organic Movement, 1930–1950’. <i>The Agricultural History Review</i> <b>50</b> (1): 89–106.
					</li>
					<li>
						Davidson, Joe P. L. and Filipe Carreira da Silva. 2024. ‘Decolonising the Earth: Anticolonial Environmentalism and the Soil of Empire’. <i>Theory, Culture & Society</i> <b>41</b> (6): 3–19.
					</li>
					<li>
						Foster, John Bellamy and Fred Magdoff. 1998. ‘Liebig, Marx, and the Depletion of Soil Fertility: Relevance for Today’s Agriculture’. <i>Monthly Review</i> <b>50</b> (3): 43–60.
					</li>
					<li>
						Hershey, David R. 1992. ‘Albert Howard and the Indore Process’. <i>HortTechnology</i> <b>2</b> (2): 267–69.
					</li>
					<li>
						Howard, Albert. 1935. ‘The Manufacture of Humus by the Indore Proces’. <i>Journal of the Royal Society of Arts</i> <b>84</b> (4331): 26–59.
					</li>
					<li>
						Howard, Albert. 1943. <i>An Agricultural Testament</i>. Oxford: Oxford University Press.
					</li>
					<li>
						Kabha, Mustafa and Nahum Karlinsky. 2021. <i>The Lost Orchard: The Palestinian-Arab Citrus Industry, 1850–1949</i>. New York: Syracuse University Press.
					</li>
					<li>
						Kupchik, George J. 1966. ‘Economics of Composting Municipal Refuse in Europe and Israel, with Special Reference to Possibilities in the USA’. <i>Journal of the Sanitary Engineering Division, American Society of Civil Engineers</i> 92: 41–56.
					</li>
					<li>
						Marchesi, Greta. 2020. ‘Justus von Liebig Makes the World: Soil Properties and Social Change in the Nineteenth Century’. <i>Environmental Humanities</i> <b>12</b> (1): 205–226.
					</li>
					<li>
						Novick, Tamar and Maria Pirogovskaya. 2025. ‘Vital Waste, or the Body Extended’. <i>Journal of Material Culture</i> <b>30</b> (1) (2025): 3–19.
					</li>
					<li>
						Paull, John. 2011. ‘The Making of an Agricultural Classic: Farmers of Forty Centuries or Permanent Agriculture in China, Korea and Japan, 1911–2011’. <i>Agricultural Science</i> <b>2</b> (3): 175–80.
					</li>
					<li>
						Polatsek, Omri. 2023. Fertilizer, Manure and Citrus in British-Ruled Palestine, 1918–1939. MA Thesis, Freie Universität Berlin.
					</li>
					<li>
						Rabbani, K.R. et al. 1983. <i>Environmental Sanitation Reviews: Composting of Domestic Refuse</i>. Environmental Sanitation Information Center, Asian Institute of Technology.
					</li>
					<li>
						Stoll, Steven. 2002. <i>Larding the Lean Earth: Soil and Society in Nineteenth-Century America</i>. New York: Hill and Wang.
					</li>
					<li>
						Treitel, Corinna. 2017. <i>Eating Nature in Modern Germany: Food, Agriculture and Environment, c.1870–2000</i>. Cambridge: Cambridge University Press.
					</li>
				</ul>
			</LongFormContent>
		</PageContent>
	</main>
</Layout>
