---
const {
    unit,
    links,
} = Astro.props;

const starSvg = (await import("../assets/star.svg?raw")).default;
---
<div class="container">
    <div class="headline">Unit Outline</div>
    <ol class={`shortcut-list unit-${unit}`}>
        {links.map((link, idx) => (
            <li>
                <a href={`#day-${idx + 1}`}>{link}</a>
            </li>
        ))}
    </ol>
    <div class="horizontal-stars">
        <span set:html={starSvg} />
        <span set:html={starSvg} />
        <span set:html={starSvg} />
    </div>
</div>

<style>
div.container {
    float: right;
    margin: 0 0 2rem 2rem;
    max-width: 33.333%;
}

div.headline {
    color: var(--primary-text-color);
    font-family: 'Paix', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
}

ol.shortcut-list {
    counter-reset: list;
    font-size: 1.2rem;
    list-style-type: none;
    padding-left: 0;
}

li {
    counter-increment: list;
    line-height: 145%;
    margin-bottom: .5em;
    padding-left: 1rem;
}

li::before {
    content: counter(list) ". ";
    color: var(--tertiary-text-color);
    margin-left: -1rem;
}

ol.unit-1 a {
    color: var(--accent-outline-unit-1);
    text-decoration-color: var(--accent-srgb-highlight-unit-1);
    text-decoration-color: var(--accent-p3-highlight-unit-1);
    transition: .1s all ease;
}
ol.unit-1 a:hover {
    color: var(--accent-color-unit-1);
}
ol.unit-2 a {
    color: var(--accent-outline-unit-2);
    text-decoration-color: var(--accent-srgb-highlight-unit-2);
    text-decoration-color: var(--accent-p3-highlight-unit-2);
    transition: .1s all ease;
}
ol.unit-2 a:hover {
    color: var(--accent-color-unit-2);
}
ol.unit-3 a {
    color: var(--accent-outline-unit-3);
    text-decoration-color: var(--accent-srgb-highlight-unit-3);
    text-decoration-color: var(--accent-p3-highlight-unit-3);
    transition: .1s all ease;
}
ol.unit-3 a:hover {
    color: var(--accent-color-unit-3);
}
ol.unit-4 a {
    color: var(--accent-outline-unit-4);
    text-decoration-color: var(--accent-srgb-highlight-unit-4);
    text-decoration-color: var(--accent-p3-highlight-unit-4);
    transition: .1s all ease;
}
ol.unit-4 a:hover {
    color: var(--accent-color-unit-4);
}

.horizontal-stars {
    column-gap: .5rem;
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
}

.horizontal-stars span {
    display: block;
    width: 1.5rem;
}

.horizontal-stars span :global(svg path) {
    fill: var(--decorative-warm-gray);
}
</style>