---
const {
    unit,
    day,
    headline,
} = Astro.props;
---
<div class={`unit-day unit-${unit}`}>
    <div class="overlay">
        <div class="header-frame">
            <div class="illustration-block">
                <img
                        class="illustration"
                        aria-role="presentation"
                        alt=""
                        src={`/images/unit-${unit}/day-${day}-color.jpg`}
                />
            </div>
            <div class="text-block">
                <div class="header-title">
                    <h2 id={`day-${day}`}>Day {day}: {headline}</h2>
                </div>
                <div class="intro">
                    <slot name="intro" />
                </div>
            </div>
        </div>
        <div class="content-frame">
            <div class="content">
                <slot />
            </div>
        </div>
        <div class="underlay">
            <img
                    aria-hidden="true"
                    alt=""
                    src={`/images/unit-${unit}/day-${day}.png`}
            />
        </div>
    </div>
</div>

<style>
.unit-day {
    margin: 4rem auto 8rem auto;
    max-width: var(--max-page-width);
    position: relative;
    width: 100%;
}

.overlay {
    position: relative;
    z-index: 1;
}

.underlay {
    position: absolute;
    top: 100px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
}

.underlay img {
    position: sticky;
    top: 40px;
    margin-top: 200px;
    margin-left: -140px;
    height: 600px;
    opacity: 0.3;
}

.header-frame {
    position: relative;
    z-index: 1;
}

.header-title {
    border-style: solid;
    border-width: 0 0 4px 0;
    border-color: var(--secondary-text-color);
    margin: 2rem 0;
    padding: 0;
}

.illustration-block {
    background-color: white;
    float: right;
    padding: 0 0 2rem 2rem;
}

.illustration-block img.illustration {
    max-height: 500px;
    max-width: 500px;
}

h2 {
    border-style: solid;
    border-width: 0 0 1px 0;
    color: var(--primary-text-color);
    font-size: 2rem;
    font-weight: 300;
    margin: 0;
    padding-bottom: 1rem;
}

.unit-day h2 {
    border-color: var(--tertiary-text-color);
}

.content-frame {
    clear: right;
    position: relative;
        top: 0;
    margin: 0;
    padding: 4rem 2rem;
}

.content-frame .content {
    position: relative;
    z-index: 1;
}

.unit-day :global(p) {
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 140%;
    max-width: 760px;
}
</style>